.title-md { //material design only
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;    
    text-transform: uppercase;
    z-index: -1;
}

.button {
    height: 48px;
    text-transform: uppercase;

    &.button-clear-md {
        text-transform: none;
        letter-spacing: 1px;
    }
}

.login-box {
    border-radius: 50px;
    margin-top: 20px;
    padding: 40px 30px 20px 30px;
    position: relative;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.2);
}

.form-round {
    .item-md {
        border-radius: 50px;
        font-size: 14px;
    }
}

.item-toggle.item-md.item-block {
    background-color: transparent;
    padding-left: 0px;
    font-size: 14px;
    color: $text-main;

    .item-inner {
        border: none;
    }
}

.alert-md { 
    .alert-radio-group {
        border: none;
        padding-left: 10px;
    }

    .alert-button.cancel-button {
        color: #aaa;
    }

    .alert-button.ok-button {
        font-weight: bold;
    }

    .alert-sub-title {
        font-size: 14px;
        color: #888;
    }

    .alert-input:focus {
        border-bottom: 1px solid #dedede;
    }    
}

.logo-bg.content {
    background: url('../assets/imgs/bg3.jpg') no-repeat center;
    background-size: cover;
}  

.header-avatar {
    img.avatar {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        position: absolute;
        right: 10px;
        top: 8px;
    }

    img.logo {
        width: 38px;
        height: 38px;
        position: absolute;
        left: 10px;
        top: 8px;
    }

    p {
        color: #f1f1f1;
        font-size: 11px;
        margin: 0px 0px 2px 0px;
        text-align: right;
        position: relative;
        right: 55px;
        letter-spacing: 0.5px;

        &.name {
            font-weight: bold;
        }
    }
}

.platform-ios .header-avatar {
    img.avatar,
    img.logo {
        top: 28px;
    }
}

.list-header-md {
    margin: 0px;
}

.sync-loading.loading-md .loading-wrapper {
    background: rgba(255, 255, 255, 0.9) ;
    max-width: 100%;
    width: 100%;
    text-align: center;
    border-radius: 0px;
}

.logout-popover {
    top: 20px;
}

body.keyboard-is-open .tabbar {
    display: none;
}
  
body.keyboard-is-open .scroll-content {
    margin-bottom: 0 !important;
}

body.keyboard-is-open ion-tabbar {
    display: none;
}
  
body.keyboard-is-open scroll-content {
    margin-bottom: 0 !important;
}

.keyboard-open .tabs{
    display:none;
}

.keyboard-open .has-tabs{
    bottom:0;
}

body.keyboard-open .has-footer{ 
    bottom: 0;
}

body.keyboard-is-open .hideElementOnKeyboardShown{
    display: none;        
}

.error-message{
    color: #ff0000;
    font-size: 14px;
    text-align: left;
    margin-left: 17px;
}

.error-icon{
    font-size: 1.5em;
}

.space{
    padding-left: 0.0em;
}

.center{
    text-align: center;
}