<div [formControl]="formulario">
  <div class="form-group">
    <app-label [title]="'Origem'" [required]="true"></app-label>
    <select id="origem" formControlName="origem" [name]="origem" class="form-control" (change)="carregarNaturezasPorOrigem();">
      <option *ngFor="let o of origens" [ngValue]="o.id">{{o.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <app-label [title]="'Natureza'" [required]="true"></app-label>
    <select id="natureza" formControlName="natureza" [name]="natureza" class="form-control" (change)="carregarAssuntoPorNatureza();">
      <option *ngFor="let n of naturezas" [ngValue]="n.id">{{n.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <app-label [title]="'Assunto'" [required]="true"></app-label>
    <select class="form-control" formControlName="assunto" [name]="assunto" (change)="carregarItemPorAssunto();">
      <option *ngFor="let a of assuntos" [ngValue]="a.id">{{a.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <app-label [title]="'Item'" [required]="true"></app-label>
    <select id="item" formControlName="item" [name]="item" class="form-control" (change)="carregarMotivoPorItem();">
      <option *ngFor="let i of itens" [ngValue]="i.id">{{i.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <app-label [title]="'Motivo'" [required]="true"></app-label>
    <select id="motivo" formControlName="motivo" [name]="motivo" class="form-control" (change)="selecionarClassificacao();">
      <option *ngFor="let m of motivos" [ngValue]="m.id">{{m.nome}}</option>
    </select>
  </div>
</div>