.jumbotron {
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.table{
	margin-top: 20px;
}
.form-control{
	margin-bottom: 5px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#btn{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.selecionado{
	background-color: #f2dede;
}
.selecionado:hover,
.selecionado:focus {
	background-color: #c9302c;
}
.negrito{
	font-weight: bold;
}
.tdx{
	text-align: left;
}
.thx{
	text-align: left;
}
#link{ 
	text-decoration:none; 
	color:#000000; 
} 

.modalzao{
	width: 55%;
	margin-left: auto;
	margin-right: auto;	
}