.ui-alert{
	background-color: #F2DEDE;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	position: relative;
}

.ui-alert-title{
	color: #AF4341;
	font-weight: bold;
	font-size: 26px;
}

.ui-alert-message{
	color: #AF4341;
}

.ui-accordion-title {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	background: #CCCCCC;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
	text-align: left;
	width: 90%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	position: relative;
}

.ui-accordion-content {
	border: 1px dashed #CCCCCC;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
	width: 90%;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	position: relative;
}
