<div *ngFor="let item of items" class="confirm-message modal" role="dialog" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<h5 class="modal-header">
				{{item.title}}
			</h5>
			<div class="modal-body">{{item.msg}}</div>
			<div class="modal-footer">
				<div class="text-center" *ngIf="item.isConfirmTypeOk()">
					<button id="btnOk" type="button" class="btn btn-primary" (click)="confirmYesOk(item)">{{'LABEL_CONFIRM_OK' | i18n}}</button>
				</div>

				<div class="text-center" *ngIf="item.isConfirmTypeYesNo()">
					<button id="btnOk" type="button" class="btn btn-default" (click)="confirmYesOk(item)">{{item.strBtnOk}}</button>
					<button type="button" class="btn btn-default" (click)="confirmNo(item)">{{item.strBtnCancel}}</button>
				</div>
			</div>
		</div>
	</div>
</div>