/* ------------- Message ------------- */
.confirm-message.modal {
    display: block;
}

.confirm-message .modal-dialog {
    margin-top: 10%;
}

.confirm-message h5.modal-header {
    font-weight: bolder;
}

.confirm-message .modal-footer {
    border: none;
}
