<div class="example-table-container col-md-12">
  <mat-table matSort 
             [dataSource]="dataSource" 
             class="example-table" 
             [matSortActive]="matSortActive" 
             [matSortDirection]="matSortDirection"
             matSortDisableClear>
    <ng-container *ngFor="let col of columns">  
      <ng-container [matColumnDef]="getValue(col)">
        <mat-header-cell mat-sort-header 
                         *matHeaderCellDef>
          {{ getDescription(col) }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="!isActionDelete(col)">{{ row[getValue(col)] }}</span>
          <ic-button *ngIf="isActionDelete(col)"
                     [id]="'btn_delete'"
                     [title]="titleDelete"
                     [clazz]="['btn', 'btn-danger']"
                     [clazzIcon]="['glyphicon', 'glyphicon-trash']"
                     (eventClick)="deleteRow($event, row)">
          </ic-button>
          <span *ngIf="isActionDelete(col) && isActionEdit(col)">&nbsp;</span>
          <ic-button *ngIf="isActionEdit(col)"
                     [id]="'btn_edit'"
                     [title]="titleEdit"
                     [clazz]="['btn', 'btn-warning']"
                     [clazzIcon]="['glyphicon', 'glyphicon-pencil']"
                     (eventClick)="editRow($event, row)">
          </ic-button>
        </mat-cell>
      </ng-container>
    </ng-container> 

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-label *ngIf="!list?.length" class="col-md-12 font-radio-color">{{ msgNoResult() }}</mat-label>
</div>