<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" name="form" [style.fontSize.px]="16">
            <ic-input-text placeholder="Campanha"
                           [value]="getNameCampanha()"
                           [readOnly]="true"
                           [clazz]="['col-md-12']">
            </ic-input-text>
        </form>

        <ic-input-text [form]="form"
                       [name]="nameMatricula"
                       [required]="true"
                       placeholder="Matrícula"
                       [clazz]="['col-md-6']">
        </ic-input-text>

        <ic-input-cpf [form]="form"
                      [name]="nameCpf"
                      [required]="true"
                      placeholder="CPF"
                      [clazz]="['col-md-6']"
                      [value]="cpf"
                      [disabled]="true">
        </ic-input-cpf>

        <ic-input-text [form]="form"
                       [name]="nameNome"
                       [required]="true"
                       placeholder="Nome"
                       [clazz]="['col-md-12']">
        </ic-input-text>

        <div class="col-md-12">
          <ic-input-radio [form]="form"
                          [name]="nameDependente"
                          [required]="true"
                          label="Dependente"
                          [clazz]="['col-md-6']"
                          [options]="simNaoList()"
                          [value]="'bool'"
                          [text]="'text'"
                          [checked]="getNao()"
                          (eventChange)="changeDependente($event)">
          </ic-input-radio>

          <div *ngIf="isDependente()">
            <ic-input-cpf [form]="form"
                          [name]="nameCpfresp"
                          [required]="isDependente()"
                          placeholder="CPF Responsável"
                          [clazz]="['col-md-6']">
            </ic-input-cpf>
          </div>
        </div>
        <ic-input-date [form]="form"
                       [name]="nameDtnasc"
                       [required]="true"
                       placeholder="Data Nascimento"
                       [maxDate]="currentDate"
                       [clazz]="['col-md-6']">
        </ic-input-date>

        <ic-input-select [form]="form"
                         [name]="nameSexo"
                         [required]="true"
                         placeholder="Sexo"
                         [value]="'value'"
                         [text]="'text'"
                         [clazz]="['col-md-6']"
                         [options]="sexoList()">
        </ic-input-select>

        <ic-input-email [form]="form"
                        [name]="nameEmail"
                        [required]="true"
                        placeholder="E-mail"
                        [clazz]="['col-md-6']">
        </ic-input-email>

        <ic-input-select [form]="form"
                         [name]="nameCnpj"
                         [required]="true"
                         placeholder="CNPJ"
                         [clazz]="['col-md-6']"
                         [options]="filiais"
                         [text]="['cnpj', 'filial']"
                         [concat]="' - '"
                         [value]="'cnpj'">
        </ic-input-select>
      </div>
      <div class="modal-footer modal-footer-display">
        <ic-button [text]="'Salvar'"
                   [clazz]="['btn', 'btn-primary', 'btn-space']"
                   (eventClick)="save($event)">
        </ic-button>

        <ic-button [text]="'Cancelar'"
                   [clazz]="['btn', 'btn-danger', 'btn-space']"
                   (eventClick)="hide($event)">
        </ic-button>
      </div>
    </div>
  </div>
</div>