<div class="box-header with-border">
    <h3 class="box-title">{{title}}</h3>
</div>

<div class="box-body">
    <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="20">
        
            <mat-form-field class="field">
                <input matInput placeholder="Razão Social" [formControlName]="razaoSocial" minlength="1">
                <mat-error>
                    {{ msgRequiredField() }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <input 
                type="text" matInput placeholder="CNPJ" [formControlName]="cnpj" minlength="1"
                mask="00.000.000/0000-00">
                <mat-error>
                    {{ msgRequiredField() }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <mat-select matInput placeholder="Tipo" [formControlName]="tipo">
                    <mat-option *ngFor="let tipoParceiro of tipoParceiroList()" [value]="tipoParceiro">
                        {{tipoParceiro}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    {{ msgRequiredField() }}
                  </mat-error>
            </mat-form-field>

            <mat-form-field class="field">
                <input matInput placeholder="Responsável" [formControlName]="responsavel" minlength="1">
                <mat-error>
                    {{ msgRequiredField() }}
                  </mat-error>
            </mat-form-field>

            <div class="col-md-6 no-padding-right">
                <mat-form-field class="field">
                    <input matInput placeholder="E-mail" [formControlName]="email" minlength="1">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 no-padding-left">
                <mat-form-field class="field">
                    <input type="text" matInput placeholder="Telefone" [formControlName]="telefone" minlength="1"
                    mask="(00)00000-0000">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-4 no-padding-right">
                <mat-form-field class="field">
                    <input type="text" matInput placeholder="Cep" [formControlName]="cep" minlength="1" mask="00000-00000"
                        (blur)="getEnderecePorCep()">
                        <mat-error>
                            {{ msgRequiredField() }}
                          </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="field">
                <input matInput placeholder="Endereço" [formControlName]="endereco" minlength="1">
                <mat-error>
                    {{ msgRequiredField() }}
                  </mat-error>
            </mat-form-field>

            <div class="col-md-4 no-padding-center">
                <mat-form-field class="field">
                    <input type="text" matInput placeholder="Número" [formControlName]="numero" minlength="1" maxlength="20">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
                
            </div>

            <div class="col-md-4 no-padding-left">
                <mat-form-field class="field">
                    <input matInput placeholder="Complemento" [formControlName]="complemento" minlength="1">
                </mat-form-field>
            </div>

            <div class="col-md-4 no-padding-right">
                <mat-form-field class="field">
                    <input matInput placeholder="Bairro" [formControlName]="bairro" minlength="1">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-4 no-padding-center">
                <mat-form-field class="field">
                    <input matInput placeholder="Cidade" [formControlName]="cidade" minlength="1">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-4 no-padding-left">
                <mat-form-field class="field">
                    <input matInput placeholder="Estado" [formControlName]="estado" minlength="1" maxlength="2">
                    <mat-error>
                        {{ msgRequiredField() }}
                      </mat-error>
                </mat-form-field>
            </div>
        <div class=text-right>
            <label class="btn btn-primary btn-space">
                Salvar
                <input type="submit" style="display: none;">
            </label>

            <label class="btn btn-danger btn-space" (click)="voltar()">
                Voltar
                <input type="button" style="display: none;">
            </label>
        </div>

    </form>


</div>