<!DOCTYPE html>
<html ng-app="cadCalculadora">
<head>

	<script src="lib/angular.js"></script>
<script>
angular.module("cadCalculadora", []);

angular.module("cadCalculadora").controller("cadCalculadoraCtrl", function($http, $scope, $filter, $element, $parse){
	$scope.mensagem = "Olá usuário!";


});


angular.module("cadCalculadora").directive("uiNumber", function ($filter) {
	return {
		require: "ngModel",
		link: function (scope, element, attrs, ctrl) {
			var _formatNumber = function (number) {
				if (!number) return number;
				number = number.replace(/[^0-9,/,-,+,*]+/g, "");

				var n = false;
				var a = "";
				var b = "";
				var op = "";

				for(var i = 0; i <= number.length; i++){
					if(!isNaN(parseInt(number.charAt(i))) && (angular.isNumber(parseInt(number.charAt(i))))) {
						if(n){
							b += number.charAt(i);
						}else{
							a += number.charAt(i);
						}
					}else{
						if(number.charAt(i) != ""){
							if(n){
								number = number.substring(0,i);
							}

							op = number.charAt(i);
							n = true;
						}
						
					}
				}				

				scope.calculadora1.a = a;
				scope.calculadora1.operacao = op;
				scope.calculadora1.b = b;

				if(scope.calculadora1.operacao === "/" && scope.calculadora1.b === '0'){
					alert("Não há divisão por zero. Por favor, selecione outro número!");
					number = "";
				}

				return number;
			};

			element.bind("keyup", function () {
				ctrl.$setViewValue(_formatNumber(ctrl.$viewValue));
				ctrl.$render();
			});
		}
	};
});	

</script>

	<title>Calculadora</title>


	<style>
		.body{
			margin-left: auto;
			margin-right: auto;
		}

	</style>
</head>
<body>

<div style="background-color: gray; border-radius: 10px; text-align: center; height: 250px; border: 3px solid black">

	<h1 style="position: relative; display: block; background-color: white; margin-top: 10px; margin-bottom: 5px; border: 3px solid black">Calculadora</h1>
	<p>{{mensagem}}</p>
	<div name="form" style="background-color: lightgrey; margin-top: 5px; margin-bottom: 5px; position: relative; border: 3px solid black; padding: 5px;" ng-controller="cadCalculadoraCtrl">
		<form name="cadCalculadora">
			<!--<label>A:</label><input type="text" name="numa" ng-model="calculadora1.a" ui-number ng-required="true"><br>
			<label>B: </label><input type="text" name="numb" ng-model="calculadora1.b" ui-number ng-required="true"><br>
			<label>Operação: </label>
			<select ng-model="calculadora1.operacao" ng-required="true">
				<option select="selected">+</option>
				<option>-</option>
				<option>*</option>
				<option>/</option>
			</select>-->
			<input type="text" name="num" ng-model="calculadora1.equacao" ui-number ng-required="true">
			<br>
			<div ng-show="cadCalculadora.$valid && (calculadora1.b != '' && calculadora1.a != '') && !(calculadora1.b == 0 && calculadora1.operacao == '/')" style="border-radius: 10px; border: 3px solid white; background-color: black; color: white; font-size: 32px;">
			{{calculadora1.a + " " + calculadora1.operacao + " " + calculadora1.b + " = "}}
			<div style="display: inline;" ng-show="calculadora1.operacao == '+'">{{calculadora1.a -- calculadora1.b | number: 2}}</div>
			<div style="display: inline;" ng-show="calculadora1.operacao == '-'">{{calculadora1.a - calculadora1.b | number: 2}}</div>
			<div style="display: inline;" ng-show="calculadora1.operacao == '*'">{{calculadora1.a * calculadora1.b | number: 2}}</div>
			<div style="display: inline;" ng-show="calculadora1.operacao == '/' && calculadora1.b != 0">{{calculadora1.a / calculadora1.b | number: 2}}</div>
			</div>
			<br>
		</form>
	</div>


</div>
</body>
</html>