<div class="alert-message">
	<div [@slideInOut]="" *ngFor="let item of items" (click)="removeMsg(item)" class="alert alert-dismissible {{item.type}}"
	 role="alert">
		<button type="button" class="close" aria-label="close" data-dismiss="alert">
			<span aria-hidden="true">×</span>
		</button>
		<span class='item-msg' [innerHTML]="item.msg"></span>
	</div>
</div>