<!-- Page Header-->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">{{titulo}} Ocorrencia</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Ocorrencia</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form">
      <fieldset>
        <div class="col-md-10">
          <app-label class="col-md-2"[title]="'Solicitante'" [required]="true"></app-label>
          <div class="clearfix"></div>  
          <div class="col-md-8">
            <label class="form-check-inline">
              <input formControlName="solicitante" class="form-check-input" type="radio" name="solicitante" value="identificado"
                [(ngModel)]="ocorrencia.solicitante">
              C888888 - HARDCODED
            </label>
            <label class="form-check-inline">
              <input formControlName="solicitante" class="form-check-input" type="radio" name="solicitante" value="anonimo"
                [(ngModel)]="ocorrencia.solicitante">
              Anônimo - HARDCODED
            </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <fieldset title="Classificação">
          <div class="col-md-8">
            <div class="col-md-4">
              <app-label [title]="'Origem'" [required]="true"></app-label>
              <select id="origem" formControlName="origem" [name]="origem" class="form-control" (change)="carregarNaturezasPorOrigem();">
                <option *ngFor="let o of origens" [ngValue]="o.id">{{o.nome}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <app-label [title]="'Natureza'" [required]="true"></app-label>
              <select id="natureza" formControlName="natureza" [name]="natureza" class="form-control" (change)="carregarAssuntosPorNatureza(value);">
                <option *ngFor="let n of naturezas" [ngValue]="n.id">{{n.nome}}</option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
            <div class="col-md-4">
              <app-label [title]="'Assunto'" [required]="true"></app-label>
              <select class="form-control" formControlName="assunto" [name]="assunto" (change)="carregarItensPorAssunto(this);">
                <option *ngFor="let a of assuntos" [ngValue]="a.id">{{a.noAssunto}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <app-label [title]="'Item'" [required]="true"></app-label>
              <select id="item" formControlName="item" [name]="item" class="form-control" (change)="carregarMotivosPorItem(value);">
                <option *ngFor="let i of itens" [ngValue]="i.id">{{i.nome}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <app-label [title]="'Motivo'" [required]="true"></app-label>
              <select id="motivo" formControlName="motivo" [name]="motivo" class="form-control" (change)="selecionarClassificacao();">
                <option *ngFor="let m of motivos" [ngValue]="m.id">{{m.nome}}</option>
              </select>
            </div>
          </div>
        </fieldset>
        <div class="clearfix"></div>
        <div class="col-md-2">
          <app-label [title]="'Prazo de Solução'"></app-label>
          <input id="prazoSolucao" formControlName="prazoSolucao" class="form-control" type="text" [(ngModel)]="ocorrencia.prazoSolucao">
        </div>
        <div class="col-md-8">
          <app-label [title]="'Manifesto'" [required]="true"></app-label>
          <textarea id="manifesto" class="form-control" rows="5" formControlName="manifesto" [(ngModel)]="ocorrencia.descManifesto">
            </textarea>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="salvar()">
              <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar Inclusão
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
            </button>
            <button class="btn btn-primary" (click)="voltar()">
              <span class="fa fa-backward fa-fw"></span>&nbsp;Voltar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<named-outlet name="footer"></named-outlet>