<!-- Page Header-->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">Consultar Assunto</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consultar Assunto</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form">
      <fieldset>
        <div class="col-md-5">
          <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, 'nome')">
            <app-required-label [title]="'Assunto'"></app-required-label>
            <input id="nome"
                   formControlName="nome"
                   name="nome"
                   class="form-control"
                   type="text"
                   maxlength="100"
                   [(ngModel)]="assunto.noAssunto">
            <app-required-field [show]="validaSeCampoValido(formulario, 'nome')"></app-required-field>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Situação</label>
            <select id="situacao"
                    formControlName="situacao"
                    class="form-control"
                    [(ngModel)]="assunto.ativo">
              <option [ngValue]="null">
                Selecione
              </option>
              <option *ngFor="let s of situacoes"
                      [ngValue]="s.value">
                {{s.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="consultar()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Assuntos Cadastrados
            </button>
            <button class="btn btn-primary" (click)="incluir()">
              <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Novo Assunto
            </button>
            <button class="btn btn-primary" (click)="historico()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Histórico de Assunto
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
            </button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="table-responsive">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th class="text-center" style="vertical-align: middle">Assunto</th>
            <th class="text-center" style="vertical-align: middle">Situação</th>
            <th class="text-center" style="vertical-align: middle">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assunto of assuntos | paginate: { itemsPerPage: itens, currentPage: pagina }">
            <td class="text-center">{{assunto.noAssunto}}</td>
            <td class="text-center">{{assunto.descricaoSituacao}}</td>
            <td class="text-center">
              <button class="btn btn-warning" (click)="alterar(assunto)">
                <span class="fa fa-pencil fa-fw"></span>
              </button>&nbsp;
              <button class="btn btn-danger" (click)="excluir(assunto)">
                <span class="fa fa-trash fa-fw"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-4">
        <select *ngIf="assuntos" #selectElem class="selectElem" (change)="itens = $event.target.value">
          <option class="selectElem" [value]="5">5</option>
          <option class="selectElem" [value]="10">10</option>
          <option class="selectElem" [value]="50">50</option>
          <option class="selectElem" [value]="100">100</option>
        </select>
      </div>
      <div>
        <pagination-controls *ngIf="assuntos" class="col-md-6.5 pull-right" (pageChange)="pagina = $event;"
          previousLabel="anterior" nextLabel="próximo"></pagination-controls>
      </div>
    </div>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
