<ion-header>
    <ion-navbar color="clean" class="header-avatar">
        <img class="logo" src="assets/imgs/logo.png"/>
        <ion-title></ion-title>
        <img class="avatar" src="assets/imgs/profile.png" (click)="showPopover($event)"/>
        <p class="name">{{user?.nome}}</p>
        <p class="profile">Perfil: {{user?.perfil}}</p>
    </ion-navbar>
</ion-header>

<ion-content class="logo-bg">
    <div class="search-content">
        <p class="title">Identificação</p>
        <ion-item>
            <ion-label><ion-icon name="search"></ion-icon></ion-label>
            <ion-input #barsearch type="tel" placeholder="Informe a identificação" [(ngModel)]="cpf_campaign" (keyup)="cpfMask(cpf_campaign)" clearInput="true"></ion-input>
        </ion-item>
    </div>
</ion-content>
