page-vaccination {
    .search-button {
        padding: 0px 8px;
    }

    .search-content {
        padding: 40px 20px;
        background: rgba(255, 255, 255, 0.5);

        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0px 0px 5px 0px;
        }

        .item-md {
            .item-inner {
                border: none;
            }
        }
    }
}
