<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <input matInput 
           [placeholder]="placeholder" 
           [formControlName]="name" 
           minlength="{{ minlength }}" 
           maxlength="{{ maxlength }}"
           [mask]="telefoneMask"
           (ngModelChange)="onChangeTelefone($event)">
    <mat-error>
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>