<!-- Page Header-->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">{{titulo}} Ocorrencia</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Ocorrencia</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form-group">
      <fieldset>
        <div class="col-md-12">
          <button class="btn btn-primary">Consulta Simplificada</button>
          <button class="btn btn-primary">Consulta Avançada</button>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4" [ngClass]="aplicaClasseDeErro(formulario, 'tipoOcorrencia')">
          <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
          <br />
          <ng-container *ngFor="let t of tiposOcorrencia">
            <label class="radio-inline">
              <input type="radio" [id]="t.id" formControlName="tipoOcorrencia" name="tipoOcorrencia" [value]="t.id"
                [(ngModel)]="parametros.classificacao.idTipoOcorrencia" (change)="configurarClassificacaoForm();">
              <label class="label-normal" for="{{ t.id }}">{{ t.nome }}</label>
            </label>
          </ng-container>
          <app-required-field [show]="validaSeCampoValido(formulario, 'tipoOcorrencia')"></app-required-field>
        </div>

        <div class="form-group col-md-4" [ngClass]="aplicaClasseDeErro(formulario, 'tipoDemanda')">
          <app-required-label [title]="'Tipo de Demanda'"></app-required-label>
          <br />
          <label class="label-normal" style="padding-right:15px">
            <input formControlName="tipoDemanda" class="form-check-input" type="checkbox" name="tipoDemanda" value="1" style="margin-right:5px">
            Ocorrências
          </label>
          <label class="label-normal">
            <input formControlName="tipoDemanda" class="form-check-input" type="checkbox" name="tipoDemanda" value="2" style="margin-right:5px">
            Demanda de Acompanhamento
          </label>
          <app-required-field [show]="validaSeCampoValido(formulario, 'tipoDemanda')"></app-required-field>
        </div>

        <div class="col-md-2" [ngClass]="aplicaClasseDeErro(formulario, 'dtInicioPeriodo')">
          <app-label [title]="'Data Inicial'" [required]="true"></app-label>
          <input id="dtInicioPeriodo" formControlName="dtInicioPeriodo" name="dtInicioPeriodo" class="form-control"
            type="date" maxlength="12" [(ngModel)]="parametros.dtInicioPeriodo" style="width:170px !important">
          <app-required-field [show]="validaSeCampoValido(formulario, 'dtInicioPeriodo')"></app-required-field>
        </div>
        <div class="col-md-2" [ngClass]="aplicaClasseDeErro(formulario, 'dtFimPeriodo')">
            <app-label [title]="'Data Final'" [required]="true"></app-label>
          <input id="dtFimPeriodo" formControlName="dtFimPeriodo" name="dtFimPeriodo" class="form-control" type="date"
            maxlength="12" [(ngModel)]="parametros.dtFimPeriodo" style="width:170px !important">
          <app-required-field [show]="validaSeCampoValido(formulario, 'dtFimPeriodo')"></app-required-field>
        </div>

        <div class="clearfix"></div>
        <div class="form-group col-md-4">
          <app-label [title]="'CPF'"></app-label>
          <br />
          <input id="cpf" formControlName="cpf" name="cpf" class="form-control" type="text" maxlength="15" [(ngModel)]="parametros.cpf">
          <app-required-field [show]="validaSeCampoValido(formulario, 'cpf')"></app-required-field>
        </div>

        <div class="form-group  col-md-4">
          <app-label [title]="'CNPJ'">
          </app-label>
          <br />
          <input id="cnpj" formControlName="cnpj" name="cnpj" class="form-control" type="text" maxlength="15"
            [(ngModel)]="parametros.cnpj">
          <app-required-field [show]="validaSeCampoValido(formulario, 'cnpj')"></app-required-field>
        </div>

        <div class="form-group col-md-4">
          <app-label [title]="'NIS/PIS'">
          </app-label>
          <br />
          <input id="nroNIS" formControlName="nroNIS" name="nroNIS" class="form-control" type="text" maxlength="11"
            [(ngModel)]="parametros.nroNIS">
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-md-4">
          <app-label [title]="'Número da Pré-Ocorrência/Pedido'"></app-label>
          <br />
          <input id="nroPreOcorrencia" formControlName="nroPreOcorrencia" name="nroPreOcorrencia" class="form-control"
            type="text" maxlength="10" [(ngModel)]="parametros.nroPreOcorrencia">
        </div>

        <div class="form-group col-md-4">
          <app-label [title]="'Número da Ocorrência'"></app-label>
          <br />
          <input id="nroOcorrencia" formControlName="nroOcorrencia" name="nroOcorrencia" class="form-control" type="text"
            maxlength="10" [(ngModel)]="parametros.nroOcorrencia">
        </div>

        <div class="form-group col-md-4">
          <app-label [title]="'Número do Protocolo SAC'"></app-label>
          <br />
          <input id="nroProtocoloSAC" formControlName="nroProtocoloSAC" name="nroProtocoloSAC" class="form-control"
            type="text" maxlength="16" [(ngModel)]="parametros.nroProtocoloSAC">
        </div>

        <div class="form-group col-md-4">
          <app-label [title]="'Matricula Solicitante'"></app-label>
          <br />
          <input id="matriculaSolicitante" formControlName="matriculaSolicitante" name="matriculaSolicitante" class="form-control"
            type="text" maxlength="7" [(ngModel)]="parametros.matriculaSolicitante">
        </div>

        <div class="col-md-4">
          <app-label [title]="'RDR'"></app-label>
          <input id="nroRDR" formControlName="nroRDR" class="form-control" type="text" maxlength="12" [(ngModel)]="parametros.nroRDR">
        </div>
        <div class="col-md-2">
          <app-label [title]="'&nbsp;'"></app-label>
          <select id="ufRDR" formControlName="ufRDR" class="form-control" (change)="mahChange();" [(ngModel)]="parametros.ufRDR">
            <option [ngValue]="null" selected>UF</option>
            <option *ngFor="let uf of ufs" [ngValue]="uf">{{uf.sgUf}}
            </option>
          </select>
        </div>

        <div class="clearfix"></div>
        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, 'pesquisaAvancada')">
          <app-label [title]="'Realizar Pesquisa Avançada'" [required]="true"></app-label>
          <div class="col-md-12">
            <label class="form-check-inline">
              <input formControlName="pesquisaAvancada" class="form-radio-input" type="radio" name="pesquisaAvancada"
                value="S" (ngModelChange)="changePesquisaAvancada();" [(ngModel)]="pesquisaAvancada">
              Sim
            </label>
            <label class="form-check-inline">
              <input formControlName="pesquisaAvancada" class="form-radio-input" type="radio" name="pesquisaAvancada"
                value="N" (ngModelChange)="changePesquisaAvancada();" [(ngModel)]="pesquisaAvancada">
              Não
            </label>
          </div>
          <app-required-field [show]="validaSeCampoValido(formulario, 'pesquisaAvancada')"></app-required-field>
        </div>

        <div>
          <!-- inicio pesquisa avançada -->
          <div class="form-group col-md-8" [ngClass]="aplicaClasseDeErro(formulario, 'nomeSolicitanteExterno')">
            <app-label [title]="'Solicitante '"></app-label>
            <input formControlName="nomeSolicitanteExterno" class="form-control" type="text" name="nomeSolicitanteExterno"
              [ngModel]="parametros.nomeSolicitanteExterno">
          </div>

          <div class="clearfix"></div>
          <div class="form-group col-md-2">
            <app-label [title]="'Unidade Destino'"></app-label>
            <input formControlName="unidadeDestinoSelecionada" class="form-control" type="text" name="unidadeDestinoSelecionada"
              maxlength="4">
          </div>

          <div class="form-group col-md-4">
            <app-label [title]="'&nbsp;'"></app-label>
            <input class="form-control" disabled value="Descrição da Unidade de Destino">
          </div>

          <div id="divBotoesUnidadeResponsavel" class="row col-md-2">
            <app-label [title]="'&nbsp;'"></app-label>
            <div>
              <button class="btn btn-primary" title="Selecionar Unidade">
                <span class="fa fa-search fa-fw"></span>
              </button>

              <button class="btn btn-success" title="Adicionar Unidade">
                <span class="fa fa-plus fa-fw"></span>
              </button>

              <button class="btn btn-danger" title="Limpar">
                <span class="fa fa-trash fa-fw"></span>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="table-responsive" style="padding-top: 20px" [hidden]="escondeTabelaUnidadesSelecionadas()">
            <table class="table table-striped table-sm table-hover">
              <thead>
                <th>Unidades</th>
                <th>Ação</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let t of tiposOcorrencia">
                  <tr>
                    <td>{{t.nome}}</td>
                    <td><button class="btn btn-danger">
                        <span class="fa fa-trash fa-fw"></span>
                      </button></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

          <div class="clearfix"></div>
          <div class="form-group col-md-6">
            <app-label [title]="'Origem'" [required]="true"></app-label>
            <select id="origem" formControlName="origem" [name]="origem" class="form-control" (change)="carregarNaturezasPorOrigem();"
              [(ngModel)]="parametros.classificacao.idOrigem">
              <option *ngFor="let o of origens" [ngValue]="o.id">{{o.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <app-label [title]="'Natureza'" [required]="true"></app-label>
            <select id="natureza" formControlName="natureza" [name]="natureza" class="form-control" (change)="carregarAssuntosPorNatureza(value);"
              [(ngModel)]="parametros.classificacao.idNatureza">
              <option *ngFor="let n of naturezas" [ngValue]="n.id">{{n.nome}}</option>
            </select>
          </div>

          <div class="clearfix"></div>
          <div class="form-group col-md-4">
            <app-label [title]="'Assunto'" [required]="true"></app-label>
            <select class="form-control" formControlName="assunto" [name]="assunto" (change)="carregarItensPorAssunto(this);"
              [(ngModel)]="parametros.classificacao.idAssunto">
              <option *ngFor="let a of assuntos" [ngValue]="a.id">{{a.noAssunto}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <app-label [title]="'Item'" [required]="true"></app-label>
            <select id="item" formControlName="item" [name]="item" class="form-control" (change)="carregarMotivosPorItem(value);"
              [(ngModel)]="parametros.classificacao.idItem">
              <option *ngFor="let i of itens" [ngValue]="i.id">{{i.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <app-label [title]="'Motivo'" [required]="true"></app-label>
            <select id="motivo" formControlName="motivo" [name]="motivo" class="form-control" (change)="selecionarClassificacao();"
              [(ngModel)]="parametros.classificacao.idMotivo">
              <option *ngFor="let m of motivos" [ngValue]="m.id">{{m.nome}}</option>
            </select>
          </div>

          <div class="clearfix"></div>
          <div class="form-group col-md-4">
            <app-label [title]="'Situação'"></app-label>
            <select id="situacao" formControlName="situacao" [name]="situacao" class="form-control" [(ngModel)]="parametros.situacao">
              <option *ngFor="let m of motivos" [ngValue]="m.id">{{m.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <app-label [title]="'Grau de Satisfação'"></app-label>
            <select id="grauSatisfacao" formControlName="grauSatisfacao" [name]="grauSatisfacao" class="form-control"
              [(ngModel)]="parametros.grauSatisfacao">
              <option *ngFor="let m of motivos" [ngValue]="m.id">{{m.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-4" [ngClass]="aplicaClasseDeErro(formulario, 'dtVencimento')">
            <app-label [title]="'Vencimento'" [required]="true"></app-label>
            <input id="dtVencimento" formControlName="dtVencimento" name="dtVencimento" class="form-control" type="date"
              maxlength="12" [(ngModel)]="parametros.dtVencimento">
            <app-required-field [show]="validaSeCampoValido(formulario, 'dtVencimento')"></app-required-field>
          </div>

          <div class="clearfix"></div>
          <div class="form-group col-md-12">
            <app-label [title]="'PROCON'"></app-label>
            <div>
              <div class="col-md-4" style="padding: 0px">
                <input id="nroProcon" formControlName="nroProcon" name="nroProcon" class="form-control" type="text"
                  maxlength="12" [(ngModel)]="parametros.nroProcon">
              </div>
              <div class="col-md-2">
                <select id="ufProcon" formControlName="ufProcon" class="form-control" [(ngModel)]="parametros.ufProcon">
                  <option [ngValue]="null">UF</option>
                  <option *ngFor="let uf of ufs" [ngValue]="uf">{{uf.sgUf}}
                  </option>
                </select>
              </div>
              <div class="col-md-4">
                <select id="localidadeProcon" formControlName="localidadeProcon" class="form-control" [(ngModel)]="parametros.localidadeProcon">
                  <option [ngValue]="null">Localidade</option>
                  <option *ngFor="let uf of ufs" [ngValue]="uf">{{uf.sgUf}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="form-group col-md-6">
            <app-label [title]="'Operador'"></app-label>
            <input id="operador" formControlName="operador" name="operador" class="form-control" type="text" maxlength="7"
              [(ngModel)]="parametros.operador">
          </div>
          <div class="form-group col-md-6">
            <app-label [title]="'Pendente'"></app-label>
            <select id="pendente" formControlName="pendente" class="form-control" [(ngModel)]="parametros.pendente">
              <option [ngValue]="null">Selecione</option>
              <option>Sim</option>
              <option>Não</option>
            </select>
          </div>
          <!-- fim pesquisa avançada -->
        </div>
      </fieldset>
      
      <button class="btn btn-primary" (click)="consultar()">
        <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar
      </button>
    </form>
  </div>
</section>

<named-outlet name="footer"></named-outlet>