<div [formGroup]="form" *ngIf="!readOnly">
  <mat-form-field [ngStyle]="style"
                  [ngClass]="clazz">
    <input matInput 
           [placeholder]="placeholder" 
           [formControlName]="name" 
           min="0"
           [type]="getType()"
           minlength="{{ minlength }}" 
           maxlength="{{ maxlength }}"
           (blur)="validateField(form, name, type)">
    <mat-icon *ngIf="isPassword()"
              matSuffix 
              (click)="changeType()">
      {{ hide ? 'visibility_off' : 'visibility' }}
    </mat-icon>
    <mat-error>
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>

<div *ngIf="readOnly">
  <mat-form-field [ngStyle]="style"
                  [ngClass]="clazz">
    <input matInput 
           [placeholder]="placeholder"
           [disabled]="true"
           [value]="value">
  </mat-form-field>
</div>