<button [id]="idRow([nameBtn, idBase, position])"
        [name]="idRow([nameBtn, idBase, position])"
        class="btn btn-success" 
        [title]="hintBtn"
        alt="Incluir Regra"		
        (click)="show()">
  <span class="fa fa-search fa-fw"></span>
</button>
<app-regra-direcionamento-modal [idBase]="idRow([idBase, position])"
                                [salvos]="getRegrasSalvas()"
                                (emitIdModal)="receberId($event)"
                                (selecionarRegras)="receberRegras($event)">
</app-regra-direcionamento-modal>