<section class="content-header">
  <div class="box-header with-border form-group">
    <form [formGroup]="imuForm" [style.fontSize.px]="16">
      <div class="row">
        <ic-input-select [form]="imuForm"
                         [name]="nameCampanha"
                         [required]="true"
                         placeholder="Campanha"
                         [clazz]="['col-md-10']"
                         [options]="listProdutos"
                         [text]="['cliente', 'campanha', 'produto']"
                         [concat]="' > '"
                         [value]="'produto_id'"
                         (eventChange)="emitSelecionaCampanha($event)">
        </ic-input-select>
      </div>
      <br>
      <div class="row">
        <ic-input-cpf [form]="imuForm"
                      [name]="nameSearchControl"
                      [required]="true"
                      placeholder="Informe CPF"
                      [clazz]="['col-sm-1', 'col-md-3', 'col-xs-4']">
        </ic-input-cpf>
        <div class="col-sm-1 col-md-3 col-xs-4">
          <button type="submit" 
                  [disabled]="imuForm.invalid" 
                  (click)="selecionarElegiveis()" 
                  class="btn btn-primary btn-block btn-flat">
            Buscar Elegíveis
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="content" *ngIf="elegiveis?.length">
  <div class="box box-info">
    <div class="row">
      <div class="col-sm-1 col-md-9 col-xs-9">
        <div class="box-body">
          <ic-vacinacao-elegiveis #ElegiveisBox 
                                   (imunizar)="ImunizacaoBox.receberElegivelParaImunizar()" 
                                   [elegiveis]="elegiveis">
          </ic-vacinacao-elegiveis>
        </div>
      </div>
      <div class="col-sm-1 col-md-3 col-xs-3">
        <div class="box-body">
          <ic-vacinacao-registro #ImunizacaoBox 
                                  (resetCPF)="reset()" 
                                  (retornarImunizacao)="ElegiveisBox.atualizarSituacaoImunizacao()">
          </ic-vacinacao-registro>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div></div>
  </div>
</section>
<ic-modal-elegivel [title]="'Incluir Novo Elegível'"
                   [campanha]="campanhaToModal"
                   [produto]="produtoToModal"
                   [pendenteAprovacao]="pendenteAprovacao"
                   [cpf]="cpfBusca"
                   (emitIdModal)="setIdModal($event)"
                   (submit)="receiveData($event)">
</ic-modal-elegivel>