<!-- Page Header-->
<div class="col-md-12">
  <ul class="breadcrumb">
	<a routerLink="/home">
	  Home
	</a>
	/ Unidade Sem Ocorrência
  </ul>
</div>

<ol class="breadcrumb">
<header class="breadcrumb">
	<div>
		<h2 class="no-margin-bottom">Unidade Sem Ocorrência</h2>
	</div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
	<app-siouv-table [dataList]="dataList"
					 (emitDelete)="excluir($event)">
	</app-siouv-table>
		
	<div class="row col-xs-12">
		<button [id]="idField(['btnModal'])"
				[name]="idField(['btnModal'])"
				[disabled]="disableModal()"
				class="btn btn-success"
				title="Inserir Nova Unidade Sem Ocorrencia"
				data-toggle="modal"
				[attr.data-target]="idHashtag(idModalUnidade)">
		<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Nova Unidade Sem Ocorrência
		</button>
	
	 
	<app-unidade-modal [idBase]="idUnidadeSemOcorrecia"
					   (emitIdModal)="receberIdModal($event)"
					   (selecionarUnidade)="receberUnidade($event)">
	</app-unidade-modal>	
	</div>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
