<!-- Page Header -->


<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Home</a>
	</li>
	<li class="breadcrumb-item active">Cadastrar Perfil &amp; Recurso</li>
</ol>
<header class="page-header">
	<div class="container-fluid">
		<h2 class="no-margin-bottom">Cadastrar Perfil &amp; Recurso</h2>
	</div>
</header>
<!-- Page Header -->

<section>
	<div class="container-fluid" style="min-height: 420px;">
		<form [formGroup]="formulario" name="form">
			<fieldset>
				<div class="form-group">
					<div class="row col-xs-4" [ngClass]="aplicaClasseDeErro(formulario, 'perfil')">
						<label class="control-label">Perfil<span style="color: red"> *</span></label>
						<select formControlName="perfil" [(ngModel)]="perfil" id="perfil" name="perfil" class="form-control" (change)="listarRecursos()">
							<option *ngFor="let p of perfis" [ngValue]="p">{{p.nome}}</option>
						</select>
						<div *ngIf="validaSeCampoValido(formulario, 'perfil')" class="alert alert-danger">Campo Obrigatório</div>
					</div>
					<div class="row col-xs-12">
						<app-datalist *ngIf="recursos" #datalistRecurso idList="datalistRecurso" titulo="Selecione os Recursos:"
						 tituloSelecionados="Recursos Selecionados:" [itens]="recursos" [selecionados]="recursosSelecionados"></app-datalist>
					</div>
					<div class="row col-xs-12">
						<button class="btn btn-warning" (click)="gravar()">
							<span class="fa fa-pencil fa-fw"></span>&nbsp;Gravar
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</section>

<named-outlet name="footer"></named-outlet>