<section class="box-header content login-content">
    <div class="login-logo">
        <img src="../../../../assets/img/logo-imuno-color-vetor 1.png" class="logo-alterar" alt="">
        <img src="../../../../assets/img/Care.png" class="sublogo-alterar" alt="">
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
        <p class="login-box-msg"> Por favor, informe email para continuar </p>

        <form [formGroup]="fpForm">
            <ic-input-container [showTip]="false">
                <input type="text" formControlName="email" class="form-control form-control-login" placeholder="Email">
             
            </ic-input-container>
            <div class="row">
                <div class="col-xs-4">
                    <a [routerLink]="['/login']">Voltar</a>
                </div>
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="submit" (click)="forgot()" [disabled]="fpForm.invalid" class="btn btn-imunoCare btn-block btn-flat">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</section>