<div [formGroup]="form">
  <ion-item [id]="getIdComponent('item')">
    <ion-label [id]="getIdComponent('label')"
               *ngIf="showLabel()"
               [color]="showError ? 'danger' : ''">
      <span *ngIf="required">*</span>{{ placeholder }}
    </ion-label>
    <ion-select [id]="id"
                [ngClass]="clazz"
                [formControlName]="name"
                [placeholder]="'Selecione'"
                [compareWith]="compareWith"
                [okText]="okText" 
                [cancelText]="cancelText"
                [selectOptions]="config"
                (ionChange)="emitOnChange($event)">
      <ion-option *ngIf="showNull"
                  [value]="getValue(null)">
        {{ nullText }}
      </ion-option>
      <ion-option *ngFor="let option of options" 
                  [value]="getValue(option)">
        {{ getText(option) }}
      </ion-option>
    </ion-select>
  </ion-item>
  <div class="error-message" 
       *ngIf="validateRequired()">
    <ion-icon name="alert" class="error-icon"></ion-icon>  {{ msgRequiredField() }}
  </div>
</div>