<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog" style="min-width: 69% !important;">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Selecionar Unidade</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUnidade" name="form">
          <fieldset>
            <div class="form-group">
              <div class="col-md-12">
                <div class="row col-md-4">
                  <label [for]="nameCodigo" class="control-label">Código</label>
                  <input [id]="getIdField(nameCodigo)" 
                         [formControlName]="nameCodigo" 
                         [name]="getIdField(nameCodigo)" 
                         class="form-control"
                         type="text" 
                         maxlength="4">
                </div>
              </div>
              <div class="col-md-12">
                <div class="row col-md-12">
                  <label [for]="getIdField(nameNome)" class="control-label">Nome</label>
                  <input [id]="getIdField(nameNome)" 
                         [formControlName]="nameNome" 
                         [name]="getIdField(nameNome)" 
                         class="form-control"
                         type="text" 
                         maxlength="50">
                </div>
              </div>
              <div class="col-md-12">
                <div class="row col-md-4">
                  <label [for]="getIdField(nameSigla)" class="control-label">Sigla</label>
                  <input [id]="getIdField(nameSigla)" 
                         [formControlName]="nameSigla" 
                         [name]="getIdField(nameSigla)" 
                         class="form-control"
                         type="text" 
                         maxlength="5">
                </div>
              </div>
              <div class="col-md-12">
                <div class="row col-md-4">
                  <label [for]="getIdField(nameUf)" class="control-label">UF</label>
                  <select [id]="getIdField(nameUf)" 
                          [formControlName]="nameUf" 
                          class="form-control">
                    <option [ngValue]="null">Selecione</option>
                    <option *ngFor="let uf of ufs" 
                            [ngValue]="uf.sgUf">
                      {{uf.sgUf}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row col-md-6">
                  <label class="control-label">Realiza pesquisa avançada?</label>
                  <br>
                  <ng-container *ngFor="let item of simNao">
                    <label class="radio-inline">
                      <input [id]="getIdField(item.value)"
                             [formControlName]="nameIsAvancada" 
                             [name]="nameIsAvancada" 
                             type="radio" 
                             [value]="item.value"
                             [checked]="item.value === isAvancada"
                             (change)="changeAvancada(item.value)" >
                      <label class="label-normal" for="{{ getIdField(item.value) }}">{{ item.text }}</label>
                    </label>
                  </ng-container>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="isShowAvancada()">
            <div class="form-group">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="row col-md-12">
                    <label [for]="getIdField(nameCidade)" class="control-label">Cidade</label>
                    <input [id]="getIdField(nameCidade)" 
                           [formControlName]="nameCidade" 
                           [name]="getIdField(nameCidade)" 
                           class="form-control"
                           type="text" 
                           maxlength="35">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row col-md-12">
                    <label [for]="getIdField(nameBairro)" class="control-label">Bairro</label>
                    <input [id]="getIdField(nameBairro)" 
                           [formControlName]="nameBairro" 
                           [name]="getIdField(nameBairro)" 
                           class="form-control"
                           type="text" 
                           maxlength="40">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row col-md-4">
                    <label [for]="getIdField(nameTipoUnidade)" class="control-label">Tipo de Unidade</label>
                    <select [id]="getIdField(nameTipoUnidade)" 
                            [formControlName]="nameTipoUnidade" 
                            class="form-control">
                      <option [ngValue]="null">Selecione</option>
                      <option *ngFor="let tipoUnidade of tiposUnidade" 
                              [ngValue]="tipoUnidade.id">
                        {{tipoUnidade.descricao}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <app-siouv-table [dataList]="dataList"
                           (emitSelect)="selecionar($event)">
          </app-siouv-table>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                (click)="pesquisar()">
          <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar
        </button>
        <button class="btn btn-primary" 
                (click)="pesquisarVinculadas()">
          <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Vinculadas
        </button>
        <button class="btn btn-primary" 
                (click)="limpar()">
          <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
        </button>
        <button class="btn btn-primary" 
                (click)="hide()">
          <span class="fa fa-reply"></span>&nbsp;Cancelar
        </button>
      </div>
    </div>
  </div>
</div>