<div class="box-header with-border">
  <h3 class="box-title">{{title}}</h3>
</div>

<div class="box-body">
  <ic-table [self]="this"
            [displayedColumns]="displayedColumns"
            [headers]="headers"
            [errorMessage]="errorMessage"
            [observable]="consultarObservable"
            [mappingDataToTable]="mappingDataToTable"
            [refresh]="refreshList"
            [showButton]="true"
            [titleButton]="'Alterar'"
            [clazzButton]="['btn', 'btn-primary']"
            [clazzIconButton]="['glyphicon', 'glyphicon-pencil']"
            (buttonAction)="rowClicked($event)"
            [showDelete]="true"
            [titleDelete]="'Excluir'"
            (delete)="excluir($event)">
  </ic-table>

  <div class="padding-top">
    <div class=text-right>
      <label class="btn btn-primary btn-space">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Incluir
        <input type="button" 
               style="display: none;" 
               (click)="incluir()">
      </label>
    </div>
  </div>
</div>