<section class="box-header-login login-content">

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding" style="height: 100vh">

            <div class="background-image">

                <div class="logo-container">
                    <img src="../../../../assets/img/logo-imuno-color-vetor 1.png" class="logo-login" alt="">
                    <img src="../../../../assets/img/Care-1.png" class="sublogo-login" alt="">


                </div>
                <div class="login-titulo-container">
                    <span class="login-titulo">Gerencie toda sua campanha<br> com <span class="login-subtitulo">
                            imunoCare</span>


                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

            <div class="login-logo">
                <img src="../../../../assets/img/logo-imuno-color-vetor 1.png" class="logo-login2" alt="">
                <img src="../../../../assets/img/Care.png" class="sublogo-login2" alt="">
            </div>
            <div class="row">
                <div class="col-lg-12">


                    <form [formGroup]="loginForm">
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="email" class="form-control form-control-login"
                                placeholder="Email">

                        </ic-input-container>
                        <ic-input-container [showTip]="false">
                            <input type="password" formControlName="senha" class="form-control form-control-login"
                                placeholder="Senha">

                        </ic-input-container>
                        <div class="row">
                            <!-- -->
                            <div class=" col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                <a [routerLink]="['/alterarSenha']">Alterar senha</a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">

                                <a class="text-center" [routerLink]="['/forgot']">Esqueci a senha</a>
                            </div>

                        </div>
                        <!-- -->
                        <br>
                        <div class="row">
                            <div class="col-md-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn btn-imunoCare btn-block">Entrar</button>
                            </div>

                        </div>

                        <div class="suporte-inferior">

                            <img class="img-suporte" src="../../../../assets/img/support-1.png" alt="">

                            <img class="img-suporte" src="../../../../assets/img/Support.png" alt="">


                            <br>
                            <img class="img-suporte" src="../../../../assets/img/www.imunocare.com.br.png" alt="">

                            <br>
                            <br>


                            <img class="img-suporte" src="../../../../assets/img/suporte@imunocare.com.br.png" alt="">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>