<ion-header>
    <ion-navbar color="clean" class="header-avatar">
        <img class="logo" src="assets/imgs/logo.png"/>
        <ion-title></ion-title>
        <img class="avatar" src="assets/imgs/profile.png" (click)="showPopover($event)"/>
        <p class="name">{{user?.nome}}</p>
        <p class="profile">Perfil: {{user?.perfil}}</p>
    </ion-navbar>
</ion-header>

<ion-content class="logo-bg">
    <pdf-viewer [src]="'assets/manual.pdf'" (error)="onError($event)" (after-load-complete)="callBackFn($event)" [render-text]="true" style="display: block;" [fit-to-page]="true"></pdf-viewer>
</ion-content>