<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Campanhas</h3>
    <!--
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    -->
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table id="tbcampanhas" class="table table-hover">
            <tr>
                <th rowspan="1" colspan="1" style="width: 35%;">Campanha</th>
                <th rowspan="1" colspan="1" style="width: 15%;">Status</th>
                <th rowspan="1" colspan="1" style="width: 50%">Cliente</th>

            </tr>
            <tr *ngFor="let camp of campanhas" role="button" (click)="exibirDetalhesDaCampanha(camp)" [class.active]="camp === campanha">
                <td>{{camp?.campanha}}</td>
                <td>
                    <span [class]="'label label-'+[retornaLabel(camp.status)]">{{camp?.status}}</span>
                </td>
                <td>{{camp?.cliente?.empresa}}</td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
</div>
