<!-- general form elements disabled -->
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Dados da evento</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <pre>{{ inicioDt | json }}</pre>
    <form class="form-inline" [formGroup]="evForm" novalidate>
        <div class="form-group">
            <div class="input-group margin">
                <input class="form-control" formControlName="inicioDt" placeholder="dd-MM-yyyy"
                      name="inicioDt" ngbDatepicker (dateSelect)="onDateSelect($event)" #d="ngbDatepicker" [value]="inicioDt">
                <span class="input-group-btn">
                  <button class="btn btn-info btn-flat far fa-calendar-alt" (click)="d.toggle()" type="button"></button>
                </span>
            </div>
        </div>
    </form>
    <hr/>

    <div class="box-footer" >
        <div class="pull-right">
          <a [routerLink]="['/calendario']" class="btn btn-primary">
            <i class="fa fa-credit-card"></i> Retornar</a>
        </div>
      </div>
  </div>
</div>