<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <mat-select matInput 
                (selectionChange)="emitOnChange($event)"
                [placeholder]="placeholder" 
                [compareWith]="compareWith" 
                [formControlName]="name">
      <mat-option *ngIf="nullValue"
                  [value]="null">
        {{ nullText }}
      </mat-option>
      <mat-option *ngFor="let option of options" 
                  [value]="getValue(option)">
        {{ getText(option) }}
      </mat-option>
    </mat-select>
    <mat-error>
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>