<div class="row">
    <div class="col-md-12">
        <div class="box  box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Indicadores de Campanhas de Vacinação 2019</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8" *ngIf="grafico === undefined">
                        <p class="text-center">
                            <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                        </p>

                        <div class="chart">
                            <!-- Sales Chart Canvas -->
                            <canvas id="salesChart" #chartSales style="height: 180px;">{{grafico}}</canvas>
                        </div>
                        <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <!-- 
                    <div class="col-md-6" *ngIf="campanhas?.length > 0">
                        <p class="text-center">
                            <strong>Metas por Campanha</strong>
                        </p>

                        <div class="progress-group" *ngFor="let campanha of campanhas; let i = index" style="background-color: #aa004f">
                            <ic-evolucao [campanha]="campanha" [indx]="i" 
                                         (seleciona)="detalheCampanha.exibirDetalhes($event)"
                                         (elegiveis)="listaElegiveis.carregarElegiveis($event)">
                            </ic-evolucao>
                        </div>
                    </div>
                -->
                    <div class="col-md-6" *ngIf="campanhas?.length > 0">
                        <table id="tbcampanhas" class="table table-hover">
                            <tr>
                                <th rowspan="1" colspan="1" style="width: 100%;">Evolução de Campanha</th>
                            </tr>
                            <tr *ngFor="let camp of campanhas; let i = index" role="button" (click)="exibirDetalhesDaCampanha(camp)" [class.active]="camp === campanha">
                                <td>
                                    <div class="progress-group">
                                        <ic-evolucao [campanha]="camp" [indx]="i" (seleciona)="detalheCampanha.exibirDetalhes($event)" 
                                                                                  (elegiveis)="listaElegiveis.carregarElegiveis($event)"
                                                                                  (cnpjTotal)="campanhaCNPJ.carregarTotaisPorCNPJ($event)">
                                        </ic-evolucao>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <ic-campanha-cnpj #campanhaCNPJ [campanha]="campanha"></ic-campanha-cnpj>
                    <ic-campanha-details #detalheCampanha></ic-campanha-details>
                    <!-- /.col -->
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<ic-elegiveis-table #listaElegiveis [campanha]="campanha"></ic-elegiveis-table>
<!-- <ic-elegiveis #listaElegiveis [campanha]="campanha"></ic-elegiveis>  -->
