<a [routerLink]=[kpi?.redirect] *ngIf="kpi.acesso">
    <div class="info-box">
      <span [class]="'info-box-icon bg-'+[infobox?.corBox]"><i [class]="[infobox?.iconBox]"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">{{kpi?.nome}}</span> 
        <span class="info-box-number">{{kpi?.valor}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</a>
