<!-- Page Header-->
<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a routerLink="/manutencao">
			Manutenção 
		</a>
		/ Inserir SNDC
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Inserir SNDC</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container">
    <form [formGroup]="formulario">
      <fieldset>

        <div class="col-md-5">
          <div class="form-group">
            <app-required-label [title]="'Unidade'"></app-required-label>
            <input type="text" 
                   [id]="nameNoUnidadeSndc" 
                   [name]="nameNoUnidadeSndc" 
                   class="form-control" 
                   formControlName="noUnidadeSndc" >
            <app-required-field [show]="validaSeCampoValido(formulario, 'noUnidadeSndc')" >
            </app-required-field>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
          <div class="form-group">
            <app-required-label [title]="'UF'"></app-required-label>
            <select class="form-control" [name]="namesgUf" [id]="namesgUf" formControlName="sgUf">
              <option [ngValue]="null">Selecione</option>
              <option *ngFor="let u of ufs" [ngValue]="u.sgUf">{{u.sgUf}}</option>
            </select>
          </div>
        </div>

        <div class="clearfix"></div>
          <div class="col-md-2">
            <div class="form-group">
              <app-required-label [title]="'Situação'"></app-required-label>
              <select class="form-control" [id]="nameicAtivo" [name]="nameicAtivo" formControlName="icAtivo">
                <option value="null">Selecione</option>
                <option *ngFor="let s of situacoes" [ngValue]="s.value">{{s.text}}</option>
              </select>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="inserir()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Confirmar Inclusão
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa"></span>&nbsp;Limpar Formulario
            </button>
            <button class="btn btn-primary" (click)="voltar()">
              <span class="fa"></span>&nbsp;Voltar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>


<named-outlet name="footer"></named-outlet>