

<div class="col-md-12">
  <ul class="breadcrumb">
    <a routerLink="/home">
      Home
    </a>
    /
    <a (click)="irManterGrauSatisfacao()">
      Manter Grau de Satisfação
    </a>
    / {{titulo}} Grau de Satisfação
  </ul>
</div>

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Grau de Satisfação</h2>
  </div>
</header>

<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <fieldset>
      <form [formGroup]="formulario" name="form">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Grau Satisfação'"></app-required-label>
              <input formControlName="nome" 
                     type="text" 
                     id="nome" 
                     name="nome" 
                     class="form-control" 
                     maxlength="20">
              <app-required-field [showLength]="false" 
                                  [show]="validaSeCampoValidoLength(formulario, nome)">
              </app-required-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
              <br>
              <ng-container *ngFor="let item of tiposOcorrencia">
                <label class="radio-inline">
                  <input [id]="item.id" 
                         formControlName="tiposOcorrenciaGrauSatisfacao" 
                         [name]="item.id" 
                         [checked]="isCheckTiposOcorrencia(item)"
                    type="checkbox" (change)="changeTouched(selectTipoOcorrenciaGrauSatisfacao(item), 
                                                            $event.target.checked, 
                                                            grauSatisfacao.tiposOcorrenciaGrauSatisfacao)">
                  <label class="label-normal" for="{{ item.id }}">{{ item.nome }}</label>
                </label>
              </ng-container>
              <app-required-field [show]="validaSeCheckboxValidoList(tiposOcorrenciaTouched, 
                                                                     grauSatisfacao.tiposOcorrenciaGrauSatisfacao)"
                [width]="40">
              </app-required-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, ativo)">
              <app-required-label [title]="'Situação'"></app-required-label>
              <div class="box-inline">
                <select id="ativo" 
                        formControlName="ativo" 
                        name="ativo" 
                        class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let s of situacoes" [ngValue]="s.value">
                    {{s.text}}
                  </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, ativo)"></app-required-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, pzPrrgo)">
              <app-required-label [title]="'Prazo de Reabertura'"></app-required-label>
              <input formControlName="pzPrrgo" 
                     type="text"
                     id="pzPrrgo" 
                     name="pzPrrgo" 
                     class="form-control" 
                     maxlength="2"
                     onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                     onpaste="return false">
              <app-required-field [show]="validaSeCampoValido(formulario, pzPrrgo)"></app-required-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, ocorrencia)">
              <app-required-label [title]="'Tipo de Demanda'"></app-required-label>
              <div class="form-group">
                <input formControlName="ocorrencia" 
                       type="checkbox" 
                       id="ocorrencia" 
                       [checked]="isChecked()" 
                       name="ocorrencia">
                <label for="ocorrencia">Ocorrência</label>
              </div>
              <app-required-field [show]="validaSeCampoValido(formulario, ocorrencia)"></app-required-field>
            </div>
          </div>
        </div>

        <div class="row col-xs-12">
          <button type="submit" class="btn btn-warning" (click)="salvar()">
            <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar {{tituloBotao}}
          </button>
          <button class="btn btn-danger" (click)="limpar()">
            <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
          </button>
          <button class="btn btn-primary" (click)="voltar()">
            <span class="fa fa-reply"></span>&nbsp;Voltar
          </button>
        </div>
      </form>
    </fieldset>
  </div>
</section>
<br>

<named-outlet name="footer"></named-outlet>
