<section class="content">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Campanha">
      <ic-campanha-tab-form [idCampanha]="idCampanha"
                            [currentCampanha]="currentCampanha"
                            (submitId)="receiveIdCampanha($event)"
                            (submitCurrent)="receiveCurrentCampanha($event)"
                            (disableTabFilial)="setDisableTabFilial($event)"
                            (disableTabUnidade)="setDisableTabUnidade($event)"
                            (disableTabProduto)="setDisableTabProduto($event)"
                            (disableTabClinica)="setDisableTabClinica($event)">
      </ic-campanha-tab-form>
    </mat-tab>
    <mat-tab label="Filiais" [disabled]="disableTabFilial">
      <ic-filial-tab-form [idCampanha]="idCampanha"
                          [currentCampanha]="currentCampanha"
                          (submitCurrent)="receiveCurrentCampanha($event)"
                          (disableTabUnidade)="setDisableTabUnidade($event)">
      </ic-filial-tab-form>
    </mat-tab>
    <mat-tab label="Unidades" [disabled]="disableTabUnidade">
      <ic-unidade-tab-form [idCampanha]="idCampanha"
                           [currentCampanha]="currentCampanha"
                           (submitCurrent)="receiveCurrentCampanha($event)">
      </ic-unidade-tab-form>
    </mat-tab>
    <mat-tab label="Produtos" [disabled]="disableTabProduto">
      <ic-produto-tab-form [idCampanha]="idCampanha"
                           [currentCampanha]="currentCampanha"
                           (submitCurrent)="receiveCurrentCampanha($event)">
      </ic-produto-tab-form>
    </mat-tab>
    <mat-tab label="Clinicas" [disabled]="disableTabClinica">
      <ic-clinica-tab-form [idCampanha]="idCampanha"
                           [currentCampanha]="currentCampanha"
                           (submitCurrent)="receiveCurrentCampanha($event)">
      </ic-clinica-tab-form>
    </mat-tab>
  </mat-tab-group>
</section>