<!-- Page Header-->

<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/ Manter Configuração Correio Eletrônico
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Manter Configuração Correio Eletrônico</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <fieldset>
      <form [formGroup]="formulario" name="form">

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Tipo'"></app-required-label>
              <div class="box-inline">
                <select id="tipo"  
                        name="tipo" 
                        formControlName="tipoCorreioEletronico"
                        class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let t of tipos" [ngValue]="t.id">
                    {{t.nome}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="ativo" class="form-label">Situação</label>
              <div class="box-inline">
                <select id="ativo" 
                        formControlName="ativo" 
                        name="ativo" 
                        class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let s of situacoes" [ngValue]="s.value">
                    {{s.text}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-xs-12">
          <button type="submit" class="btn btn-success" (click)="incluir()">
            <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Configuração Correio Eletrônico
          </button>
          <button type="submit" class="btn btn-primary" (click)="carregarListaCorreioEletronico()">
            <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Configuração Correio Eletrônico
          </button>
          <button type="submit" class="btn btn-danger" (click)="limpar()">
            <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
          </button>
        </div>
      </form>
    </fieldset>
    <app-siouv-table *ngIf="listaCorreioEletronico != null" [dataList]="dataList"
                     (emitEdit)="alterar($event)"
                     (emitDelete)="excluir($event)">
    </app-siouv-table>
  </div>
</section>
<br>

<named-outlet name="footer"></named-outlet>