<div [ngClass]="clazz">
  <div clas="col-md-12">
    <ic-input-text [placeholder]="'Arquivo Selecionado'"
                   [value]="getFileName()"
                   [readOnly]="true"
                   [clazz]="['col-md-12']">
    </ic-input-text>
  </div>
  <div clas="col-md-12">
      <ic-button [text]="'Selecionar Arquivo'"
                 [id]="id"
                 [clazz]="['btn', 'btn-primary', 'col-md-3', 'btn-upload-xlsx']"
                 [clazzIcon]="['glyphicon', 'glyphicon-file']"
                 [type]="'file'"
                 [accept]="'.xls, .xlsx'"
                 (eventChange)="onFileChange($event)">
      </ic-button>
      <ic-button [text]="'Importar'"
                 [clazz]="['btn', 'btn-success', 'col-md-3', 'btn-upload-xlsx']"
                 [clazzIcon]="['glyphicon', 'glyphicon-upload']"
                 [disabled]="disabledButton()"
                 (eventClick)="uploadFile($event)">
      </ic-button>
      <ic-button [text]="'Remover'"
                 [clazz]="['btn', 'btn-danger', 'col-md-3', 'btn-upload-xlsx']"
                 [clazzIcon]="['glyphicon', 'glyphicon-trash']"
                 [disabled]="disabledButton()"
                 (eventClick)="removeFile($event)">
      </ic-button>
      <ic-button [text]="'Template'"
                 [clazz]="['btn', 'btn-info', 'col-md-3', 'btn-upload-xlsx']"
                 [clazzIcon]="['glyphicon', 'glyphicon-open-file']"
                 (eventClick)="downloadFile($event)">
      </ic-button>
  </div>
</div>