<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img [src]="[user?.img]" class="img-circle" alt="User Image">
      </div>
      <!-- 
      <div class="pull-left info">
        <p>{{user?.nome}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
        -->
    </div>
    <!-- search form -->
    <!-- 
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Navegação Principal</li>

      <li>
        <a [routerLink]="['/dash']">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
<!--
      <li>
        <a [routerLink]="['/campanhas']">
          <i class="ion ion-ios-gear"></i>
          <span>Campanhas</span>
        </a>
      </li>
 -->
      <li [class]="classMenuImunizacao">
        <a (click)="menuSegurancaImunizacao()">
          <i class="ion ion-ios-people"></i>
          <span>Imunizações</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span> 
        </a>

        <ul class="treeview-menu" 
            style="display: block;" 
            *ngIf="statusSubMenuVacinacao">
          <li>
            <a [routerLink]="['/imunizacoes/vacinacao']"
               routerLinkActive="active">
              <i class="fal fa-eye-dropper"></i>
              <span>Vacinação</span>
            </a>
          </li>
        </ul>

        <ul class="treeview-menu" 
            style="display: block;" 
            *ngIf="statusSubMenuForaElegi">
          <li>
            <a [routerLink]="['/imunizacoes/fora-elegibilidade']"
               routerLinkActive="active">
              <i class="fal fa-user"></i>
              <span>Fora de Elegibilidade</span>
            </a>
          </li>
        </ul>
      </li>

      <li [class]="statusMenuSeguranca"
          *ngIf="statusMenuAdministracao">
        <a (click)="menuSeguranca()">
          <i class="fa fa-share"></i>
          <span>Administração</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span> 
        </a>

        <ul class="treeview-menu" 
            style="display: block;" 
            *ngIf="statusSubMenuSeguranca">
          <li [class]="statusMenuSegurancaCadastros">
            <a (click)="menuSegurancaCadastros()">
              <i class="fa fa-share"></i>
              <span>Cadastros</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>

            <ul class="treeview-menu" 
                style="display: block;" 
                *ngIf="statusSubMenuSegurancaCadastros">

              <li>
                <a [routerLink]="['/cadastros/parceiros']" 
                   routerLinkActive="active">
                  <i class="fal fa-truck"></i>
                  <span>Parceiros</span>
                </a>
              </li>

              <li>
                <a [routerLink]="['/cadastros/produtos']" 
                   routerLinkActive="active">
                  <i class="fal fa-tags"></i>
                  <span>Produtos</span>
                </a>
              </li>

              <li>
                <a [routerLink]="['/cadastros/campanha']" 
                   routerLinkActive="active">
                  <i class="fal fa-plus-square"></i>
                  <span>Campanhas</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/gerador']">
                  <i class="fal fa-upload"></i>
                  <span>Carga de Elegíveis</span>
                </a>
              </li>              
            </ul>
          </li>
        </ul>
<!-- -->
        <ul class="treeview-menu" 
            style="display: block;" 
            *ngIf="statusSubMenuSeguranca">

        </ul>

        <ul class="treeview-menu" 
            style="display: block;" 
            *ngIf="statusSubMenuSeguranca">
          <li>
            <a [routerLink]="['/usuarios']">
              <i class="fal fa-users"></i>
              <span>Gestão de Usuários</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- 
      <li>
        <a [routerLink]="['/calendario']">
          <i class="ion ion-ios-calendar"></i>
          <span>Calendário de Gestos</span>
        </a>
      </li>
      -->        
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
