<div [formGroup]="form">
  <label *ngIf="!label">&nbsp;</label>
  <label *ngIf="!required &&  (label && label.trim().length>0)">
    {{label}}
  </label>
  <app-required-label *ngIf="required && (label && label.trim().length>0)" 
                      [title]="label">
  </app-required-label>

  <div class="checkbox">
    <!-- Checkbox em lista ou em linha -->
    <ng-container *ngIf="!isGrid()">
      <label [id]="idField(['label', name, i])" 
             [formArrayName]="name" 
             *ngFor="let item of getControls(); let i = index" 
             class="{{inline ==='true' ? 'checkbox-inline' : 'checkbox'}}"
             style="margin-bottom: 10px!important;">
        <input [id]="idField([name, i])" type="checkbox" [formControlName]="i">
        {{ getDescription(i) }}
      </label>
    </ng-container>

    <!-- Checkbox em grid -->
    <div class="col-sm-9" *ngIf="isGrid()" style="margin-bottom: 10px!important;">
      <div>
        <ng-container [formArrayName]="name" 
                      *ngFor="let item of getControls(); let i = index">
          <div class="col-sm-3">
            <input [id]="idField([name, i])" 
                   [formControlName]="i" 
                   type="checkbox"> 
            <label [id]="idField(['label', name, i])"
                   class="no-padding-left" 
                   for="{{idField([name, i])}}">
              {{ getDescription(i) }}
            </label>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="clearfix"></div>
    <app-required-field [show]="isValid()" *ngIf="required"></app-required-field>
  </div>
</div>