<!-- Page Header-->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">{{titulo}} Item</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Item</h2>
  </div>
</header>

<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
		<form [formGroup]="formulario" name="form">
      <fieldset>
        <div class="form-group">
          <div class="row col-md-4" [ngClass]="aplicaClasseDeErro(formulario, nameItem)">
            <app-required-label [title]="'Item'"></app-required-label>
            <input [id]="nameItem"
                   [formControlName]="nameItem"
                   [name]="nameItem"
                   class="form-control"
                   type="text"
                   maxlength="100">
            <app-required-field [show]="validaSeCampoValido(formulario, nameItem)"></app-required-field>
          </div>

          <div class="clearfix"></div>          
          <app-seleciona-unidade [idBase]="'item'"
                                 [label]="'Unidade Responsável'"
                                 [name]="'unidade'"
                                 [required]="true"
                                 [formulario]="formulario"
                                 [disabled]="false"
                                 [showButtons]="true"
                                 [class]="'col-md-4'">
          </app-seleciona-unidade>

          <div class="clearfix"></div>
            <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameSituacao)">
              <app-required-label [title]="'Situação'"></app-required-label>
              <br>
              <ng-container *ngFor="let situacao of situacoes">
                  <label class="radio-inline">
                  <input  [id]="situacao.id"
                          [formControlName]="nameSituacao"
                          [name]="nameSituacao"
                          type="radio"
                          [value]="situacao.value"
                          [checked]="situacao.value == item.situacao">
                  <label class="label-normal" for="{{ situacao.value }}">{{ situacao.text }}</label>
                  </label>
              </ng-container>
              <app-required-field [show]="validaSeCampoValido(formulario, nameSituacao)"></app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-6" [ngClass]="aplicaClasseDeErro(formulario, nameAssunto)">
              <app-required-label [title]="'Assunto'"></app-required-label>
              <br>
              <div class="box-inline">
                <select [id]="nameAssunto"
                        [formControlName]="nameAssunto"
                        [name]="nameAssunto"
                        class="form-control"
                        [compareWith]="compareFn">
                        <option [ngValue]="null">Selecione</option>
                        <option *ngFor="let item of assuntos; let i = index;"
                                [ngValue]="item">
                            {{item.noAssunto}}
                        </option>
                </select>
              </div>
              <app-required-field [show]="validaSeCampoValido(formulario, nameAssunto)"></app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12" >
                <app-required-label [title]="'Natureza'"></app-required-label>
                <br>
                <ng-container *ngFor="let nat of naturezas; let i = index">
                  <label class="radio-inline">
                    <input [id]="idField([nameItemNatureza, nat.id])"
                           [name]="idField([nameItemNatureza, nat.id])"
                           [checked]="isCheckedItensNatureza(nat)"
                           [disabled]="validarBloqueio(null, i)"
                           type="checkbox"
                           (change)="changeTouched(selectItensNatureza(nat), 
                                                   $event.target.checked,
                                                   item.itensNatureza)">
                    <label class="label-normal" 
                           for="{{ idField([nameItemNatureza, nat.id]) }}">
                      {{ nat.nome }}
                    </label>
                  </label>
                </ng-container>
                <app-required-field [show]="validaSeCheckboxValidoList(itensNaturezaTouched,
                                                                       item.itensNatureza)"
                                    [width]="40">
                </app-required-field>              
            </div>

            <div class="">
              <h4 >Informações obrigatórias no cadastro da ocorrência</h4>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12" >
              <label>Campos Obrigatórios</label>
              <br>
              <div class="clearfix"></div>
              <div class="row col-xs-12" >
                <p>
                  <label >
                    <input [id]="nameCarteiraTrabalho"
                           [formControlName]="nameCarteiraTrabalho"
                           [name]="nameCarteiraTrabalho"
                           type="checkbox">
                    <label class="label-normal" for="{{nameCarteiraTrabalho}}" >{{tituloCampoCarteiraTrabalho}}</label>
                  </label>
                </p>

                <p>
                  <label>
                    <input [id]="nameContratoHabitacao"
                           [formControlName]="nameContratoHabitacao"
                           [name]="nameContratoHabitacao"
                           type="checkbox">
                    <label class="label-normal" for="{{ nameContratoHabitacao }}">{{tituloContratoHabitacao}}</label>
                  </label>
                </p>

                <p>
                  <label>
                    <input [id]="nameCartaoCredito"
                           [formControlName]="nameCartaoCredito"
                           [name]="nameCartaoCredito"
                           type="checkbox" >
                    <label class="label-normal" for="{{ nameCartaoCredito }}">{{tituloCartaoCredito}}</label>
                  </label>
                </p>
                <p>
                  <label>
                    <input [id]="nameCorrespondenteBancario"
                           [formControlName]="nameCorrespondenteBancario"
                           [name]="nameCorrespondenteBancario"
                           type="checkbox" >
                    <label class="label-normal" for="{{ nameCorrespondenteBancario }}">{{tituloCorrespondenteBancario}}</label>
                  </label>
                </p>
                <p>
                  <label>
                     <input [id]="nameRevendedorLoterico"
                            [formControlName]="nameRevendedorLoterico"
                            [name]="nameRevendedorLoterico"
                            type="checkbox" >
                       <label class="label-normal" for="{{ nameRevendedorLoterico }}">{{tituloRevendedorLoterico}}</label>
                  </label>
                </p>
                <p>
                  <label>
                    <input [id]="nameNis"
                           [formControlName]="nameNis"
                           [name]="nameNis"
                           type="checkbox" >
                    <label class="label-normal" for="{{ nameNis }}">{{tituloNis}}</label>
                  </label>
                </p>
                <p>
                  <label>
                    <input [id]="nameInformacaoBancaria"
                           [formControlName]="nameInformacaoBancaria"
                           [name]="nameInformacaoBancaria"
                           type="checkbox" >
                    <label class="label-normal" for="{{ nameInformacaoBancaria }}">{{tituloInformacaoBancaria}}</label>
                  </label>
                </p>
                <p>
                  <label>
                    <input [id]="nameAgencia"
                           [formControlName]="nameAgencia"
                           [name]="nameAgencia"
                           type="checkbox">
                    <label class="label-normal" for="{{ nameAgencia }}">{{tituloAgencia}}</label>
                  </label>
                 </p>

              </div>
            </div>

            <div class="row col-xs-12">
              <button class="btn btn-warning" (click)="salvar()">
                <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar Inclusão
              </button>

              <button class="btn btn-danger" (click)="limpar()">
                <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
              </button>

              <button class="btn btn-primary" (click)="voltar()">
                <span class="fa fa-reply"></span>&nbsp;Voltar
              </button>
          </div>


        </div>
      </fieldset>
    </form>
  </div>
</section>
<app-unidade-modal (selecionarUnidade)="selecionarUnidade($event)"></app-unidade-modal>
<named-outlet name="footer"></named-outlet>
