<div [formGroup]="form">
  <ion-item [id]="getIdComponent('item')" 
            [ngClass]="clazz">
    <ion-label floating 
                [id]="getIdComponent('label')">
      <span *ngIf="required">*</span>{{ placeholder }}
    </ion-label>
    <ion-input [id]="id"
               [formControlName]="name"
               [value]="value"
               [value]="value"
               [readonly]="disabled"
               minlength="{{ minlength }}" 
               maxlength="{{ maxlength }}"
               (keyup)="validateRequired($event)"
               (blur)="validateRequired()">
    </ion-input>
  </ion-item>
  <div [id]="getIdComponent('required')"
        class="error-message">
    <ion-icon name="alert" class="error-icon"></ion-icon>
    <span class="space" [id]="getIdComponent('message')"></span>
  </div>
</div>