<div class="box-body">
  <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="16">
    <div class="form">
      <ic-input-radio [form]="formulario"
                      [name]="nameInCompany"
                      [required]="true"
                      label="InCompany"
                      [clazz]="['col-md-4']"
                      [options]="simNaoList()"
                      [value]="'bool'"
                      [text]="'text'"
                      [checked]="getNao()">
      </ic-input-radio>

      <ic-input-text [form]="formulario"
                     [name]="nameDescricao"
                     [required]="true"
                     placeholder="Descrição"
                     [clazz]="['col-md-9']">
      </ic-input-text>

      <ic-input-select [form]="formulario"
                       [name]="nameStatus"
                       [required]="true"
                       placeholder="STATUS"
                       [clazz]="['col-md-3']"
                       [options]="statusCampanhaList()"
                       [selected]="status"
                       [disabled]="true"
                       (eventChange)="setDisableField($event)">
      </ic-input-select>

      <mat-form-field class="field">
        <input 
          type="text" 
          [id]="nameFornecedor"
          placeholder="Fornecedores" 
          aria-label="'Fornecedores'" 
          matInput  
          [matAutocomplete]="auto"
          [disabled]="fieldDisabled"
          [formControl]="controleFornecedores"
          [formControlName]="nameFornecedor">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarEmpresa"  (closed)="fechaEmpresa($event, controleFornecedores)">
          <mat-option (onSelectionChange)="atualizaEmpresa($event, fornecedor._id, nameFornecedor)" *ngFor="let fornecedor of fornecedoresOptions | async" [value]="fornecedor">
            {{fornecedor.empresa}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          {{ msgRequiredField() }}
        </mat-error>
      </mat-form-field>

      <ic-input-select [form]="formulario"
            [name]="nameCliente"
            [compareWith]="compareTo"
            [required]="true"
            placeholder="Cliente"
            [options]="getClientes()"
            [text]="'empresa'"
            [clazz]="['col-md-8']">
      </ic-input-select>

      <fieldset class="col-md-12">
        <ic-input-text [form]="formulario"
                       [name]="nameResponsavelCliente"
                       [required]="true"
                       placeholder="Responsável Cliente"
                       [clazz]="['col-md-12']">
        </ic-input-text>

        <ic-input-email [form]="formulario"
                        [name]="nameEmailCliente"
                        [required]="true"
                        placeholder="E-mail Cliente"
                        [clazz]="['col-md-12']">
        </ic-input-email>

        <ic-input-tel [form]="formulario"
                      [name]="nameTelefoneCliente"
                      [required]="true"
                      placeholder="Telefone"
                      [clazz]="['col-md-8']">
        </ic-input-tel>

        <ic-input-date [form]="formulario"
                       [name]="nameDataInicio"
                       [maxDateControl]="nameDataFim"
                       [required]="true"
                       placeholder="Data Inicio"
                       [clazz]="['col-md-6']">
        </ic-input-date>

        <ic-input-date [form]="formulario"
                       [name]="nameDataFim"
                       [minDateControl]="nameDataInicio"
                       [required]="true"
                       placeholder="Data Fim"
                       [clazz]="['col-md-6']">
        </ic-input-date>

        <mat-label class="font-radio-color col-md-12">Horário de Funcionamento</mat-label>
        <ic-input-hora [form]="formulario"
                [name]="nameHorarioFuncionamentoIni"
                [maxHoraControl]="nameHorarioFuncionamentoFim"
                placeholder="De"
                [clazz]="['col-md-6']">
        </ic-input-hora>

        <ic-input-hora [form]="formulario"
                [name]="nameHorarioFuncionamentoFim"
                [minHoraControl]="nameHorarioFuncionamentoIni"
                placeholder="Até"
                [clazz]="['col-md-6']">
        </ic-input-hora>
      </fieldset>

      <ic-input-select [form]="formulario"
                       [name]="nameGestor"
                       [compareWith]="compareTo"
                       [required]="true"
                       placeholder="Gestor"
                       [clazz]="['col-md-8']"
                       [options]="getGestores()"
                       [text]="'empresa'">
      </ic-input-select>

      <fieldset class="col-md-8">
        <ic-input-text [form]="formulario"
                       [name]="nameResponsavelGestor"
                       [required]="true"
                       placeholder="Responsável"
                       [clazz]="['col-md-12']">
        </ic-input-text>

        <ic-input-email [form]="formulario"
                        [name]="nameEmailGestor"
                        [required]="true"
                        placeholder="E-mail"
                        [clazz]="['col-md-12']">
        </ic-input-email>

        <ic-input-tel [form]="formulario"
                      [name]="nameTelefoneGestor"
                      [required]="true"
                      placeholder="Telefone"
                      [clazz]="['col-md-6']">
        </ic-input-tel>
      </fieldset>
      
      <ic-upload-image [form]="formulario"
                       [name]="nameFotoGestor"
                       [title]="'Recortar Foto'"
                       [clazz]="['col-md-4']"
                       [buttonInsert]="'Enviar Foto'"
                       [buttonRemove]="'Remover Foto'">
      </ic-upload-image>

      <div class="col-md-12">
        <ic-input-select [form]="formulario"
                         [name]="nameAgrupamento"
                         [compareWith]="compareTo"
                         [required]="false"
                         placeholder="Agrupamento"
                         [clazz]="['col-md-6']"
                         [options]="getAgrupamentos()"
                         [text]="'descricao'"
                         [nullValue]="true">
        </ic-input-select>
        
        <div class="col-md-6">
          <ic-button [text]="'Incluir Agrupamento'"
                     [clazz]="['btn', 'btn-primary']"
                     [clazzIcon]="['glyphicon', 'glyphicon-plus']"
                     (eventClick)="incluirAgrupamento($event)">
          </ic-button>
        </div>
      </div>

      <ic-input-radio [form]="formulario"
                      [name]="nameCadastroAutomatico"
                      [required]="true"
                      label="Cad. Auto"
                      [clazz]="['col-md-4']"
                      [options]="simNaoList()"
                      [value]="'bool'"
                      [text]="'text'"
                      [checked]="getNao()"
                      (eventChange)="changeAutoRegistration($event)">
      </ic-input-radio>

      <ic-input-radio [form]="formulario"
                      [name]="namePesquisaSatisfacao"
                      [required]="true"
                      label="Pesq. Satisfação"
                      [clazz]="['col-md-4']"
                      [options]="simNaoList()"
                      [value]="'bool'"
                      [text]="'text'"
                      [checked]="getNao()">
      </ic-input-radio>

      <ic-input-radio [form]="formulario"
                      [name]="namePesquisaSaude"
                      [required]="true"
                      label="Pesq. Saúde"
                      [clazz]="['col-md-4']"
                      [options]="simNaoList()"
                      [value]="'bool'"
                      [text]="'text'"
                      [checked]="getNao()">
      </ic-input-radio>

      <div *ngIf="isPassword()">
        <ic-input-text [form]="formulario"
                       [name]="nameSenhaVacinacao"
                       [required]="isPassword()"
                       [value]="campanha[nameSenhaVacinacao]"
                       placeholder="Senha vacinação"
                       [maxlength]="6"
                       [clazz]="['col-md-12']">
        </ic-input-text>
      </div>

      <ic-input-text-area [form]="formulario"
                      [name]="nameObservacao"
                      [value]="nameObservacao"
                      placeholder="Observação"
                      [maxlength]="500"
                      [clazz]="['col-md-12']">
      </ic-input-text-area>
    </div>

    <div class="clearfix"></div>
    <div class=text-right>
      <ic-button [text]="'Salvar'"
                 [clazz]="['btn', 'btn-primary', 'btn-space']"
                 [type]="'submit'">
      </ic-button>

      <ic-button [text]="'Voltar'"
                 [clazz]="['btn', 'btn-danger', 'btn-space']"
                 (eventClick)="voltar($event)">
      </ic-button>
    </div>
  </form>

  <ic-modal-agrupamento [title]="'Incluir Novo Agrupamento'"
                        (emitIdModal)="setIdAgrupamento($event)"
                        (hiddenModal)="loadAgrupamentos($event)">
  </ic-modal-agrupamento>

</div>
