<div class="form-group" [formGroup]="form">
  <label *ngIf="!label">&nbsp;</label>
  <label *ngIf="!required &&  (label && label.trim().length>0)">
    {{label}}
  </label>
  <app-required-label *ngIf="required && (label && label.trim().length>0)" 
                      [title]="label">
  </app-required-label>
  <input [id]="control" 
         type="text" 
         [formControlName]="control" 
         [placeholder]="placeholder" 
         class="form-control" 
         bsDatepicker
         [bsConfig]="bsConfig" 
         maxlength="10">
  <app-required-field [show]="validaSeCampoValido(form, control)" 
                      *ngIf="required">
  </app-required-field>
</div>
