<div class="modal modal-static fade" id="loading-modal" role="dialog" data-backdrop="false" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<em class="fa fa-spinner fa-spin"></em>
					<span class="loadingText"></span>
					<h4>Carregando...</h4>
				</div>
			</div>
		</div>
	</div>
</div>