<!-- Page Header -->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Home</a>
  </li>
  <li class="breadcrumb-item active">Cadastrar Perfil</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Cadastrar Perfil</h2>
  </div>
</header>
<!-- Page Header -->

<section>
  <div class="container-fluid" style="min-height: 420px;">
		<form [formGroup]="formulario" name="form">
			<fieldset>
				<div class="form-group">
					<div class="row col-xs-2">
						<label class="control-label">ID</label>
						<input formControlName="id" [ngModel]="perfil.id" type="text" id="id" name="id"
							class="form-control">
					</div>
					<div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, 'nome')">
						<label class="control-label">Nome<span style="color: red"> *</span></label>
						<input formControlName="nome" [(ngModel)]="perfil.nome" type="text" maxlength="255"
							id="nome" name="nome" class="form-control">
						<div *ngIf="validaSeCampoValido(formulario, 'nome')" class="alert alert-danger">Campo Obrigatório</div>
					</div>
					<div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, 'descricao')">
						<label class="control-label">Descrição<span style="color: red"> *</span></label>
						<textarea formControlName="descricao" [(ngModel)]="perfil.descricao" maxlength="255"
							id="descricao" name="descricao" class="form-control"></textarea>
						<div *ngIf="validaSeCampoValido(formulario, 'descricao')" class="alert alert-danger">Campo Obrigatório</div>
					</div>
					<fieldset class="groupbox-border">
						<legend class="groupbox-border">Última Atualização</legend>
						<div class="control-group">
							<div class="row col-xs-4">
								<label class="control-label">Usuário Responsável</label>
								<input formControlName="usuarioUltimaAtualizacao" [ngModel]="perfil.usuarioUltimaAtualizacao"
									type="text" id="usuarioUltimaAtualizacao" name="usuarioUltimaAtualizacao" class="form-control">
							</div>
							<div class="row col-xs-1">&nbsp;</div>
							<div class="row col-xs-4">
								<label class="control-label" style="font-weight: bold">Terminal</label>
								<input formControlName="terminalUltimaAtualizacao" [ngModel]="perfil.terminalUltimaAtualizacao"
									type="text" id="terminalUltimaAtualizacao" name="terminalUltimaAtualizacao" class="form-control">
							</div>
							<div class="row col-xs-1">&nbsp;</div>
							<div class="row col-xs-3">
								<label class="control-label" style="font-weight: bold">Data / Hora</label>
								<input formControlName="dataHoraUltimaAtualizacao"
									[ngModel]="perfil.dataHoraUltimaAtualizacao | date:'yyyy-MM-dd HH:mm:ss'"
									type="text" id="dataHoraUltimaAtualizacao" name="dataHoraUltimaAtualizacao"
									class="form-control">
							</div>
						</div>
					</fieldset>
					<div class="row col-xs-12">
						<button class="btn btn-success" (click)="criarNovo()">
							<span class="fa fa-plus fa-fw"></span>&nbsp;Novo
						</button>
						<button class="btn btn-warning" (click)="gravar()">
							<span class="fa fa-pencil fa-fw"></span>&nbsp;Gravar
						</button>
						<button class="btn btn-danger" (click)="excluir()" *ngIf="!isNew()">
							<span class="fa fa-trash fa-fw"></span>&nbsp;Excluir
						</button>
						<button class="btn btn-primary" (click)="consultar()">
							<span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar
						</button>
					</div>
				</div>
			</fieldset>
		</form>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
