<div [id]="modalId" #modalMotivoHistoricoDetalhe class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title centralizado">Histórico de Motivo</h4>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="body" >
            <div *ngFor="let item of getDetalhes()">
              <div class="row">
                <div class="col-md-5">
                  <label class="control-label labelAzul" style="float: right;">
                    {{ item.titulo }}
                  </label>
                </div>
                <div class="col-md-7">
                  <label class="control-label label-normal">
                    {{ text(item.value) }}
                  </label>
                </div>
              </div>
            </div>
            <app-siouv-table [dataList]="datalist"></app-siouv-table>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                data-dismiss="modal">
            <span class="fa fa-reply"></span>&nbsp;Voltar
        </button>
      </div>
    </div>
  </div>
</div>