page-itinerary {
    .calendar-comp {
        padding: 0px 0px 10px 0px;
    }

    .columnHeader {
		text-align: center;
        font-weight: bold;
        padding: 8px;
        background-color: #f1f1f1;
	}
	.cal-today {
		.cal-day-number {
            font-size: 1.5em !important;            
        }
	}
	.cal-day-cell {
        min-height: 60px !important;
	}
	.cal-cell-top {
		min-height: 30px !important;
	}
	.cal-day-number {
		font-size: 1em !important;
		margin-top: 10px !important;
		margin-bottom: 5px !important;
		margin-right: 5px !important;
	}
	.cal-day-badge {
		display: none !important;
    }
    
    .cal-cell-row {
        background: rgba(255, 255, 255, 0.9) !important;
    }

    .item-md {
        font-size: 13px;
        color: #444;

        .item-inner {
            border: none;
        }
    }
}