<ion-header>
    <ion-navbar color="clean" class="header-avatar">
        <img class="logo" src="assets/imgs/logo.png"/>
        <ion-title></ion-title>
        <img class="avatar" src="assets/imgs/profile.png" (click)="showPopover($event)"/>
        <p class="name">{{user?.nome}}</p>
        <p class="profile">Perfil: {{user?.perfil}}</p>
    </ion-navbar>
</ion-header>

<ion-content class="logo-bg">
    <div class="calendar-comp">
        <ng-template #headerTemp>
            <div class="cal-cell-row">
                <div class="cal-cell cal-past columnHeader" *ngFor="let label of days_label">
                    {{label}} 
                </div>
            </div>
        </ng-template>
        
        <mwl-calendar-month-view [viewDate]="today" [headerTemplate]="headerTemp">
        </mwl-calendar-month-view>
    </div>

    <ion-item>
        <ion-label>Av Paulista 99332 - Clinica XPTO</ion-label>
        <ion-checkbox color="main" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Av Rebouças 89332 - Clinica XPTO</ion-label>
        <ion-checkbox color="main" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Av Faria Lima 59332 - Clinica XPTO</ion-label>
        <ion-checkbox color="main" checked="false"></ion-checkbox>
    </ion-item>
</ion-content>
