<div class="box-body">
  <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="16">
    <div class="form">
      <ic-input-text placeholder="Campanha"
                     [value]="getNameCampanha()"
                     [readOnly]="true"
                     [clazz]="['col-md-6']">
      </ic-input-text>

      <div class="clearfix"></div>
      <ic-upload-xlsx [clazz]="['col-md-12']"
                      [config]="configXlsx"
                      [saveList]="filiais"
                      (submitData)="receiveData($event)">
      </ic-upload-xlsx>
    </div>

    <div class="clearfix"></div>
    <ic-table [displayedColumns]="displayedColumns"
              [headers]="headers"
              [mappingDataToTable]="mappingDataToTable"
              [list]="filiais"
              [showDelete]="true"
              (delete)="removeUnidade($event)">
    </ic-table>

    <div class="clearfix"></div>
    <div class="padding-top">
      <div class="text-right">
        <ic-button [text]="'Salvar'"
                   [clazz]="['btn', 'btn-primary', 'btn-space']"
                   [type]="'submit'">
        </ic-button>

        <ic-button [text]="'Voltar'"
                   [clazz]="['btn', 'btn-danger', 'btn-space']"
                   (eventClick)="voltar($event)">
        </ic-button>
      </div>
    </div>
  </form>
</div>