
<div class="col-md-12">
  <ul class="breadcrumb">
    <a routerLink="/home">
      Home
    </a>
    /
    <a (click)="irManterGrauSatisfacao()">
      Manter Configuração Correio Eletrônico
    </a>
    / {{titulo}} Configuração Correio Eletrônico
  </ul>
</div>

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Configuração Correio Eletrônico</h2>
  </div>
</header>

<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <fieldset>
      <form [formGroup]="formulario" name="form">

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Tipo'"></app-required-label>
              <div class="box-inline">
                <select id="tipo" 
                        name="tipo" 
                        class="form-control"
                        formControlName="tipoCorreioEletronico"
                        (change)="valorTextoComplementar($event.target.value); verificarEstadoDoCheckbox($event.target.value)">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let t of tipos" value="{{t.id}}">
                    {{t.nome}}
                  </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, tipoCorreioEletronico)"></app-required-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Assunto'"></app-required-label>
              <div class="box-inline">
                <input class="form-control" 
                       formControlName="assuntoCorreioEltco" 
                       type="text">
                <app-required-field [showLength]="false" 
                                    [show]="validaSeCampoValidoLength(formulario, assuntoCorreioEltco)">
                </app-required-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Texto'"></app-required-label>
              <div class="box-inline">
                <textarea class="form-control" 
                          formControlName="deCorreioEletronico" 
                          name="campoTexto"
                          type="text" 
                          maxlength="2000" 
                          rows="3" 
                          cols="50"
                          (input)="verificarCaracteres($event.target.value)">
                </textarea>
                <label>
                  <span [(ngModel)]="contador">Caracteres restantes: {{contador}}</span>
                </label>
                <app-required-field [showLength]="false" 
                                    [show]="validaSeCampoValidoLength(formulario, deCorreioEletronico)">
                </app-required-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Texto Complementar</label>
              <div class="box-inline">
                <textarea class="form-control" 
                          type="text" 
                          maxlength="2000" 
                          rows="3" 
                          cols="50"
                          disabled
                          [(ngModel)]="deCompCorreioEletronico"
                          [ngModelOptions]="{standalone: true}">
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-seleciona-unidade [idBase]="unidadeCorreio"
                                     [label]="'Remetente'"
                                     [name]="unidadeCorreio"
                                     [required]="true"
                                     [formulario]="formulario">
              </app-seleciona-unidade>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <app-required-label [title]="'Destinatário'"></app-required-label>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <app-many-checkbox [list]="listaCheckboxes" label="Destinatário" required="true" name="listaCheckboxes"
              [form]="formulario" itemDescription="descricao"></app-many-checkbox>
            </div>  
          </div>
        </div> -->

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="unidadeDestino"  
                     name="unidadeDestino"
                     formControlName="unidadeDestino">
              <label for="unidadeDestino">Unidade Destino</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="solicitanteInterno"  
                     name="solicitanteInterno"
                     formControlName="solicitanteInterno">
              <label for="solicitanteInterno">Solicitante Interno</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="solicitanteExterno"  
                     name="solicitanteExterno"
                     formControlName="solicitanteExterno">
              <label for="solicitanteExterno">Solicitante Externo</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="unidadeOrigem"  
                     name="unidadeOrigem"
                     formControlName="unidadeOrigem">
              <label for="unidadeOrigem">Unidade Origem</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="unidadeSuperiorOrigem"  
                     name="unidadeSuperiorOrigem"
                     formControlName="unidadeSuperiorOrigem">
              <label for="unidadeSuperiorOrigem">Unidade Superior Origem</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <input type="checkbox" 
                     id="outros"  
                     name="outros">
              <label for="outros">Outros</label>
              <button [id]="idField(['btnModal'])"
                      [name]="idField(['btnModal'])"
                      class="btn btn-success"
                      title="Selecionar Unidade"
                      data-toggle="modal"
                      [attr.data-target]="idHashtag(idModalList)">
                <span class="fa fa-search fa-fw"></span>
              </button>
            </div>
          </div>
        </div> 

        <div class="row">
          <div class="col-lg-4">
            <label>Endereço Eletrônico</label>
            <div class="input-group">
              <input type="text" 
                     class="form-control"
                     readonly="true"
                     [(ngModel)]="email"
                     [ngModelOptions]="{standalone: true}">
              <span class="input-group-btn">
                  <button class="btn btn-success"
                          title="Incluir o correio eletrônico na lista"
                          (click)="incluirEmail(email)">
                    <span class="fa fa-plus fa-fw"></span>
                  </button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="sel2">Lista de Endereços Eletrônicos</label>
                <select multiple class="form-control" 
                                  id="sel2"
                                  [(ngModel)]="listaDeEnderecosEletronicosSelecionados"
                                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let email of listaDeEnderecosEletronicos" 
                          [ngValue]="email">
                          {{email}}
                  </option>
                </select>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <label style="display:block">&nbsp;</label>
            <button class="btn btn-block btn-danger"
                    title="Excluir correios eletrônicos selecionados"
                    (click)="removerDaListaDeEnderecosEletronicos()">
              <span class="fa fa-minus fa-fw"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <label>Enviar</label>
              <div class="box-inline">
                <input class="form-control" 
                       type="text"
                       readonly="true">
              </div>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group">
              <label style="display:block;">&nbsp;</label>
              <input type="checkbox" 
                     id="envioPosterior"  
                     name="envioPosterior"
                     formControlName="envioPosterior">
              <label for="envioPosterior">Após</label>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group">
              <label style="display:block;">&nbsp;</label>
              <input type="checkbox" 
                     id="envioAnterior"  
                     name="envioAnterior"
                     formControlName="envioAnterior">
              <label for="envioAnterior">Antes</label>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="form-group">
              <label style="display:inline-block;">Dias</label>
              <input class="form-control" 
                     formControlName="dias" 
                     style="display:inline-block;" 
                     type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, ativo)">
              <app-required-label [title]="'Situação'"></app-required-label>
              <div class="box-inline">
                <select id="ativo" 
                        formControlName="ativo" 
                        name="ativo" 
                        class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let s of situacoes" [ngValue]="s.value">
                    {{s.text}}
                  </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, ativo)"></app-required-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row col-xs-12">
          <button type="submit" class="btn btn-warning" (click)="salvar()">
            <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar {{tituloBotao}}
          </button>
          <button class="btn btn-danger" (click)="limpar()">
            <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
          </button>
          <button class="btn btn-primary" (click)="voltar()">
            <span class="fa fa-reply"></span>&nbsp;Voltar
          </button>
        </div>
      </form>
    </fieldset>
  </div>
</section>
<br>

<app-unidade-modal [idBase]="'listaEndereco'"
                   (emitIdModal)="receberIdModal($event)"
                   (selecionarUnidade)="receberUnidade($event)">
</app-unidade-modal>

<named-outlet name="footer"></named-outlet>
