<!-- Page Header-->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">Histórico Assunto</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Histórico Assunto</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form">
      <fieldset>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">Usuário</label>
            <input id="usuario" formControlName="usuario" name="usuario" class="form-control" type="text" maxlength="7"
              [textMask]="{mask: matriculaMask, guide: false}">
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
          <app-many-checkbox [list]="operacoes" label="Operação" required="true" name="operacoes" inline="true"
            [form]="formulario" itemDescription="descricao"></app-many-checkbox>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
          <app-input-date control="dataInicial" [form]="formulario" placeholder="Data inicial" label="Período" required="true"></app-input-date>
        </div>
        <div class="col-md-2">
          <app-input-date control="dataFinal" [form]="formulario" placeholder="Data Final" required="true"></app-input-date>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Assunto</label>
            <input id="assunto" formControlName="assunto" name="assunto" class="form-control" type="text" maxlength="100">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="consultar()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Histórico
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
            </button>
            <button class="btn btn-primary" (click)="voltar()">
              <span class="fa fa-reply fa-fw"></span>&nbsp;Voltar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
    <div *ngIf="historicos && historicos.length > 0" class="table-responsive">
      <table class="table table-striped table-sm table-hover">
        <thead>
          <tr>
            <th class="text-center" style="vertical-align: middle">Usuário</th>
            <th class="text-center" style="vertical-align: middle">Operação</th>
            <th class="text-center" style="vertical-align: middle">Data/Hora</th>
            <th class="text-center" style="vertical-align: middle">Assunto</th>
            <th class="text-center" style="vertical-align: middle">Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let historico of historicos | paginate: { itemsPerPage: itens, currentPage: pagina }">
            <td class="text-center">{{historico.coUsuario}}</td>
            <td class="text-center">{{historico.tipoOperacao.noTipoOperacao}}</td>
            <td class="text-center">{{historico.id.dhAssunto | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="text-center">{{historico.noAssunto}}</td>
            <td class="text-center">{{ historico.icAtivo ==='S' ? 'Ativo' : 'Inativo'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-4">
        <select #selectElem class="selectElem" (change)="itens = $event.target.value">
          <option class="selectElem" [value]="5">5</option>
          <option class="selectElem" [value]="10">10</option>
          <option class="selectElem" [value]="50">50</option>
          <option class="selectElem" [value]="100">100</option>
        </select>
      </div>
      <div>
        <pagination-controls class="col-md-6.5 pull-right" (pageChange)="pagina = $event;" previousLabel="anterior"
          nextLabel="próximo"></pagination-controls>
      </div>
    </div>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
