<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a (click)="consultar()">
			Manutenção
		</a>
		/ Resultado Pesquisa Ocorrências
	</ul>
</div>

<ol class="breadcrumb">
	<header class="page-header">
		<div class="container-fluid">
			<h2 class="no-margin-bottom">Ocorrências</h2>
		</div>
	</header>
	<!-- Page Header-->

	<section>

	</section>