<div class="box-header with-border">
  <h3 class="box-title">{{title}}</h3>
</div>
<div class="box-body">
  <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="20">
    <div class="form">
      <mat-form-field class="field">
        <input matInput placeholder="Descrição" [formControlName]="nameDescricao" minlength="1" (blur)="validateField(formulario, nameDescricao)">
        <mat-error>
          {{ msgRequiredField() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <input 
          type="text" 
          placeholder="Fornecedor" 
          aria-label="Fornecedor" 
          matInput  
          [matAutocomplete]="auto"
          [formControl]="controleFornecedores"
          [formControlName]="nameFornecedor">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarFornecedores"  (closed)="fechaFornecedores($event)">
          <mat-option (onSelectionChange)="atualizaFornecedor($event, fornecedor._id, 'fornecedor')" *ngFor="let fornecedor of fornecedoresOptions | async" [value]="fornecedor">
            {{fornecedor.empresa}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>
          {{ msgRequiredField() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-select matInput placeholder="Controle Dosagem" [formControlName]="nameDosagem">
          <mat-option (onSelectionChange)="alterarValidacaoCamposDosagem($event, simNao.bool)" *ngFor="let simNao of simNaoList()" [value]="simNao.value">
            {{simNao.text}}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ msgRequiredField() }}
        </mat-error>
      </mat-form-field>

      <div class="col-md-6 no-padding-left">
        <mat-form-field class="field">
          <input matInput placeholder="Número de doses" [formControlName]="nameDose" type="number" min="0">
          <mat-error>
            {{ msgRequiredField() }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 no-padding-left">
        <mat-form-field class="field">
          <input matInput placeholder="Meses" [formControlName]="nameMeses" type="number" min="0">
          <mat-error>
            {{ msgRequiredField() }}
          </mat-error>
        </mat-form-field>
      </div>

      Faixa Etária
      <div>
        <div class="col-md-5 no-padding-left">
          <mat-form-field class="field">
            <input matInput placeholder="" [formControlName]="nameFaixaMin" type="number" min="0" [max]="getFaixaMax()"
              (blur)="validadePeriod(formulario, nameFaixaMin, nameFaixaMax)">
            <mat-error>
              {{ msgRequiredField() }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2 text-center">Até</div>
        <div class="col-md-5 no-padding-left">
          <mat-form-field class="field">
            <input matInput placeholder="" [formControlName]="nameFaixaMax" type="number" [min]="getFaixaMin()" (blur)="validadePeriod(formulario, nameFaixaMin, nameFaixaMax)">
            <mat-error>
              {{ msgRequiredField() }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="clearfix"></div>
    <div class=text-right>
      <label class="btn btn-primary btn-space">
        Salvar
        <input type="submit" style="display: none;">
      </label>

      <label class="btn btn-danger btn-space" (click)="voltar()">
        Voltar
        <input type="button" style="display: none;">
      </label>
    </div>
  </form>
</div>