<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- MAP & BOX PANE -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title" *ngIf="campanha !== undefined">{{campanha?.cliente?.empresa}} - {{campanha?.campanha}}: Lista de Elegíveis</h3>
                <h3 class="box-title" *ngIf="campanha === undefined">Lista de Elegíveis</h3>
            </div>
            <div class="box-body">

                <div class="col-md-6">
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
                    </mat-paginator>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
            </div>

            <mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" matSortActive="cpf" matSortDirection="asc"
                matSortDisableClear>

                <ng-container matColumnDef="cnpj">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> CNPJ </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.cnpj}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cpf">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> CPF </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.cpf}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="matricula">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Matrícula </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.matricula}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nome">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Nome </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="sexo">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Sexo </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.sexo}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dtnasc">
                    <mat-header-cell *matHeaderCellDef> Dt.Nasc. </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.dtnasc | date: 'dd/MM/yyyy' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="dependente">
                    <mat-header-cell *matHeaderCellDef> Dependente </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.dependente}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cpfresp">
                    <mat-header-cell *matHeaderCellDef> CPF Resp. </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.cpfresp}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="desc_produto">
                    <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.desc_produto}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="num_lote">
                    <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.num_lote}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="data">
                    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.data | date: 'dd/MM/yyyy' }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="enfermeiro">
                    <mat-header-cell *matHeaderCellDef> Enfermeiro </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.enfermeiro}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></mat-row>

            </mat-table>
        </div>
    </div>
</div>
