<!-- Page Header-->

<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		<a (click)="voltar()">
			/ Manter Motivo
		</a>
		  / Histórico Motivo
	</ul>
</div>

<ol class="breadcrumb">
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Histórico Motivo</h2>
    </div>
  </header>
</ol>
<!-- Page Header-->
<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form">
      <fieldset>
        <div class="row col-md-4">
          <label class="control-label">
            Usuário
          </label>
          <input [id]="nameUsuario"
                  [formControlName]="nameUsuario"
                  [name]="nameUsuario"
                  class="form-control"
                  type="text"
                  maxlength="7"
                  [textMask]="{mask: matriculaMask, guide: false}">   
        </div>
        <div class="clearfix"></div>
        <div class="row col-xs-12">
          <app-many-checkbox [list]="tiposOperacao" 
                             label="Operação" 
                             [name]="nameOperacao" 
                             inline="true"
                             [form]="formulario" 
                             itemDescription="noTipoOperacao">
          </app-many-checkbox>
        </div> 

        <div class="clearfix"></div>
        <div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataInicio" 
                            [form]="formulario" 
                            placeholder="Data inicial" 
                            label="Período" 
                            required="true">
            </app-input-date>
          </div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataFim" 
                            [form]="formulario" 
                            placeholder="Data Final" 
                            required="true">
            </app-input-date>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row col-md-4">
          <label class="control-label">
            Motivo
          </label>
          <input [id]="nameMotivo"
                 [formControlName]="nameMotivo"
                 [name]="nameMotivo"
                 class="form-control"
                 type="text"
                 maxlength="100">   
        </div>

        <div class="clearfix"></div>
          <div class="row col-md-2 no-margin-bottom">
            <div class="form-group">
              <label class="control-label">
                Natureza
              </label>
              <select [id]="nameNatureza"
                      [formControlName]="nameNatureza"
                      [name]="nameNatureza"
                      class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let natureza of naturezas"
                          [ngValue]="natureza.id">
                      {{natureza.nome}}
                  </option>
              </select>
            </div>
          </div>
      </fieldset>
    </form>
    
    <div class="row col-xs-12">
      <button id="btnPesquisarMotivoHistorico"
              type="submit"
              class="btn btn-warning"
              (click)="pesquisar()">
        <span class="fa fa-pencil fa-fw"></span>&nbsp;Pesquisar Histórico de Motivo
      </button>
      <button id="btnLimparMotivoHistorico"
              class="btn btn-danger"
              (click)="limpar()">
        <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
      </button>
      <button id="btnVoltarMotivoHistorico"
              class="btn btn-primary"
              (click)="voltar()">
        <span class="fa fa-reply"></span>&nbsp;Voltar
      </button>
    </div>

    <div class="row col-xs-12" >
      <app-siouv-table [dataList]="dataList"
                      (emitDetail)="detalhar($event)">
      </app-siouv-table>
    </div>
  </div>
  <app-motivo-historico-detalhe [historicoSelecionado]="historicoSelecionado"
                                (emitModal)="setarIdModal($event)">
  </app-motivo-historico-detalhe>
</section>
<named-outlet name="footer"></named-outlet>