<!-- general form elements disabled -->
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Dados da evento</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <pre>{{ evForm.value | json}}</pre>
        <form [formGroup]="evForm">
            <!-- text input -->
            <div class="form-group">
                <div role="row">
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <div class="form-group">
                            <div class="input-group margin">
                                <input type="text" class="form-control" formControlName="inicioDt"
                                    placeholder="Data Inicio" [disabled]="isAllDayEvent()" name="inicioDt" ngbDatepicker
                                    (dateSelect)="onDateSelectInicioDt($event)" #inicioDate="ngbDatepicker">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat far fa-calendar-alt"
                                        (click)="inicioDate.toggle()" type="button"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-xs-1">
                        <ngb-timepicker class="time-position" formControlName="inicioHr" [disabled]="evento?.diatodo">
                        </ngb-timepicker>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <div class="form-group">
                            <div class="input-group margin">
                                <input class="form-control" formControlName="fimDt" placeholder="Data Fim"
                                    [disabled]="evento?.diatodo" name="fimDt" ngbDatepicker
                                    (dateSelect)="onDateSelectFimDt($event)" #fimDate="ngbDatepicker">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat far fa-calendar-alt" (click)="fimDate.toggle()"
                                        type="button"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-xs-1">
                        <ngb-timepicker class="time-position" formControlName="fimHr" [disabled]="evento?.diatodo">
                        </ngb-timepicker>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <label>Dia Inteiro</label>
                        <input type="checkbox" formControlName="diatodo" class="form-control mat-checkbox"
                            [checked]="evento?.diatodo">
                    </div>
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Título</label>
                        <input type="text" formControlName="titulo" placeholder="Título" class="form-control"
                            [value]="evento?.titulo">
                    </div>
                </div>
                <div role="row">
                        <div class="w-100"></div>
                    <div class="col-sm-1 col-md-6 col-xs-6">
                        <label>Campanha</label>
                        <select (change)="emitSelecionaCampanha($event)" class="form-control" id="campanhaSel"
                            formControlName="campanha" value="campanha">
                            <option>-- Selecionar --</option>
                            <option name="campanhaSel" *ngFor="let camp of listCampanhas"
                                [selected]="camp?._id === evento?.campanha?._id" [value]="camp?._id">{{camp?.campanha}}
                                > {{camp?.cliente}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-6 col-xs-6">
                        <label>Fornecedor</label>
                        <select (change)="emitSelecionaFornecedor($event)" class="form-control" id="fornecedorSel"
                            formControlName="fornecedor" value="evento?.fornecedor?._id">
                            <option>-- Selecionar --</option>
                            <option name="fornecedorSel" *ngFor="let forn of listFornecedores"
                                [selected]="forn?._id === evento?.fornecedor?._id" [value]="forn?._id">{{forn?.empresa}}
                            </option>
                        </select>
                    </div>
                    <div class="w-100"></div>
                </div>

                <!--    -->

                <div role="row">
                    <div class="w-100"></div>
                    <div class="col-sm-1 col-md-6 col-xs-6">
                        <label>Filial</label>
                        <select (change)="emitSelecionaFilial($event)" class="form-control" id="filialSel"
                            formControlName="filial" value="filial">
                            <option>-- Selecionar --</option>
                            <option name="filialSel" *ngFor="let fil of filiais"
                                [selected]="fil?._id === evento?.filial?._id" [value]="fil?._id">{{fil?.filial}} >
                                {{fil?.cnpj}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-6 col-xs-6">
                        <label>Unidade</label>
                        <select (change)="emitSelecionaUnidade($event)" class="form-control" id="unidadeSel"
                            formControlName="unidade" value="unidade">
                            <option>-- Selecionar --</option>
                            <option name="unidadeSel" *ngFor="let unid of unidades"
                                [selected]="unid?.cod_unid === evento?.unidade?.cod_unid" [value]="unid?.cod_unid">
                                {{unid?.cod_unid}} > {{unid?.nome_unid}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <label>CEP</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="cep" placeholder="CEP"
                                class="form-control" [value]="evento?.unidade?.endereco?.cep">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <!--
                    <div class="col-sm-1 col-md-1 col-xs-1">
                        <button class="btn btn-info btn-block btn-s btn-space button-cep" (click)="buscarCEP()">Buscar CEP</button>
                    </div>
                    -->
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-8 col-xs-8">
                        <label>endereco</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="endereco" placeholder="Endereço"
                                class="form-control" [value]="evento?.unidade?.endereco?.endereco">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <label>Número</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="numero" placeholder="Número"
                                class="form-control" [value]="evento?.unidade?.numero">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <label>Complemento</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="complemento" placeholder="Complemento"
                                class="form-control" [value]="evento?.unidade?.complemento">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-5 col-xs-4">
                        <label>Bairro</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="bairro" placeholder="Bairro"
                                class="form-control" [value]="evento?.unidade?.endereco?.bairro">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-5 col-xs-4">
                        <label>Cidade</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="cidade" placeholder="Cidade"
                                class="form-control" [value]="evento?.unidade?.endereco?.cidade">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <label>Estado</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" [readonly]="true" formControlName="estado" placeholder="Estado"
                                class="form-control" [value]="evento?.unidade?.endereco?.estado">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-12 col-xs-12">
                        <label>Detalhes do Evento</label>
                        <textarea rows="5" formControlName="texto_evento" placeholder="Detalhes do Evento"
                            class="form-control" [value]="evento?.texto_evento"></textarea>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-3 col-md-3 col-xs-3 col-xs-offset-9">
                        <div role="row">
                            <button class="btn btn-dangerbtn btn-danger btn-s btn-space barbottom"
                                (click)="cancelarEdicao()">Cancelar</button>
                            <button type="submit" (click)="salvarEvento(evForm.value)" [disabled]="evForm.invalid"
                                class="btn btn-primary btn-s btn-space barbottom">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>