.label-normal {
    font-weight: normal;
}

.box-inline {
    display: -webkit-inline-box;
}

.vertical-align {
    vertical-align: -webkit-baseline-middle;
}

.no-margin-bottom {
    margin-bottom: 0px;
}