<!-- Page Header-->
<div class="col-md-12">
	<ul class="breadcrumb">
		<a (click)="irHome()">
		  Home
		</a>
		/
		<a (click)="irManterNatureza()">
			Manter Natureza
		</a>
		/ Incluir Natureza
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div>
    <h2 class="no-margin-bottom">Incluir Natureza</h2>
  </div>
</header>
<!-- Page Header-->

<section>
    <div style="min-height: 420px;">
      <form [formGroup]="formulario" name="form">
        <fieldset>
          <div class="form-group">
            <div class="clearfix"></div>
            <div class="row col-md-4" [ngClass]="aplicaClasseDeErro(formulario, nameNatureza)">
              <app-required-label [title]="'Natureza'"></app-required-label>
              <input [id]="nameNatureza"
                     [formControlName]="nameNatureza"
                     [name]="nameNatureza"
                     [readonly]="isBloqueiaCamposPrincipais()"
                     class="form-control"
                     type="text"
                     minlength="3"
                     maxlength="30">              
              <app-required-field [showLength]="true"
                                  [show]="validaSeCampoValidoLength(formulario, nameNatureza, 3)">
              </app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12">
              <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
              <br>
              <ng-container *ngFor="let item of tiposOcorrencia; let i = index">
                <label class="radio-inline">
                  <input [id]="idField([nameTipoOcorrencia, item.id])"
                         [name]="idField([nameTipoOcorrencia, item.id])"
                         [checked]="isCheckTiposOcorrencia(item)"
                         [disabled]="validarBloqueio(null, i)"
                         type="checkbox"
                         (change)="changeTouched(selectTipoOcorrenciaNatureza(item), 
                                                 $event.target.checked,
                                                 natureza.tiposOcorrenciaNatureza)">
                  <label class="label-normal" 
                         for="{{ idField([nameTipoOcorrencia, item.id]) }}">
                    {{ item.nome }}
                  </label>
                </label>
              </ng-container>
              <app-required-field [show]="validaSeCheckboxValidoList(tiposOcorrenciaTouched,
                                                                       natureza.tiposOcorrenciaNatureza)"
                                  [width]="40">
              </app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-md-2 no-margin-bottom">
                <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSituacao)">
                  <app-required-label [title]="'Situação'"></app-required-label>
                  <div class="box-inline">
                      <select [id]="nameSituacao"
                              [formControlName]="nameSituacao"
                              [name]="nameSituacao"
                              class="form-control">
                          <option [ngValue]="null">Selecione</option>
                          <option *ngFor="let s of situacoes"
                                  [ngValue]="s.value">
                              {{s.text}}
                          </option>
                      </select>
                      
                      <label class="radio-inline vertical-align">
                          <input [id]="nameRestrita"
                                 [formControlName]="nameRestrita"
                                 [name]="nameRestrita"
                                 type="checkbox">
                          <label class="label-normal" for="{{ nameRestrita }}">Restrita</label>
                      </label>
                  </div>
                  <app-required-field [show]="validaSeCampoValido(formulario, nameSituacao)"></app-required-field>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row col-md-2 no-margin-bottom">
              <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameAceite)">
                <app-required-label [title]="'Aceite'"></app-required-label>
                <select [id]="nameAceite"
                        [formControlName]="nameAceite"
                        [name]="nameAceite"
                        class="form-control">
                    <option [ngValue]="null">Selecione</option>
                    <option *ngFor="let sn of simNao"
                            [ngValue]="sn.value">
                        {{sn.text}}
                    </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, nameAceite)"></app-required-field>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameOrientacao)">
              <app-required-label [title]="'Orientação'"></app-required-label>
              <textarea [id]="nameOrientacao"
                        [formControlName]="nameOrientacao"
                        [name]="nameOrientacao"
                        class="form-control"
                        minlength="3"
                        maxlength="500"
                        rows="4">
              </textarea>
              <app-required-field [showLength]="true"
                                  [show]="validaSeCampoValidoLength(formulario, nameOrientacao, 3)">
              </app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-md-3 no-margin-bottom">
                <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameUnidadeResponsavel)">
                  <app-required-label [title]="'Unidade Responsável Final'"></app-required-label>
                  <select [id]="nameUnidadeResponsavel"
                          [formControlName]="nameUnidadeResponsavel"
                          class="form-control">
                    <option [ngValue]="null">Selecione</option>
                    <option *ngFor="let s of situacoes"
                            [ngValue]="s.value">
                      {{s.text}}
                    </option>
                  </select>
                  <app-required-field [show]="validaSeCampoValido(formulario, nameUnidadeResponsavel)"></app-required-field>
                </div>
            </div>

            <div class="row col-xs-12">
              <button id="btnSalvarNatureza"
                      type="submit"
                      class="btn btn-warning"
                      (click)="salvar()">
                <span class="fa fa-pencil fa-fw"></span>&nbsp;{{ nameBotaoSalvar }}
              </button>
              <button id="btnLimparNatureza"
                      class="btn btn-danger"
                      (click)="limpar()">
                <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
              </button>
              <button id="btnVoltarNatureza"
                      class="btn btn-primary"
                      (click)="voltar()">
                <span class="fa fa-reply"></span>&nbsp;Voltar
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</section>
