<div class="row" *ngIf="elegivel">
    <div class="box-body">
        <form [formGroup]="imuForm">
            <ic-input-container [showTip]="false">
                <input type="text" formControlName="nome" placeholder="Nome" readonly="true" class="form-control" [value]="elegivel?.nome">
                <span class="form-control-feedback"></span>
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <input type="text" formControlName="cpf" placeholder="CPF" readonly="true" class="form-control" [value]="elegivel?.cpf">
                <span class="form-control-feedback"></span>
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <input type="text" formControlName="produto" placeholder="Vacina" readonly="true" class="form-control" [value]="imunizacao?.desc_produto">
                <span class="form-control-feedback"></span>
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <select formControlName="lote" placeholder="Lote" (change)="selecionarImunizacao($event)" class="form-control input-sm" id="loteSel"
                    [ngModel]="imunizacao" value="imu._id">
                    <option name="loteValue" *ngFor="let imu of imunizacoes" [selected]="imu === imunizacao" [value]="imu._id">{{imu.num_lote}}</option>
                </select>
                <span class="form-control-feedback"></span>
            </ic-input-container>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-offset-2 col-xs-8 ">
                    <button type="submit" (click)="enviarImunizacao()" [disabled]="imuForm.invalid" class="btn btn-primary btn-block btn-flat">Registrar Imunização</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
