<ion-header>
    <ion-navbar color="clean">
        <ion-title>ImunoCare - Acesso</ion-title>        
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="login-box">
        <ion-list class="form-round">
            <ion-item>
                <ion-input type="email" placeholder="E-Mail" [(ngModel)]="login_data.user"></ion-input>
            </ion-item>
        </ion-list>

        <ion-list class="form-round">    
            <ion-item>
                <ion-input type="password" placeholder="Senha" [(ngModel)]="login_data.password"></ion-input>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-toggle item-start [(ngModel)]="login_data.save"></ion-toggle>
            <ion-label>Lembrar acesso</ion-label>            
        </ion-item>
        <br>

        <button ion-button block round color="main" (click)="doLogin()">Acessar</button>
        <button ion-button block clear color="text-main" (click)="recoverPassword()">Esqueci minha senha</button>
    </div>
</ion-content>
