<button ion-button 
        round
        [id]="id"
        [disabled]="disabled"
        [ngClass]="clazz"
        [ngStyle]="style"
        (click)="emitOnClick($event)">
  <ion-icon *ngIf="showIcon()"
            [name]="clazzIcon">
  </ion-icon>
  {{ text }}
</button>