<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog" style="min-width: 85% !important;">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Regras de Direcionamento</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" name="form">
          <fieldset>
            <div class="form-group">
              <div class="col-md-12">
                <div class="row col-md-12">
                    <app-seleciona-unidade [formulario]="formulario"
                                           [idBase]="nameUnidade"
                                           [modalExterna]="modalUnidadeExterna"
                                           [unidadeExterna]="unidadeExterna"
                                           [label]="'Unidade Responsável'"
                                           [required]="true"
                                           [name]="nameUnidade">
                    </app-seleciona-unidade>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
              <app-many-checkbox [list]="ufs" 
                                 label="UF"
                                 [name]="nameUfs"
                                 [required]="true"
                                 [form]="formulario" 
                                 [grid]="true"
                                 itemDescription="sgUf">
              </app-many-checkbox>
            </div> 
          
            <div class="modal-header"> 
              <h4 class="modal-title">Regras de Direcionamento</h4>
            </div>
            <div>
              <app-siouv-table [dataList]="dataList"
                               (emitDelete)="remover($event)">
              </app-siouv-table>
            </div>
        </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="regrasDirecionamento.length > 0"
                [id]="getIdField('btnIncluirRegra')"
                class="btn btn-primary" 
                (click)="incluirRegras()">
          <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Regras de Direcionamento
        </button>
        <button [id]="getIdField('btnIncluir')"
                class="btn btn-primary" 
                (click)="incluir()">
          <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Unidade
        </button>
        <button [id]="getIdField('btnLimpar')"
                class="btn btn-primary" 
                (click)="limpar()">
          <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
        </button>
        <button [id]="getIdField('btnVoltar')"
                class="btn btn-primary" 
                (click)="hide()">
          <span class="fa fa-reply"></span>&nbsp;Voltar
        </button>
      </div>
    </div>
  </div>
</div>
<app-unidade-modal [idBase]="nameUnidade"
                   (emitIdModal)="receberIdModalUnidade($event)"
                   (selecionarUnidade)="receberUnidade($event)">
</app-unidade-modal>