<div class="box-body table-responsive no-padding">
    <div class="fc-toolbar fc-header-toolbar">
        <div class="fc-left">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)=setBackCalendar()>
                    <span class="fc-icon fc-icon-left-single-arrow"></span>
                </button>
                <button type="button" class="btn btn-primary" (click)=setForwardCalendar()>
                    <span class="fc-icon fc-icon-right-single-arrow"></span>
                </button>
            </div>
            <button type="button" class="btn btn-primary btn-cal" (click)=setToday()>Hoje</button>
        </div>
        <div class="fc-right">
            <div class="btn-group" role="row">
                <button type="button" [class.active]="isMensal()" class="btn btn-primary btn-cal" (click)="setCalendarView(_MENSAL)">Mensal</button>
                <button type="button" [class.active]="isSemanal()" class="btn btn-primary btn-cal" (click)="setCalendarView(_SEMANAL)">Semanal</button>
                <button type="button" [class.active]="isDiario()" class="btn btn-primary btn-cal" (click)="setCalendarView(_DIARIO)">Diário</button>
                <!-- <button type="button" [class.active]="isLista()" class="btn btn-primary btn-cal" (click)="setCalendarView(_LISTA)">Lista</button> -->
            </div>


        </div>
        <div class="fc-center" *ngIf="isDiario()">
            <h2>{{ idData.toLocaleDateString('pt-BR', {day: 'numeric', month: 'long', year: 'numeric'}) }}</h2>
        </div>
        <div class="fc-center" *ngIf="!isDiario()">
            <h2>{{ dataCalendario.toLocaleDateString('pt-BR', {month: 'long', year: 'numeric'}) }}</h2>
        </div>
        <div class="fc-clear"></div>
    </div>
<!--
    <ic-modal id="custom-modal-1">
        <ic-evento #detalhesEvento [evento]="eventoDoDia"></ic-evento>
        <button (click)="closeModal('custom-modal-1');">Close</button> 
    </ic-modal>
-->

    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <!--                                                    M E N S A L                                                         -->
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
    <!---->
    <div class="fc-view-container" style="height: 100%;" *ngIf="calendarType === _MENSAL">
        <div class="fc-view fc-month-view fc-basic-view">
            <table class="table table-bordered" role="grid">
                <thead class="fc-head" style="width: 100%">
                    <tr>
                        <th class="fc-day-header fc-widget-header fc-sun" style="width: 14.285%;"><span>Dom</span></th>
                        <th class="fc-day-header fc-widget-header fc-mon" style="width: 14.285%;"><span>Seg</span></th>
                        <th class="fc-day-header fc-widget-header fc-tue" style="width: 14.285%;"><span>Ter</span></th>
                        <th class="fc-day-header fc-widget-header fc-wed" style="width: 14.285%;"><span>Qua</span></th>
                        <th class="fc-day-header fc-widget-header fc-thu" style="width: 14.285%;"><span>Qui</span></th>
                        <th class="fc-day-header fc-widget-header fc-fri" style="width: 14.285%;"><span>Sex</span></th>
                        <th class="fc-day-header fc-widget-header fc-sat" style="width: 14.285%;"><span>Sáb</span></th>
                    </tr>
                </thead>
                <tbody class="fc-body" style="height: 100%;">
                    <tr style="background-color: white;" *ngFor="let semana of calendario; let s = index" style="width: 100%; height: 150px;">
                        <td *ngFor="let dia of semana; let d = index" [class]="'fc-day-top fc-widget-content ' + [getDayClass(dia)]" style="height: 150px;">
                            <!--<div role="button" style="width: 100%; height: 100%;" (click)="editarEvento(s, d, 0, 0)" (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                            <div style="width: 100%; height: 100%;">
                                    <table style="width: 100%;">
                                    <thead>
                                        <th>
                                            <a role="button" (click)="editarEvento(s, d, 0, 0)" style="cursor:hand">  <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                <span class="fc-day-number pull-right">{{dia.getDate()}}</span>
                                            </a>
                                        </th> 
                                    </thead>
                                    <tbody class="fc-body">
                                        <tr style="width: 100%;" *ngFor="let evento of getDayEvents(dia, false, undefined)">
                                            <td class="fc-event-container">
                                                <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"
                                                    [style.background-color]="[frameBgColor]" style="cursor:hand" (click)="editarEvento(s, d, 0, 0, evento._id)" >
                                                                                              <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                    <div class="fc-content">
                                                        <span class="fc-time">{{ evento.inicio.toLocaleTimeString({'hour': '2-digit',
                                                            'minute': '2-digit'}) }}</span>
                                                        <span class="fc-title"> {{ evento.titulo }}</span>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--                                                  S E M A N A L                                                         -->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

<div class="fc-view-container" style="height: 100%;" *ngIf="calendarType === _SEMANAL">
    <div class="fc-view fc-agendaWeek-view fc-agenda-view" style="width: 100%">
        <table class="table table-bordered" role="grid">
            <thead class="fc-head" style="width: 100%">
                <tr style="width: 100%;">
                    <th class="fc-axis fc-widget-header" style="width: 40px;"></th>
                    <th class="fc-day-header fc-widget-header fc-sun" style="width: auto;" *ngFor="let dia of getSemana(idSemana)">
                        <span>{{dia.toLocaleDateString('pt-BR', {weekday: 'long', day: 'numeric', month: 'numeric',
                            year: 'numeric'})}}</span>
                    </th>
                </tr>
            </thead>

            <tbody class="fc-body">
                <tr data-time="00:00:00" style="width: 100%; height: 100px;">
                    <td class="fc-axis fc-time fc-widget-content"><span>Dia Todo</span></td>
                    <td *ngFor="let dia of getSemana(idSemana); let d = index" [class]="'fc-day-top fc-widget-content ' + [getDayClass(dia)]"
                        style="height: 100px;">
                        <div *ngIf="getDayEvents(dia, true, undefined).length === 0"
                              role="button" style="width: 100%; height: 100%;" (click)="editarEvento(idSemana, d, 0, 0)">
                            <table style="width: 100%;">
                                <tbody class="fc-body">
                                    <tr style="width: 100%;" *ngFor="let evento of getDayEvents(dia, true, undefined)">
                                        <td class="fc-event-container">
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"
                                                [style.background-color]="[frameBgColor]" (click)="editarEvento(idSemana, d, 0, 0, evento._id)" >
                                                                                           <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                <div class="fc-content">
                                                    <span class="fc-title"> {{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="getDayEvents(dia, true, undefined).length > 0" style="width: 100%; height: 100%;">
                            <table style="width: 100%;">
                                <tbody class="fc-body">
                                    <tr style="width: 100%;" *ngFor="let evento of getDayEvents(dia, true, undefined)">
                                        <td class="fc-event-container">
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"
                                                [style.background-color]="[frameBgColor]" (click)="editarEvento(idSemana, d, 0, 0, evento._id)" >
                                                                                            <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                <div class="fc-content">
                                                    <span class="fc-title"> {{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr [class.data-time]="[hora]+':00:00'" *ngFor="let hora of horasDoDia" style="width: 100%; height: 100px;">
                    <td class="fc-axis fc-time fc-widget-content"><span>{{hora}}:00</span></td>
                    <td *ngFor="let dia of getSemana(idSemana); let d = index" [class]="'fc-day-top fc-widget-content ' + [getDayClass(dia)]"
                        style="height: 100px;">
                        
                        <div *ngIf="getDayEvents(dia, false, hora).length === 0"
                             role="button" style="width: 100%; height: 100%;" (click)="editarEvento(idSemana, d, hora, 0)">
                            <table style="width: 100%;">
                                <tbody class="fc-body">
                                    <tr style="width: 100%;" *ngFor="let evento of getDayEvents(dia, false, hora)">
                                        <td class="fc-event-container">
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"
                                                [style.background-color]="[frameBgColor]" (click)="editarEvento(idSemana, d, 0, 0, evento._id)" >
                                                                                            <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                <div class="fc-content">
                                                    <span class="fc-title"> {{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="getDayEvents(dia, false, hora).length > 0" style="width: 100%; height: 100%;">
                            <table style="width: 100%;">
                                <tbody class="fc-body">
                                    <tr style="width: 100%;" *ngFor="let evento of getDayEvents(dia, false, hora)">
                                        <td class="fc-event-container">
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"
                                                [style.background-color]="[frameBgColor]" (click)="editarEvento(idSemana, d, 0, 0, evento._id)" >
                                                                                            <!-- (updateEvent)="detalhesEvento.atualizaEvento($event)"> -->
                                                <div class="fc-content">
                                                    <span class="fc-title"> {{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--                                                    D I A R I O                                                         -->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

<div class="fc-view-container" role="row" *ngIf="calendarType === _DIARIO">
    <!-- <div role="row"> -->
    <div class="fc-view fc-agendaDay-view fc-agenda-view col-sm-7 col-md-7 col-xs-7">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th class="fc-axis fc-widget-header" style="width: 50px; text-align: center;" colspan="2"><span>{{idData.toLocaleDateString('pt-BR',
                            { weekday: 'long', day: 'numeric', month: 'numeric', year: 'numeric'})}}</span></th>
                    <!--<th class="fc-day-header fc-widget-header fc-mon fc-today" colspan="2" data-date="2018-10-08"></th>-->
                </tr>
            </thead>
            <tbody class="fc-body">
                <tr>
                    <!--data-time="00:00:00">-->
                    <td class="fc-axis fc-time fc-widget-content" style="width: 50px;"><span>Dia todo</span></td>
                    <td class="fc-event-container">
                        <div role="button" style="width: 100%; height: 100%;">
                            <div *ngIf="getDayEvents(idData, true, 0).length === 0">
                                <div style="height: 20px;"></div>
                            </div>                            
                            <table style="width: 100%;">
                                <tbody class="fc-body">
                                    <tr *ngFor="let evento of getDayEvents(idData, true, undefined)">
                                        <td>
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-not-end fc-draggable" (click)="setDetalhesEvento(evento)">
                                                <div class="fc-content">
                                                    <span class="fc-title">{{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let hora of horasDoDia">
                    <!--[class.data-time]="[hora]+':00:00'"-->
                    <td class="fc-axis fc-time fc-widget-content"><span>{{hora}}:00</span></td>
                    <td class="fc-event-container">
                        <div role="button" style="width: 100%; height: 100%;">
                            <div *ngIf="getDayEvents(idData, false, hora).length === 0">
                                <div style="height: 20px;"></div>
                            </div>
                            <table style="width: 100%;" *ngIf="getDayEvents(idData, false, hora).length > 0">
                                <tbody class="fc-body">
                                    <tr *ngFor="let evento of getDayEvents(idData, false, hora)">
                                        <td>
                                            <a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-not-end fc-draggable"(click)="setDetalhesEvento(evento)">
                                                <div class="fc-content">
                                                    <span class="fc-title"> {{ evento.titulo }}</span>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fc-view fc-agendaDay-view fc-agenda-view col-sm-4 col-md-4 col-xs-4">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th class="fc-axis fc-widget-header" style="text-align: center;"><span>Detalhes do Evento</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fc-event-container">
                        <div>
                            <textarea class="" style="width: 100%;" rows="30">{{getDetalhesEvento().texto_evento}}</textarea>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--</div>-->
</div>

<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--                                        L I S T A   D E   T A R E F A S                                                 -->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->
<!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-->

<div class="fc-view-container" *ngIf="calendarType === _LISTA">
    <div class="fc-view fc-listMonth-view fc-list-view fc-widget-content">
        <div class="fc-scroller" style="overflow: hidden auto; height: 1025px;">
            <table class="fc-list-table ">
                <tbody>
                    <tr class="fc-list-heading" data-date="2018-10-01">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">1
                                de outubro de
                                2018</span><span class="fc-list-heading-alt">Segunda-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>All Day Event</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-02">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">2
                                de outubro de
                                2018</span><span class="fc-list-heading-alt">Terça-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">10:00am - 12:00pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Monthly Meeting</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-07">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">7
                                de outubro de
                                2018</span><span class="fc-list-heading-alt">Domingo</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-08">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">8
                                de outubro de
                                2018</span><span class="fc-list-heading-alt">Segunda-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-09">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">9
                                de outubro de
                                2018</span><span class="fc-list-heading-alt">Terça-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Long Event</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">4:00pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Repeating Event</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-11">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">11
                                de outubro
                                de 2018</span><span class="fc-list-heading-alt">Quinta-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Conference</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-12">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">12
                                de outubro
                                de 2018</span><span class="fc-list-heading-alt">Sexta-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Conference</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">10:30am - 12:30pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Meeting</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">12:00pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Lunch</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">2:30pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Meeting</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">5:30pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Happy Hour</a></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">8:00pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Dinner</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-13">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">13
                                de outubro
                                de 2018</span><span class="fc-list-heading-alt">Sábado</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">7:00am</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Birthday Party</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-16">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">16
                                de outubro
                                de 2018</span><span class="fc-list-heading-alt">Terça-feira</span></td>
                    </tr>
                    <tr class="fc-list-item">
                        <td class="fc-list-item-time fc-widget-content">4:00pm</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a>Repeating Event</a></td>
                    </tr>
                    <tr class="fc-list-heading" data-date="2018-10-28">
                        <td class="fc-widget-header" colspan="3"><span class="fc-list-heading-main">28
                                de outubro
                                de 2018</span><span class="fc-list-heading-alt">Domingo</span></td>
                    </tr>
                    <tr class="fc-list-item fc-has-url">
                        <td class="fc-list-item-time fc-widget-content">all-day</td>
                        <td class="fc-list-item-marker fc-widget-content"><span class="fc-event-dot"></span></td>
                        <td class="fc-list-item-title fc-widget-content"><a href="http://google.com/">Click
                                for
                                Google</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>