<div [id]="modalId" #modalNaturezaDetalhe class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Histórico Natureza</h4>
      </div>
      <div class="modal-body">
        <fieldset>
          <div class="body">
            <div *ngFor="let item of getDetalhes()">
              <label class="control-label">
                {{item.titulo}}
              </label>
              <label class="control-label label-normal">
                {{ text(item.value) }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                data-dismiss="modal">
            <span class="fa fa-reply"></span>&nbsp;Voltar
        </button>
      </div>
    </div>
  </div>
</div>