<div class="row" >
  <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- MAP & BOX PANE -->
      <div class="box box-info">
          <div class="box-header with-border">
              <h3 class="box-title">Cadastro de Usuários</h3>
          </div>
          <div class="box-body">

              <div class="col-md-6">
                  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
                  </mat-paginator>
              </div>
              <div class="col-md-6">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              </div>
          </div>

          <mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" matSortActive="usuario" matSortDirection="asc"
              matSortDisableClear *ngIf="usuarios.length > 0">
              <ng-container matColumnDef="usuario">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> Usuario </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.usuario}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="nome">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> Nome </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                  <mat-header-cell mat-sort-header *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="perfil">
                  <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.perfil}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="primeiro_acesso">
                  <mat-header-cell *matHeaderCellDef> 1o. acesso </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.primeiro_acesso}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email_enviado">
                  <mat-header-cell *matHeaderCellDef> Email enviado </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.email_enviado}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="loginAttempts">
                  <mat-header-cell *matHeaderCellDef> Tentativas de Login </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.loginAttempts}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="lockUntil">
                  <mat-header-cell *matHeaderCellDef> Bloqueio </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.lockUntil | date: 'dd/MM/yyyy' }}</mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></mat-row>

          </mat-table>
      </div>
  </div>
</div>
