// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$logo-main: #223668;
$logo-sec: #20b8d0;
$text-main: #4f5f8e;
$clean: #8995b7;

$tab-active: $logo-main;
$tab-inactive: #aaa;

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  main: (
      base: $logo-main,
      contrast: #f1f1f1
  ),
  text-main: (
      base: $text-main,
      contrast: $logo-main
  ),
  clean: (
      base: $text-main,
      contrast: #f1f1f1
  ),
  logo-sec: (
      base: $logo-sec,
      contrast: #f1f1f1
  )
);

$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

$alert-md-button-text-color: $logo-main;

$toolbar-md-title-font-size: 15px;

$toggle-md-active-color: $text-main;
$toggle-md-track-height: 30px;
$toggle-md-track-width: 50px;
$toggle-md-handle-height: 28px;
$toggle-md-handle-width: 28px;

$loading-md-background: transparent;
$loading-md-box-shadow: none;
$loading-md-spinner-color: $logo-main;

$tabs-md-tab-min-height: 70px;
$tabs-md-tab-text-color: $tab-inactive;
$tabs-md-tab-text-color-active: $tab-active;
$tabs-md-tab-icon-color: $tab-inactive;
$tabs-md-tab-icon-color-active: $tab-active;

$popover-md-width: 130px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
