<!-- general form elements disabled -->
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Dados da Campanha</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form [formGroup]="campForm">
            <!-- text input -->
            <div class="form-group">
                <div role="row">
                    <div class="col-sm-1 col-md-6 col-xs-6">
                        <label>Campanha</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="campanha" placeholder="Campanha" [readonly]="true" class="form-control" [value]="campanha?.campanha">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-3 col-xs-3" *ngIf="campanha?.status === undefined">
                        <label>Status</label>
                        <select (change)="emitSelecionaStatusCampanha($event)" class="form-control input-sm" id="campanhaSel" value="campanha?.status">
                            <option>-- Selecionar --</option>
                            <option *ngFor="let statusCamp of listStatusCampanhas" [value]="campanha?.status">{{statusCamp.status}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-3 col-xs-3" *ngIf="campanha?.status !== undefined">
                        <label>Status</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="status" placeholder="Status" readonly="true" class="form-control" [value]="campanha?.status">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>                    
                    <div class="col-sm-1 col-md-3 col-xs-3">
                        <label>
                            <input type="checkbox" class="minimal" [checked]="campanha?.in_company"> In Company</label>
                    </div>
                    <div class="col-sm-1 col-md-3 col-xs-3">
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="nf" placeholder="Nota Fiscal" readonly="true" class="form-control" [value]="campanha?.nf">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>CNPJ</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="cnpj" placeholder="CNPJ" readonly="true" class="form-control" [value]="campanha?.cliente?.cnpj">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Início:</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="data_inicio" placeholder="Data Início" readonly="true" class="form-control" [value]="campanha?.data_inicio | date:'dd.MM.yyyy HH:mm' ">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Fim:</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="data_fim" placeholder="Data Fim" readonly="true" class="form-control" [value]="campanha?.data_fim | date:'dd.MM.yyyy HH:mm' ">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row" *ngIf="loteProdList?.length === 1">
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Produto</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="produto" placeholder="Produto" readonly="true" class="form-control" [value]="loteProdList[0].produto">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Lote</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="lote" placeholder="Lote" readonly="true" class="form-control" [value]="loteProdList[0].lote">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Quantidade</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="qtde" placeholder="Qtde" readonly="true" class="form-control" [value]="loteProdList[0].lote_qtde">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row" *ngIf="loteProdList?.length > 1">
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-striped dataTable" role="grid">
                            <tr>
                                <th style="width: 20px">Produto</th>
                                <th style="width: 50%">Lote</th>
                                <th style="width: 40px">Qtde</th>
                            </tr>
                            <tr  *ngFor="let loteProd of loteProdList">
                                <td style="width: 20px">{{loteProd.produto}}</td>
                                <td style="width: 20px">{{loteProd.lote}}</td>
                                <td style="width: 20px">{{loteProd.lote_qtde}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-12 col-xs-12">
                        <label>Cliente</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="cliente" placeholder="Cliente" readonly="true" class="form-control" [value]="campanha?.cliente?.empresa">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Responsável</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="responsavel_cliente" placeholder="Cliente" readonly="true" class="form-control" [value]="campanha?.cliente?.responsavel">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-3 col-xs-3">
                        <label>Fone</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="fone_cliente" placeholder="Cliente" readonly="true" class="form-control" [value]="campanha?.cliente?.fone">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-5 col-xs-5">
                        <label>E-mail</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="email_cliente" placeholder="E-mail" readonly="true" class="form-control" [value]="campanha?.cliente?.email">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-12 col-xs-12">
                        <label>Distribuidor</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="distribuidor" placeholder="Distribuidor" readonly="true" class="form-control" [value]="campanha?.distribuidor?.empresa">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-4 col-xs-4">
                        <label>Responsável</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="responsavel" placeholder="Responsável" readonly="true" class="form-control" [value]="campanha?.distribuidor?.responsavel">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-3 col-xs-3">
                        <label>Fone</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="fone" placeholder="Fone" readonly="true" class="form-control" [value]="campanha?.distribuidor?.fone">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-5 col-xs-5">
                        <label>E-mail</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="email" placeholder="E-mail" readonly="true" class="form-control" [value]="campanha?.distribuidor?.email">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-12 col-xs-12">
                        <label>Unidade</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="unidade" placeholder="Unidade" readonly="true" class="form-control" [value]="campanha?.unidade">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-3 col-xs-3">
                        <label>Cep</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="cep" placeholder="Cep" readonly="true" class="form-control" [value]="campanha?.cliente?.endereco?.cep">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-9 col-xs-9">
                        <label>Endereço</label>
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="endereco" placeholder="Endereço" readonly="true" class="form-control" [value]="campanha?.cliente?.endereco?.endereco">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
                <div role="row">
                    <div class="col-sm-1 col-md-5 col-xs-5">
                        <!-- <label>Bairro</label> -->
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="bairro" placeholder="Bairro" readonly="true" class="form-control" [value]="campanha?.cliente?.endereco?.bairro">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-5 col-xs-5">
                        <!-- <label>Cidade</label> -->
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="cidade" placeholder="Cidade" readonly="true" class="form-control" [value]="campanha?.cliente?.endereco?.cidade">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                    <div class="col-sm-1 col-md-2 col-xs-2">
                        <!-- <label>Cidade</label> -->
                        <ic-input-container [showTip]="false">
                            <input type="text" formControlName="estado" placeholder="Estado" readonly="true" class="form-control" [value]="campanha?.cliente?.endereco?.estado">
                            <span class="form-control-feedback"></span>
                        </ic-input-container>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
