<div [formGroup]="form">
  <ion-item [id]="getIdComponent('item')"
            [ngStyle]="style"
            [ngClass]="clazz">
    <ion-label [id]="getIdComponent('label')">
        <span *ngIf="required">*</span>{{ placeholder }}
    </ion-label>
    <ion-datetime [id]="id"
                  [formControlName]="name"
                  [displayFormat]="displayFormat" 
                  [min]="minDate"
                  [max]="maxDate"
                  [doneText]="doneText"
                  [cancelText]="cancelText"
                  [pickerOptions]="dateOptions"
                  (ionChange)="validateRequired($event)"
                  (ionCancel)="validateRequired($event)">
    </ion-datetime>
  </ion-item>
  <div [id]="getIdComponent('required')"
       class="error-message">
    <ion-icon name="alert" class="error-icon"></ion-icon>  {{ msgRequiredField() }}
  </div>
</div>