<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <input [id]="name"
           matInput 
           [formControlName]="name"
           [matDatepicker]="namePicker"
           [placeholder]="placeholder"
           [min]="minDate"
           [max]="maxDate"
           (blur)="validadeFieldDate($event, name)">
    <mat-datepicker-toggle matSuffix [for]="namePicker"></mat-datepicker-toggle>
    <mat-datepicker #namePicker></mat-datepicker>
    <mat-error>
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>