<!-- Page Header-->
<div class="col-md-12">
    <ul class="breadcrumb">
      <a routerLink="/home">
        Home
      </a>
      / Redirecionamento Ocorrência
    </ul>
  </div>
  
  <ol class="breadcrumb">
  <header class="page-header">
    <div>
      <h2 class="no-margin-bottom">Manter Redirecionamento de Ocorrências</h2>
    </div>
  </header>
<!-- Page Header-->

<section>
  <div style="min-height: 420px;">
    <form [formGroup]=formulario>
      <fieldset>
        <div class="form-group">
          <div class="row col-md-12">
            <app-seleciona-unidade [formulario]="formulario"
                                   [idBase]="nameUnidadeOrigem"
                                   [label]="'Unidade Origem'"
                                   [required]="true"
                                   [name]="nameUnidadeOrigem">
            </app-seleciona-unidade>
            <div class="clearfix"></div>
            <app-seleciona-unidade [idBase]="nameUnidadeDestino"
                                  [label]="'Unidade Destino'"
                                  [name]="nameUnidadeDestino"
                                  [required]="true"
                                  [formulario]="formulario">
            </app-seleciona-unidade>
          </div>
        </div>  
      </fieldset>
    </form>

    <div>
      <div class="row col-md-12">
        <button class="btn btn-primary" (click)="adicionarLinha()">Incluir Redirecionamento de Ocorrências</button>
        <button class="btn btn-danger" (click)="limparFormulario()">Limpar Formulário</button>
      </div>
        
      <div class="row col-md-12" *ngIf="unidades.length > 0">
        <app-siouv-table [dataList]="dataList"
              (emitDelete)="excluir($event)">
        </app-siouv-table>
				<button id="btnPesquisarHistoricoNatureza"
								class="btn btn-primary" 
								(click)="incluir()">
					<span class="fa fa-search fa-fw"></span>&nbsp;Redirecionar Ocorrências
				</button>
      </div>
    </div>
  </div>
    
</section>