<!-- Page Header-->
<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a routerLink="/manutencao">
			Manutenção 
		</a>
		/ Consultar Classificação
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consultar Classificação</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container">
    <form [formGroup]="formulario">
      <fieldset>
        <div class="col-md-5">
          <div class="form-group">
            <label>Tipo de Ocorrencia</label>

            <select type="text" [id]="nametipoOcorrencia" 
                    class="form-control"
                    [name]="nametipoOcorrencia" 
                    formControlName="tipoOcorrencia">

                   <option value="null">Selecione</option>
                   <option *ngFor="let ocorrencia of ocorrencias" [ngValue]="ocorrencia.id">{{ocorrencia.nome}}</option>
                   </select>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-5">
          <div class="form-group">
              <app-many-checkbox [list]="operacoes" label="Consulta Por" required="true" name="operacoes" inline="true"
              [form]="formulario" itemDescription="descricao"></app-many-checkbox>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-5">
          <div class="form-group">
              <app-required-label [title]="'Palavra Chave'"></app-required-label>
              <input type="text" 
              [id]="namePalavraChave" 
              [name]="namePalavraChave" 
              class="form-control" 
              formControlName="palavraChave" >
              <app-required-field [show]="validaSeCampoValidoLength(formulario, 'palavraChave', 3)" >
              </app-required-field>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-5">
          <div class="form-group">
              <label>Situação</label>
              <select type="text" [id]="nameAtiva" 
              class="form-control"
              [name]="nameAtiva" 
              formControlName="ativa">

             <option value="null">Selecione</option>
             <option *ngFor="let s of situacoes" [ngValue]="s.value">{{s.text}}</option>
             </select>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-5">
          <label>Natureza</label>
          <div class="form-group">
              <select type="text" [id]="nameNatural" 
              class="form-control"
              [name]="nameNatural" 
              formControlName="natural">

             <option value="null">Selecione</option>
             <option *ngFor="let n of naturezas" [ngValue]="n.id">{{n.nome}}</option>
             </select>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-5">
          <label>Tipo de Direcionamento</label>
          <div class="form-group">
              <select type="text" [id]="nameTipoDirecionamento" 
              class="form-control"
              [name]="nameTipoDirecionamento" 
              formControlName="tipoDirecionamento">

             <option value="null">Selecione</option>
             <option *ngFor="let d of direcionamentos" [ngValue]="d.id">{{d.nome}}</option>
             </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="consultar()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Classificação Cadastrada
            </button>
            <button class="btn btn-primary" [routerLink]="[ '/classificacao-ocorrencia/cadastro' ]">
              <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Nova Classificação
            </button>
            <button class="btn btn-primary" [routerLink]="[ '/classificacao-ocorrencia/historico' ]">
              <span class="fa "></span>&nbsp;Historico da Classificação
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa "></span>&nbsp;Limpar Formulario
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div>
    <app-siouv-table [dataList]="dataList"
    (emitEdit)="alterar($event)"
    (emitDelete)="excluir($event)">
    </app-siouv-table>
  </div>
</section>