<div class="box-body">
  <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="16">
    <div class="form">
      <ic-input-text placeholder="Campanha"
                     [value]="getNameCampanha()"
                     [readOnly]="true"
                     [clazz]="['col-md-6']">
      </ic-input-text>

      <ic-input-select [form]="formulario"
                       [name]="nameProduto"
                       [compareWith]="compareTo"
                       [required]="true"
                       placeholder="Produto"
                       [clazz]="['col-md-9']"
                       [options]="getProdutos()"
                       [text]="'produto'"
                       [disabled]="fieldProdutoDisabled"
                       (eventChange)="clearLote($event)">
      </ic-input-select>

      <div class="col-md-3">
          <ic-button [text]="'Incluir Lote'"
                     [clazz]="['btn', 'btn-primary']"
                     [clazzIcon]="['glyphicon', 'glyphicon-plus']"
                     [title]="'Incluir lote'"
                     (eventClick)="incluirLote($event)">
          </ic-button>
        </div>

      <ic-input-text placeholder="Controle Dosagem"
                     [value]="dosagem"
                     [readOnly]="true"
                     [clazz]="['col-md-4']">
      </ic-input-text>

      <ic-input-text placeholder="Número de doses"
                     [value]="nuDose"
                     [readOnly]="true"
                     [clazz]="['col-md-4']">
      </ic-input-text>

      <ic-input-text placeholder="Meses"
                     [value]="meses"
                     [readOnly]="true"
                     [clazz]="['col-md-4']">
      </ic-input-text>

      <mat-radio-group class="col-md-12">
        <mat-label class="font-radio-color">Faixa Etária</mat-label>
        <ic-input-text placeholder="Mínima"
                       [value]="faixaMin"
                       [readOnly]="true"
                       [clazz]="['col-md-4']">
        </ic-input-text>
        <div class="col-md-1 font-radio-color no-padding-left">Até</div>
        <ic-input-text placeholder="Máxima"
                       [value]="faixaMax"
                       [readOnly]="true"
                       [clazz]="['col-md-4', 'no-padding-left']">
        </ic-input-text>
      </mat-radio-group>

      <ic-table-no-pagination [displayedColumns]="displayedColumns"
                              [headers]="headers"
                              [list]="lotes"
                              [mappingDataToTable]="mappingDataToTable"
                              [showDelete]="true"
                              [showEdit]="true"
                              (delete)="deleteLote($event)"
                              [titleDelete]="'Remover Lote'"
                              (edit)="editLote($event)"
                              [titleEdit]="'Editar Lote'">
      </ic-table-no-pagination>
    </div>

    <div class="clearfix"></div>
    <div class="text-right">
      <ic-button [text]="'Salvar'"
                 [clazz]="['btn', 'btn-primary', 'btn-space']"
                 [type]="'submit'">
      </ic-button>

      <ic-button [text]="'Voltar'"
                 [clazz]="['btn', 'btn-danger', 'btn-space']"
                 (eventClick)="voltar($event)">
      </ic-button>
    </div>
  </form>

  <ic-modal-lote-produto [title]="'Incluir Novo Lote de Produto'"
                         [refresh]="refreshModalLote"
                         [value]="loteSelected"
                         (emitIdModal)="setIdLote($event)"
                         (submitLote)="receiveLote($event)">
  </ic-modal-lote-produto>
</div>
