

<div class="logo_centro">
    <div class="logo_img">
      <img src="./assets/images/logo_siouv.png" title="SIOUV - Sistema de Ouvidoria" />
    </div>
    <div class="image_canto">
      <img src="./assets/images/x_canto.png" />
    </div>
</div>

<div class="body">
</div>
<!-- >named-outlet name="footer"></named-outlet -->