@import '../../../assets/sass/colors';

// Conteúdo Importado

body {
	font-family: helvetica;
}

.body {
	background-color: #cccccc;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.topo1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: #ed7902;
}

.barra-topo {
	position: absolute;
	top: 2px;
	left: 0px;
	width: 100%;
	height: 78px;
	background-color: #296fa7;
}

.logo-caixa {
	position: absolute;
	top: 14px;
	left: 30px;
}

#acesso {
	position: absolute;
	top: 90px;
	left: -116%;
	float: left;
}

#acesso p {
	color: #F3F5F8;
	font-size: 15pt;
	margin-left: 87.5%;
	margin-bottom: 0px;
}

#acesso span {
	color: #F3F5F8;	
	margin-left: 89%;
	font-size: 11px;
}

.form-login {
	float: left;
}

.conteudo {
	//position: relative;	
	margin-top: 10%;
}

.dados {
	position: absolute;
	top: 0%;
	left: 0px;
	width: 100%;
}

.barra-sistema {
	background-color: #296fa7;
	height: 60pt;
	width: 100%;
	top: 0px;
}

.topo2 {
	//position: absolute;
	//top: 80px;
	//left: 0px;
	//width: 100%;
	//height: 2px;
	//background-color: #358ED7;
}

.linha {
	position: absolute;
	top: 80px;
	left: 210px;
	width: 2px;
	height: 50px;
	background-color: #358ED7;
	z-index: 1;
}

.conteudo .titulo {
	position: absolute;
	top: 4px;
	left: 450px;
	width: 50%;
	height: 55px;
}

.conteudo .titulo p {
	position: absolute;
	height: 24px;
	top: 0px;
	left: 27px;
	color: #48ADFF;
}

.conteudo .titulo span {
	position: absolute;
	top: 6px;
	left: 27px;
	font-size: 35px;
	letter-spacing: 0.3px;
	color: #F3F5F8;
}

.conteudo #fundo {
	position: absolute;
	top: 30px;
	left: -8px;
	background-color: rgba(0, 0, 0, 1.49);
	padding: 520px 0px 0px 520px ;
	margin: 44px 30px 0px 0px;
	opacity: 0.5;  
	height: 152px;
}

.conteudo #login {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 200px 0px 0px 85px;
}

.conteudo #login button {
	margin: 0px 12px 0px 40px;
}

.form input {
	width: 311.9px;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #dddddd;
}

#entrar {
	margin: 0px 0px 0px 50px;
}

.btn2 {
	width: 150px;
	height: 40px;
	border-radius: 3px;
	border: #358ed7;
	background-color: #358ed7;
	margin-right: 5px;
}

.btn-black {
	background-color: #3c4858 !important;
}

.btn-laranja {
	background-color: rgb(253,169,23) !important;
	margin-right: 5px;
}

.btn-laranja:hover {
	color: #333;
	cursor: pointer;
} 

.btn-center {
	margin: 3% 0px 5% 40%;
}

.btn-center-2 {
	margin: 3% 0px 5% 30%;
}

input[type='submit'] {
	font-size: 14px;
	font-weight: 900;
	line-height: 1.36;
	letter-spacing: 2.4px;
	text-align: center;
	color: #ffffff;
}

#recuperar-senha {
	position: absolute;
	top: 370px;
	left: 70px;
}

#recuperar-senha p {
	width: 120px;
	height: 0px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.4px;
	text-align: left;
	color: #ffffff;
}

#recuperar-senha span {
	width: 312px;
	height: 22px;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0.3px;
	text-align: justify;
	color: #ffffff;
}

.incentivo {
	position: absolute;
	top: 500px;	
	left: 70px;
}

.incentivo h1 {
	width: 379px;
	height: 44px;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 0.2px;
	text-align: justify;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* home */

.menu-usuario {
	position: relative;
	top: 0px;
	left: 0px;
	float: right;
	display: block;
}

.menu-usuario p {
	position: absolute;
	top: 0px;
	left: -170px;
	float: right;
	color: #F3F5F8;
	font-size: 13px;
	margin-left: 89.5%;
	margin-bottom: 0px;
}

.menu-usuario span {
	position: absolute;
	top: 30px;
	left: -160px;
	color: #F3F5F8;	
	margin-left: 90%;
	font-size: 11px;
}

.menu-usuario .menu-icone {
	margin:  50px 50px 0px 0px;
}

.menu-icone ul {
	list-style: none;
}

.menu-icone li {
	margin: 0px 5px 0px 5px; 
	display: inline;
}

.barra {
	//background-color: #F4F4F6;
	margin-top: 0.07%;
	width: 100%;
	height: 60%;
	padding: 0.5%;
}

.barra-favoritos {
	display: none;
	//background-color: #F4F4F6;
	//margin-top: 0.07%;
	//width: 100%;
	//height: 100%;
	//padding: 0.2%;
}

.barra-favoritos p {
	font-size: 8pt;
	color: #296fa7;
}

.favorito-conteudo {
	display: block;;
	background-color: #ededed;
	//width: 100%;
	//height: 120pt;
	border-radius: 6px;
	box-shadow: 2px 2px 3px #648ebc;
	margin: 0.2% 1% 0% 1%;
}

.itens-favoritos-2 {
	float: left;
	margin: 1% 1% 1% 2%
}

.itens-favoritos-2 > p {
	float: right;
	margin: 5% 0% 0% 4pt;
}

.itens-favoritos ul {
	list-style: none;
	//background-color: #ededed;
}

.itens-favoritos li {
	display: inline;
	//float: left;
	margin: 1% 0% 0% 0%;
}

.itens-favoritos li > p {
	color: #296fa7;
}

.barra .linha {
	position: absolute;
	top: 0px;
	left: 80%;
	width: 2px;
	height: 50px;
	background-color: #358ED7;
	color: black;
	z-index: 1;
}

.barra .retorno {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #358ED7;
}

.barra .retorno a {
	text-decoration: none;
	color: #296fa7;
}

.sistema {
	color: #296fa7;
	font-size: 14pt;
}

.funcoes {
	//position: absolute;
	//top: 0px;
	//left: 30%;
	//width: 650px;
}

.funcoes ul {
	list-style: none;
}

.funcoes li {
	margin: 10px 50px 0px 50px; 
	display: inline;
	//float: left;
}

.funcoes .titulo-funcao {
	width: 130px;
	font-size: 15px;
	color:  #000;
	margin-left: 5%;
}

.funcoes .descricao {
	font-size: 11px;
	width: 100%;
	color: #296fa7;
}

.tabela {
	color: #296fa7;
	font-size: 11pt;
	border-spacing: 7px;
}

.tabela tr {
	color: #296fa7;
	width: 100%;
}

.tabela .coluna1 {
	width: 25%;
	padding: 10px 10px 10px 10px;
}

.tabela .coluna1-medio {
	width: 45%;
	padding: 2px 2px 2px 10px;
}

.tabela .coluna1-unico {
	width: 65%;
	padding: 2px 2px 2px 10px;
}

.tabela .coluna2 {
	width: 65%;
	margin: 0px 0px 0px 3px;
	padding: 5px 5px 5px 10px;
}

.tabela .coluna2-medio {
	width: 30%;
	margin: 0px 0px 0px 3px;
	padding: 2px 2px 2px 10px;
}

.tabela .coluna2-unico {
	width: 10%;
	margin: 0px 0px 0px 3px;
	padding: 4px 4px 4px 10px;
}

.tabela .coluna3 {
	width: 10%;
	margin-left: 15px;
	padding: 5px 5px 5px 10px;
}

.tabela .coluna3-medio {
	width: 10%;
	margin-left: 15px;
	padding: 2px 2px 2px 10px;
}

.tabela #fundo-iten {
	background-color: rgb(43, 109, 197);
	position: absolute;
	top: 60px;
	left: 0px;
	padding: 25px 97% 30px 10px;
	margin-left: 8px;
	z-index: -1;
}

.tabela > tbody > tr {
	background-color: #fff;
	margin: 3px;
}

.tabela > tbody > tr > td {
	border: 1px solid #296fa7;
	box-shadow: 3px 5px 2px #888888;
}

.tabela > tbody > tr > td:hover {
	border: 3px solid #296fa7;
}

.form-sistema {
	margin: 11% 0px 0px 25%;
	width: 50%
}

.form-sistema .tipo {
	color: #ffffff;
	float: left;
	width: 50%;
	margin: 10px 0px 10px 0px;
}	

.form-sistema .tipo p {
	font-size: 11px;
	width: 90%
}	

.form-sistema .form label {
	display: block;	
	margin: 10px 0px 2px 0px;
	color: #ffffff;
	padding: 10px;
}

.form-sistema .form  input {
	width: 60%;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #dddddd;
}

.info:hover > .tooltip-info {
	display: inline;
}

.tooltip-info {
	display: none;
	position: absolute;
	top: 76px;
	right: 10px;
	width: 256px;
	height: 120px;
	border-radius: 6px;
	box-shadow: 2px 2px 3px #648ebc;
	color:  #296fa7;
	background-color: #F4FCFE;
	border: solid 1px #648ebc;
	z-index: 1;
}

.tooltip-info span {
	opacity: 0.8;
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
	position: absolute;
	width:140px;
	color: #296fa7;
	height: 30px;
	line-height: 30px;
	text-align: center;
	visibility: visible;
	border-radius: 6px;
	box-shadow: 0px 0px 0px ;
}

.tooltip-info span:after {
	content: '';
	position: absolute;
	top: -128%;
	left: 107%;
	margin-left: -8px;
	width: 0; height: 0;
	border-bottom: 8px solid #92B8EA;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

a:hover.tooltip-info span {
	visibility: visible;
	opacity: 0.8;
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}

.tooltip-info p {
	color: #296fa7;
	font-size: 13px;
}

.tooltip-info h5 {
	color: #296fa7;
	font-size: 13px;
	width: 20%;
}

.tooltip-nome {
	margin: 3% 1% 1% 1%
}

.tooltip-nome p {
	margin: 3.5% 0% 0% 86%
}

.tooltip-matricula {
	margin: 6% 1% 1% 1%
}

.tooltip-matricula p {
	margin: 14.5% 0% 0% 97%
}

.tooltip-perfil {
	margin: 5% 0% 0% 1%
}

.tooltip-perfil p {
	margin: 25.5% 0% 0% 86%
}

.tooltip-versao {
	margin: 6% 0% 0% 1%
}

.tooltip-versao p {
	margin: 37.5% 0% 0% 88%;
}

a:link {
	text-decoration: none;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 100px;
	top: -26px;
	left: -10px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
  padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip-mensagem {
	position: relative;
	display: inline-block;
}

.tooltip-mensagem .tooltiptext {
	visibility: hidden;
	//width: 100%;
	top: -26px;
	left: -10px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
  padding: 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip-mensagem:hover .tooltiptext {
	visibility: visible;
}

ul[data-disabled="disabled"] li {
	background-color: #C3C3C3 !important;
}

textarea[disabled="disabled"] {
	background-color: #C3C3C3 !important;
}

table {
	width: 100%;
	border-collapse: separate; 
	border-spacing: 10px;
}

#coluna2-perfil {
	margin: 0px -41px 0px 75px;
}

.hover {
	cursor: pointer;	
}

#botoes {
	display: none;
}

.editar-campo {
	display: none;
	width: 99%;
}

.border-black {
	border: 1px solid #000 !important;
}

.direita {
	margin-left: 88%;
	display: inline-flex;
	float: right;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.opt-details > div {
	display: none;
	box-shadow: 1px 1px 8px #888888;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
}

.manter-lado {
	float: left;
}

.resultado-pesquisa {
	margin: 5% 0px 0px 0px;
}

.disabled {
	background-color: #fff !important;
}

.input-25 {
	width: 25% !important;
}

.input-50 {
	width: 50% !important;
}

.input-100 {
	width: 100% !important;
}

.panel-menu {
	background-color: #F4F4F6 !important; 
}

.linha-navegacao {
	margin-top: 0.5%;
}
.pesquisa-fundo .form-group {
	margin-left: 2%;
}

.lista-data-gestor {
	list-style: none;
}

.lista-data-gestor > li {
	margin: 7% 0% 0% -15%;
}

.lista-data-distribuidor {
	list-style: none;
}

.lista-data-distribuidor > li {
	margin: 7% 0% 0% -15%;
}

// Conteúdo Original

.notifications {
	font-size: 10px;
	border-radius: 0px !important;
	min-width: 300px;

	h4.title-notification {
    text-align: left;
    width: 100%;
    font-size: 12px !important;
    margin-bottom: 0px;
    padding-left: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
	}

	.notification-data {
    padding: 5px 10px;
    background-color: #e2e5e7;
    border-radius: 0px;
	}

	.notification-data-font{
    font-size: 10px;
    color: #707f89;
	}

	.ver-avisos {
    color: #333;
    display: block;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    border: none;
    padding: 0px;
    text-align: center;
	}

	.text-notification {
    display: inline-block;
    padding: 4px 0px 0px 3px;
    color: #000;
	}

	.item-notification {
    margin: 0px;
    margin-top: 1px;
    border-left: 5px red solid;

    &:hover {
      background-color: #f2f2f2;
    }
	}

	.item-warning {
    border-left-color: #f0ad4e;
	}

	.media {
    border-bottom: 1px solid #ccc;
	}
}

.notification-footer{
	padding-top: 5px;
}

/* Caixa do perfil do usuário */
.dropdown-perfil-usuario {
	border-radius: 0px !important;
	min-width: 300px;
	cursor: default;

  ul {
    list-style: none;
    font-size: 12px;
    padding: 5px;

    li {
      color: #333;
    }
	}

	a {
    color: #333;
    font-weight: normal;
	}

	.botoes-perfil {
    text-align: center;
	}
}
