<div class="box-body">
  <div class="padding-top">
  <div class=text-right>
    <label class="btn btn-primary btn-space">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Atualizar
      <input type="button" 
             style="display: none;" 
             (click)="atualizar()">
    </label>
  </div>
</div>
  <ic-table [self]="this"
            [displayedColumns]="displayedColumns"
            [headers]="headers"
            [errorMessage]="errorMessage"
            [observable]="consultarObservable"
            [mappingDataToTable]="mappingDataToTable"
            (rowClicked)="rowClicked($event)">
  </ic-table>
</div>