page-campaign {
    .info-header {
        padding: 15px;
        background-color: #f1f1f1;
        text-align: center;

        h2 {
            margin: 0px;
            font-size: 19px;
            color: $logo-main;
        }

        p {
            margin: 4px 0px;
            font-size: 16px;
        }
    }

    .item-md {
        padding-right: 15px;
        
        p {
            font-size: 12px;
            margin: 2px 0px;
            color: #aaa;
        }
        
        img {
            height: 22px;
        }
    }
}
