<ion-header>
    <ion-navbar color="clean">
        <ion-title>Vacinação</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="info-header">
        <h2>{{campaign?.campanha}}</h2>
        <p>{{campaign?.cliente}}</p>
    </div>    

    <ion-list>
        <ion-list-header>Selecione o paciente</ion-list-header>
        <button ion-item *ngFor="let item of users?.data" (click)="selectUser(item)">
            {{item.nome}}
            <p>{{item.sexo == 'M' ? 'Masculino' : 'Feminino'}}, {{calculateAge(item.dtnasc)}} anos</p>
            <img *ngIf="showImmunization(item)" item-end src="assets/imgs/injection.png"/>
        </button>
    </ion-list>
</ion-content>