<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog" style="min-width: 69% !important">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">Selecionar Motivo</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" name="form">
          <fieldset>
            <div class="form-group">
              <div class="col-md-12">
                <div class="row col-md-12">
                  <label [for]="getIdField(nameNome)" class="control-label">Motivo</label>
                  <input [id]="getIdField(nameNome)" 
                         [formControlName]="nameNome" 
                         [name]="getIdField(nameNome)" 
                         class="form-control"
                         type="text" 
                         maxlength="100">
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4 col-xs-12">
              <label for="nameSituacao" class="form-label">Situação</label>
              <select [id]="nameSituacao"
                      [name]="nameSituacao"
                      [formControlName]="nameSituacao"
                      class="form-control" style="width: 200px;">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let s of situacoes" [ngValue]="s.value">
                  {{s.text}}
                </option>
              </select>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-12">
              <div class="modal-header"> 
                <h4 class="modal-title">Natureza</h4>
              </div>
              <app-many-checkbox [list]="naturezas" 
                                 [name]="nameNaturezas"
                                 [form]="formulario" 
                                 itemDescription="nome">
              </app-many-checkbox>
            </div> 
          
            <div class="modal-header"> 
              <h4 class="modal-title">Motivos</h4>
            </div>
            <app-siouv-table [dataList]="dataList"
                             (emitSelect)="selecionar($event)"
                             (emitDetail)="detalhar($event)">
            </app-siouv-table>
        </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                (click)="pesquisar()">
          <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Motivos Cadastrados
        </button>
        <button class="btn btn-primary" 
                (click)="limpar()">
          <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
        </button>
        <button class="btn btn-primary" 
                data-dismiss="modal">
          <span class="fa fa-reply"></span>&nbsp;Voltar
        </button>
      </div>
    </div>
  </div>
</div>
<app-motivo-detalhe [motivoSelecionado]="motivoSelecionado"
                    (emitModal)="setarIdModalDetalhar($event)">
</app-motivo-detalhe>