<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>I</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>Imuno</b>Care</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <!-- <img [src]="[user.img]" class="user-image" alt="User Image"> -->
                        <img [src]=[user?.img] class="user-image" alt="User Image">


                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{user?.nome}}</span>
                    </a>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                  <a [routerLink]="['/login']" (click)="resetUsuario()" data-toggle="control-sidebar"><i class="far fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
