<div class="col-md-12">
  <ul class="breadcrumb">
    <a routerLink="/home">
      Home
    </a>
    /
    <a routerLink="/manutencao">
      Manutenção
    </a>
    / Consultar Classificação
  </ul>
</div>

<ol class="breadcrumb">
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Inserir Classificação Ocorrência</h2>
    </div>
  </header>

  <section>
    <div class="container" style="min-height: 420px;">
      <form [formGroup]="formulario">
        <fieldset>
          <div class="col-md-12">
            
            <div class="form-group">
              <div class="row col-xs-3">
                <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
                <br>
                <ng-container *ngFor="let item of tiposOcorrencia">
                  <label class="radio-inline">
                    <input [id]="item.id" [formControlName]="nameTipoOcorrencia" [name]="nameTipoOcorrencia" type="radio"
                      [value]="item.id">
                    <label class="label-normal" for="{{ item.id }}">{{ item.nome }}</label>
                  </label>
                </ng-container>
                <app-required-field [show]="validaSeCampoValido(formulario, nameTipoOcorrencia)"></app-required-field>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row col-md-5 no-margin-bottom">
              <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameAssunto)">
                <app-required-label [title]="'Assunto'"></app-required-label>
                <select [id]="nameAssunto" [formControlName]="nameAssunto" [name]="nameAssunto" class="form-control" (change)="carregaItens()">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let assunto of assuntos" [ngValue]="assunto.id">
                    {{assunto.noAssunto}}
                  </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, nameAssunto)"></app-required-field>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="row col-md-3 no-margin-bottom">
              <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameItem)">
                <app-required-label [title]="'Item'"></app-required-label>
                <select [id]="nameItem" [formControlName]="nameItem" [name]="nameItem" class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let item of itensAssunto" [ngValue]="assunto.id">
                    {{item.noAssunto}}
                  </option>
                </select>
                <app-required-field [show]="validaSeCampoValido(formulario, nameAssunto)"></app-required-field>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="row col-md-3 no-margin-bottom">
                <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameItem)">
                  <app-required-label [title]="'Motivo: '"></app-required-label>
                  <button class="btn btn-success" (click)="carregarMotivo()">
                      <span class="fa fa-search fa-fw"></span>&nbsp;
                  </button>
                </div>
            </div>
          </div>
          

          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-success" (click)="inserir()"> 
                <span class="fa fa-plus fa-fw"></span>&nbsp;Confirmar inclusão Nova Classificação
              </button>
              <button class="btn btn-danger" (click)="limparFormulario()">
                <span class="fa "></span>&nbsp;Limpar Formulário
              </button>
              <button class="btn btn-primary" [routerLink]="[ '/classificacao-ocorrencia' ]">
                <span class="fa "></span>&nbsp;Voltar
              </button>
              
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </section>