<div class="box-header with-border">
  <h3 class="box-title">{{title}}</h3>
</div>
<div class="box-body">
  <ic-table [self]="this"
            [displayedColumns]="displayedColumns"
            [headers]="headers"
            [errorMessage]="errorMessage"
            [observable]="consultarObservable"
            [mappingDataToTable]="mappingDataToTable"
            [refresh]="refreshList"
            [showButton]="true"
            [titleButton]="'Alterar'"
            [clazzButton]="['btn', 'btn-primary']"
            [clazzIconButton]="['glyphicon', 'glyphicon-pencil']"
            (buttonAction)="rowClicked($event)"
            [showDelete]="true"
            [titleDelete]="'Excluir'"
            (delete)="excluir($event)">

  </ic-table>

  <div class="padding-top">
    <div class="text-right">
      <ic-button [text]="'Incluir'"
                 [clazz]="['btn', 'btn-primary', 'btn-space']"
                 [clazzIcon]="['glyphicon', 'glyphicon-plus']"
                 (eventClick)="incluir($event)">
      </ic-button>
    </div>
  </div>
</div>