<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <image-cropper [imageChangedEvent]="imageChangedEvent"
                       [maintainAspectRatio]="true"
                       [aspectRatio]="4 / 3"
                       [resizeToWidth]="250"
                       format="png"
                       (imageCropped)="imageCropped($event)"
                       (imageLoaded)="imageLoaded()"
                       (loadImageFailed)="loadImageFailed()">
      </image-cropper>
      </div>
      <div class="modal-footer">
        <ic-button [text]="'Salvar'"
                   [clazz]="['btn', 'btn-primary', 'btn-space']"
                   (eventClick)="save($event)">
        </ic-button>

        <ic-button [text]="'Cancelar'"
                   [clazz]="['btn', 'btn-danger', 'btn-space']"
                   (eventClick)="hide($event)">
        </ic-button>
      </div>
    </div>
  </div>
</div>