<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/ Manter Grau de Satisfação
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Manter Grau de Satisfação</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div style="min-height: 420px;">
	<app-siouv-table [dataList]="dataList"
					 (emitEdit)="alterar($event)"
					 (emitDelete)="excluir($event)">
	</app-siouv-table>
	<div class="row col-xs-12">
		<button type="submit" class="btn btn-success" (click)="incluir()">
			<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Novo Grau de Satisfação
		</button>
	</div>
  </div>
</section>

<named-outlet name="footer"></named-outlet>