@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*
html {  
    min-height: 1170px; 
}
*/
body {
  /*   min-height: 1170px; */
  font-size: 12px;
}

.content-header>h1 {
  font-size: 18px;
}

.content {
  /*   min-height: 1170px; */
  height: auto;
  min-height: 650px;
}

.content-login {
    /*   min-height: 1170px; */
    height: auto;
    min-height: 100vh;
}


.content-wrapper {
  /*   min-height: 1170px; */
  height: auto;
  min-height: 650px;
  padding-bottom: 30px;
}

.form-control {
  font-size: 12px;
  padding: 4px 4px;
  height: 30px;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
  width: 25%;
}

.navbar-nav {
  flex-direction: row;
  height: 100%;
}

.btn-space {
  margin-right: 5px;
  width: 100px;
}

.barbottom {
  margin-top: 10px;
}

.button-cep {
  position: relative;
  margin-top: 22px;
}

.navbar .nav>li>a {
  border-color: #528CB8;
}

.navbar .nav>li>a>.label {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: top;
  font-size: 9px;
  padding: 3px 5px;
  line-height: .9;
  margin-left: 10px
}

.table>tbody>tr>th {
  font-size: 1em;
}

.table#tbelegiveis>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td,
.table>thead>tr>th {
  font-size: 0.8em;
}

.mat-cell {
  font-size: 0.8em;
}

.mat-header-row,
.mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 24px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  box-sizing: border-box;
}

.mat-header-row {
  min-height: 56px;
}

.mat-header-row,
.mat-row {
  border-bottom-color: rgba(0, 0, 0, .12);
}

.mat-row {
  min-height: 24px;
}

.mat-row:hover {
  cursor: pointer;
}

#tbcampanhas {
  font-size: 1em;
}

.table#tbcampanhas>tbody>tr.active>td {
  background: #b0caf1;
}

.fixed-bottom {
  position: relative;
  bottom: 0;
}

.info-box-number {
  font-size: 16px;
}

.progress-description,
.info-box-text {
  font-size: 13px;
}

.main-sidebar {
  height: 100%;
  bottom: 0px;
}

.user-panel>.image>img {
  width: 100%;
  max-width: 50px;
  height: auto;
}

.img-circle {
  border-radius: 0%;
}

.btn {
  padding: 6px 8px;
  font-size: 12px;
}

.treeview-menu>li>a {
  font-size: 12px;
  margin-left: 12px;
}

.treeview-menu>li>a>span {
  padding-left: 15px;
}

.arquivo_drag {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

a .info-box-text,
.info-box-number,
.progress-group .progress-text,
.progress-number,
.progress-description {
  font-size: 12px;
  color: #080808;
}

.progress-group .progress-text .progress-number {
  font-weight: 600;
  color: #080808;
}

b,
strong {
  font-weight: 500;
  color: #080808;
}

.has-error-block {
  color: #CD5542;
}

div .scroll-area {
  height: calc(100% - 200px);
  margin-top: 100px;
  float: left;
  overflow-y: scroll;
}

.bs-wizard {
  margin-top: 10px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}

.bs-wizard>.bs-wizard-step {
  padding: 0;
  position: relative;
}

.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
  color: #595959;
  font-size: 12px;
  margin-bottom: 5px;
}

.bs-wizard>.bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 10px;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  background: #aaddfb;
  top: 45px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}

.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
  content: ' ';
  width: 9px;
  height: 9px;
  background: #19b3fb;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.bs-wizard>.bs-wizard-step>.progress {
  position: relative;
  border-radius: 0px;
  height: 8px;
  box-shadow: none;
  margin: 20px 0;
}

.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
  width: 0px;
  box-shadow: none;
  background: #aaddfb;
}

.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
  width: 50%;
}

.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
  width: 0%;
}

.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
  width: 100%;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
  background-color: #f5f5f5;
}

.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
  opacity: 0;
}

.bs-wizard>.bs-wizard-step:first-child>.progress {
  left: 50%;
  width: 50%;
}

.bs-wizard>.bs-wizard-step:last-child>.progress {
  width: 50%;
}

.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}

/*END Form Wizard*/

.wizard-barbutton {
  margin: 25px;
}

/************************************************************************************************************************/
/************************************************************************************************************************/
/*                                                     CALENDARIO                                                       */
/************************************************************************************************************************/
/************************************************************************************************************************/

/* EXIBIR TEXTO SOBRE OS EVENTOS AGENDADOS NO CALENDÁRIO */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CALENDÁRIO MENSAL */

.table-bordered>tbody>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid #ddd;
}


.table-bordered>tbody>tr>td:rover {
  border: 1px solid #ddd;
}

.table-bordered>tbody>tr>td.fc-month.fc-today {
  background-color: #FBF8E5;
}

.table-bordered>tbody>tr>td.fc-other-month.fc-past {
  background-color: #EDF0F5;
}

.table-bordered>tbody>tr>td.fc-month {
  background-color: white;
}

.table-bordered>tbody>tr>td.fc-other-month.fc-future {
  background-color: #DEF3D5;
}

.btn-cal {
  width: 68px;
}

/* Tabela Cadastros */
.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}


/*  MODAL */

/* MODAL STYLES
-------------------------------*/
ic-modal {
  /* modals are hidden by default */
  display: none
}

.ic-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .ic-modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

.ic-modal-body {
  padding: 20px;
  background: #fff;
  width: auto;
  /* margin exposes part of the modal background */
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 260px;
  margin-right: 260px;
}

.ic-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .ic-modal and above everything else  */
  z-index: 900;
}


body.ic-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}



/* DATA's SIDEBAR STYLES
-------------------------------*/

.wrapper-dados {
  display: block;
}

#sidebar-dados {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: relative;
  /* top right corner of the sidebar */
  top: 10px;
  right: -40px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.field {
  padding-bottom: 10px;
  width: 100%;
}
  
.no-padding-left {
  padding-left: 0px;
}

.no-padding-side {
  padding-left: 0px;
  padding-right: 0px;
}

.text-center {
  text-align: center;
}

.text-error {
  font-size: 70%;
}

.padding-top {
  padding-top: 10px;
}
.background-image{
    background-image: url(../assets/img/pexels-photo-160107.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position-x:0;
    animation-name: transladarFundo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes transladarFundo {
    from {background-position-x:0px}
    to {background-position-x:15px}
  }

.no-padding{
  padding:0;
}

.box-header-login{
  color: #444;
  display: block;
  padding: 0;
  padding-right: 15px;
  position: relative;
}

.logo-login{
  position: absolute;
  z-index: 1;
  width: 25vh;
  margin: 11%;
}

.sublogo-login{
    position: relative;
    z-index: 2;
    width: 21vh;
    /* padding: 20px; */
    margin-top: 102%;
    margin-left: 61%;
    transition: transform 1s ease-out;
    transform: rotate(0deg);
}

.sublogo-login:hover{
    transform: rotate(9deg);
}

.logo-login2{
  position: relative;
  z-index: 1;
  width: 25vh;
  margin: 11%;
}

.sublogo-login2{
  position: fixed;
  z-index: 2;
  width: 20vh;
  /* padding: 20px; */
  top: 23%;
  left: 87%;
}

.logo-container{
    position:absolute;
    margin: 20px;
    opacity: 0;
    transform: translateX(-15px);
    animation-name: logo-in;
    animation-delay:0.5s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes logo-in{
    from{    
        opacity: 0;
        transform: translateX(-15px);
    }
    to{   
        opacity: 1;
        transform: translateX(0px);
    }
}

.form-control-login{
  font-size: 12px;
  padding: 7px 13px;
  height: 41px;
  border-radius: 5px;
}

.btn-imunoCare{
  background-color:  #20B8D0;
  color: white;
  font-size:1.2em;
  height: 35px;
  font-weight: bold;
}

.btn-imunoCare:hover{
  background-color:  #20B8D0;
  color: white;
  font-size:1.2em;
  font-weight: bold;
}

.login-titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
    cursor: default;
    position: fixed;
    top: 50%;
    left: 13%;
    color: white;
    opacity: 0;
    transform: scale(1);
    transform: translateX(-15px);
    animation-name: logo-in;
    animation-delay:2s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    transition: font-size 2s ease-out;
}

.login-titulo:hover{
    font-size: 7.2vh;

}

.login-subtitulo{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

img.AppStore {
    width: 14%;
    position: fixed;
    top: 89%;
    right: 85%;
}

img.GooglePlay {
    width: 14%;
    position: fixed;
    top: 89%;
    right: 70%;
}
.suporte-inferior{
position: fixed;
bottom: 17px;
width: 23%;
}
.mat-radio-label-content { 
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 3px;
  padding-right: 8px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(60, 141, 188);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(60, 141, 188);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(66, 134, 244,.26);
}

.wrap-mat-radio-label {
  font-weight: 400 !important;
  padding-right: 8px !important;
}

.font-radio {
  font-weight: unset !important;
}

.font-radio-color {
  color: #757575 !important;
}

.modal-footer-display {
  display: flow-root;
}

.upload-photo {
  width:96px;
  height:96px;
}

.btn-upload-xlsx {
  margin-right: 5px;
  width: auto;
  min-width: 22%;
}

.btn-upload-photo {
  width: 100% !important;
  max-width:96px;
  width: auto;
}

.text-dialog {
  white-space: pre-wrap;
}

.sublogo-alterar{
  position: absolute;
  width: 10%;
  margin-top: 10%;
  left: 50%;
  z-index: 5;
}

.logo-alterar{
  position: relative;
  width: 14%;
}

.cdk-overlay-container {
  position: fixed !important;
  z-index: 100000 !important;
}