
.overview ngbd-overview-section,
.overview section,
div.api-doc-component ngbd-overview-section,
div.api-doc-component section {
	margin-top: 3rem;
}
.overview ngbd-overview-section h4,
.overview section h4,
div.api-doc-component ngbd-overview-section h4,
div.api-doc-component section h4 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.overview ngbd-overview-section .meta,
.overview section .meta,
div.api-doc-component ngbd-overview-section .meta,
div.api-doc-component section .meta {
	font-size: 0.8rem;
	margin-bottom: 1rem;
}
.overview ngbd-overview-section .meta > div,
.overview section .meta > div,
div.api-doc-component ngbd-overview-section .meta > div,
div.api-doc-component section .meta > div {
	margin-bottom: 0.5rem;
}
a.title-fragment {
	opacity: 0;
	-webkit-transition: opacity 125ms;
	transition: opacity 125ms ease;
	line-height: inherit;
	position: absolute;
	margin-left: -1.2em;
	padding-right: 0.5em;
}
a.title-fragment > img {
	width: 1em;
	height: 1em;
}
div.component-demo {
	margin-bottom: 3rem;
}
div.component-demo h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1rem;
}
div.component-demo h2 span {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
div.component-demo h2 .toggle-code svg {
	vertical-align: middle;
	fill: #28a745;
}
div.component-demo h2 .stackblitz {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: center;
	align-self: center;
}
div.component-demo h2 .stackblitz .stackblitz-icon {
	height: 1.2rem;
	margin-left: -0.5rem;
}
div.component-demo h2:hover > .title-fragment {
	opacity: 1;
}
div.component-demo .tabset-code {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height: 500px;
}
div.component-demo .tabset-code ngb-tabset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
div.component-demo .tabset-code ngb-tabset .nav {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0;
	padding: 0.5rem 1.25rem 0;
	font-size: 80%;
}
div.component-demo .tabset-code ngb-tabset .nav .nav-link.active {
	background-color: #f5f2f0;
	border-bottom: 1px solid #f5f2f0;
}
div.component-demo .tabset-code ngb-tabset .nav .nav-link:not(.active) {
	color: #999;
}
div.component-demo .tabset-code ngb-tabset .nav .nav-link:not(.active):hover {
	color: #666;
}
div.component-demo .tabset-code ngb-tabset .nav.nav-pills {
	border-right: 1px solid #dee2e6;
	padding-left: 0.75rem;
	padding-right: 0;
}
div.component-demo .tabset-code ngb-tabset .nav.nav-pills .nav-link.active {
	color: #666;
	background-color: #f5f5f5;
	border: 1px solid #dee2e6;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -1px;
}
div.component-demo .tabset-code ngb-tabset .nav.nav-pills + .tab-content {
	overflow: hidden;
}
div.component-demo .tabset-code ngb-tabset .tab-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
div.component-demo .tabset-code ngb-tabset .tab-content .tab-pane {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: auto;
}
div.component-demo .tabset-code ngb-tabset pre {
	margin: 0;
}
.examples-legend {
	font-size: 80%;
}
ngbd-api-docs,
ngbd-api-docs-class,
ngbd-api-docs-config {
	display: block;
}
ngbd-api-docs-class:not(:first-child),
ngbd-api-docs-config:not(:first-child),
ngbd-api-docs:not(:first-child) {
	margin-top: 3rem;
	border-top: 1px solid #999;
	padding-top: 1rem;
}
code[class*='language-'],
pre[class*='language-'] {
	background-color: #f5f5f5;
}
span.token.tag {
	font-size: 1em;
	padding: 0;
}
ngb-datepicker.rtl {
	direction: rtl;
}
ngb-datepicker.rtl ngb-datepicker-navigation-select select.custom-select {
	background-position: left 0.25rem center;
}
ngb-datepicker.rtl .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin: 0 0 0 0.25rem;
}
ngb-datepicker.rtl .ngb-dp-navigation-chevron {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 0.25rem 0 0;
}
ngb-datepicker.hebrew .ngb-dp-day {
	width: 2.75rem;
	height: 2.75rem;
	line-height: 1rem;
}
ngb-datepicker.hebrew .ngb-dp-weekday {
	width: 2.75rem;
}
ngb-carousel .carousel-item img {
	width: 100%;
}
button.calendar,
button.calendar:active {
	width: 2.75rem;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=) !important;
	background-repeat: no-repeat;
	background-size: 23px;
	background-position: center;
}
th[sortable] {
	cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}
th[sortable].asc:before,
th[sortable].desc:before {
	content: '';
	display: block;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC)
		0 0/22px no-repeat;
	width: 22px;
	height: 22px;
	float: left;
	margin-left: -22px;
}
th[sortable].desc:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
ngbd-table-complete span.ngb-highlight,
ngbd-table-filtering span.ngb-highlight {
	background-color: #ff0;
}

ngb-datepicker {
	border: 1px solid #dfdfdf;
	border-radius: 0.25rem;
	display: inline-block;
}
.ngb-dp-month {
	pointer-events: none;
}
.ngb-dp-header {
	border-bottom: 0;
	border-radius: 0.25rem 0.25rem 0 0;
	padding-top: 0.25rem;
}
ngb-datepicker-month-view {
	pointer-events: auto;
}
.ngb-dp-month-name {
	font-size: larger;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.ngb-dp-month + .ngb-dp-month > .ngb-dp-month-name,
.ngb-dp-month + .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week {
	padding-left: 1rem;
}
.ngb-dp-month:last-child .ngb-dp-week {
	padding-right: 0.25rem;
}
.ngb-dp-month:first-child .ngb-dp-week {
	padding-left: 0.25rem;
}
.ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week:last-child {
	padding-bottom: 0.25rem;
}
.ngb-dp-months {
	display: -ms-flexbox;
	display: flex;
}

ngb-datepicker-navigation {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.ngb-dp-navigation-chevron {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	margin-left: 0.25em;
	margin-right: 0.15em;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.right .ngb-dp-navigation-chevron {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-left: 0.15em;
	margin-right: 0.25em;
}
.ngb-dp-arrow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding-right: 0;
	padding-left: 0;
	margin: 0;
	width: 2rem;
	height: 2rem;
}
.ngb-dp-arrow.right {
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.ngb-dp-arrow-btn {
	padding: 0 0.25rem;
	margin: 0 0.5rem;
	border: none;
	background-color: transparent;
	z-index: 1;
}
.ngb-dp-arrow-btn:focus {
	outline-width: 1px;
	outline-style: auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ngb-dp-arrow-btn:focus {
		outline-style: solid;
	}
}
.ngb-dp-month-name {
	font-size: larger;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.ngb-dp-navigation-select {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 1 9rem;
	flex: 1 1 9rem;
}

ngb-datepicker-month-view {
	display: block;
}
.ngb-dp-week-number,
.ngb-dp-weekday {
	line-height: 2rem;
	text-align: center;
	font-style: italic;
}
.ngb-dp-weekday {
	color: #5bc0de;
	color: var(--info);
}
.ngb-dp-week {
	border-radius: 0.25rem;
	display: -ms-flexbox;
	display: flex;
}
.ngb-dp-weekdays {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0;
}
.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
	width: 2rem;
	height: 2rem;
}
.ngb-dp-day {
	cursor: pointer;
}
.ngb-dp-day.disabled,
.ngb-dp-day.hidden {
	cursor: default;
}

ngb-datepicker-navigation-select > .custom-select {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0 0.5rem;
	font-size: 0.875rem;
	height: 1.85rem;
}

[ngbDatepickerDayView] {
	text-align: center;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 0.25rem;
	background: 0 0;
}
[ngbDatepickerDayView].outside {
	opacity: 0.5;
}
