<ion-header>
    <ion-navbar color="main">
        <ion-title>Alterar Senha de Acesso</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="login-box">
        <ion-list class="form-round">
            <ion-item>
                <ion-input type="password" placeholder="Nova Senha"></ion-input>
            </ion-item>
        </ion-list>

        <ion-list class="form-round">    
            <ion-item>
                <ion-input type="password" placeholder="Confirmar Senha"></ion-input>
            </ion-item>
        </ion-list>

        <button ion-button block round color="main" (click)="doLogin()">Confirmar</button>
    </div>
</ion-content>