<div class="row" *ngIf="elegiveis?.length">
    <div class="box-body">
        <div id="tbelegiveis_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbelegiveis" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="tbelegiveis_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 4px;"></th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 600px;" aria-sort="ascending">Nome</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 140px;">CPF</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 60px;">Matric.</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 700px;">Email</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Sexo</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 100px;">Dt.Nasc</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Dep.</th>
                                <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 140px;">CPF Resp.</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let elegivel of elegiveis">
                            <tr role="button" class="even" [style.background-color]="[defineCorElegivel(elegivel?.aplicacao)]" (click)="marcacaoParaImunizar(elegivel)">

                                <td *ngIf="elegivel?.aplicacao === true; then exibeIcone else naoExibeIcone"></td>
                                <ng-template #exibeIcone>
                                    <td><i class="fal fa-eye-dropper"></i></td>
                                </ng-template>
                                <ng-template #naoExibeIcone>
                                    <td></td>
                                </ng-template>
                                <td class="sorting_1">{{elegivel?.nome}}</td>
                                <td class="">{{elegivel?.cpf}}</td>
                                <td>{{elegivel?.matricula}}</td>
                                <td>{{elegivel?.email}}</td>
                                <td>{{elegivel?.sexo}}</td>
                                <td>{{elegivel?.dtnasc | date: 'dd.MM.yyyy' }}</td>

                                <td *ngIf="elegivel?.dependente; then YesDepCell else NoDepCell"></td>
                                <ng-template #YesDepCell>
                                    <td>SIM</td>
                                </ng-template>
                                <ng-template #NoDepCell>
                                    <td>NÃO</td>
                                </ng-template>

                                <td *ngIf="elegivel?.dependente && elegivel?.cpf !== elegivel?.cpfresp; then YesCPFCell else NoCPFCell"></td>

                                <ng-template #YesCPFCell>
                                    <td>{{elegivel?.cpfresp}}</td>
                                </ng-template>
                                <ng-template #NoCPFCell>
                                    <td></td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
