<div class="col-md-6" *ngIf="campanha && campanha.total_aplicacoes > 0">
    <div class="box-header">
        <h3 *ngIf="!campanha" class="box-title">Dados das Vacinações</h3>
        <h3 *ngIf="campanha" class="box-title">Dados das Vacinações - {{campanha?.cliente?.empresa}}: {{campanha?.campanha}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding  overflow: auto">
        <!--
        <table class="table">
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 10px">Indicador</th>
                <th style="width: 60%">Progressão</th>
                <th style="width: 40px">Percentual</th>
            </tr>
        </table>
    -->
        <div class="box-body no-padding" *ngFor="let produto of campanha.produtos; let i = index">
            <table class="table"  *ngIf="produto?.produto_aplicacoes > 0">
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 25px">Indicador</th>
                    <th style="width: 45%">Status de Vacinação: {{produto?.produto.produto}}</th>
                    <th style="width: 30px">Percentual</th>
                </tr>
                <tr *ngIf="produto?.elegiveis_m > 0">
                    <td>#.</td>
                    <td *ngIf="produto === undefined || produto?.elegiveis_m === undefined">Homens</td>
                    <td *ngIf="produto?.elegiveis_m > 0">Homens: {{produto?.elegiveis_m}} de {{produto?.produto_aplicacoes}} </td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-danger" [style.width]="[produto?.elegiveis_mp]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="produto?.elegiveis_m > 0">
                        <span class="badge bg-red">{{produto?.elegiveis_mp}}%</span>
                    </td>
                </tr>
                <tr *ngIf="produto?.elegiveis_f > 0">
                    <td>#.</td>
                    <td *ngIf="produto === undefined || produto?.elegiveis_f === undefined">Mulheres</td>
                    <td *ngIf="produto?.elegiveis_f > 0">Mulheres: {{produto?.elegiveis_f}} de {{produto?.produto_aplicacoes}} </td>
                    <td>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-yellow" [style.width]="[produto?.elegiveis_fp]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="produto?.elegiveis_f > 0">
                        <span class="badge bg-yellow">{{produto?.elegiveis_fp}}%</span>
                    </td>
                </tr>
                <tr *ngIf="produto?.elegiveis_c > 0">
                    <td>#.</td>
                    <td *ngIf="produto === undefined || produto?.elegiveis_c === undefined">Funcionários</td>
                    <td *ngIf="produto?.elegiveis_c > 0">Funcionários: {{produto?.elegiveis_c}} de {{produto?.produto_aplicacoes}} </td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-green" [style.width]="[produto?.elegiveis_cp]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="produto?.elegiveis_c > 0">
                        <span class="badge bg-green">{{produto?.elegiveis_cp}}%</span>
                    </td>
                </tr>
                <tr *ngIf="produto?.elegiveis_d > 0">
                    <td>#.</td>
                    <td *ngIf="produto === undefined || produto?.elegiveis_d === undefined">Dependentes</td>
                    <td>Dependentes: {{produto?.elegiveis_d}} de {{produto?.produto_aplicacoes}} </td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-aqua" [style.width]="[produto?.elegiveis_dp]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="produto?.elegiveis_d > 0">
                        <span class="badge bg-aqua">{{produto?.elegiveis_dp}}%</span>
                    </td> 
                </tr>
                <tr *ngIf="produto?.duplicidade > 0">
                    <td>#.</td>
                    <td *ngIf="produto === undefined || produto?.duplicidade === undefined">Duplicidade</td>
                    <td>Duplicidade: {{produto?.duplicidade}} de {{produto?.produto_aplicacoes}} </td>
                    <td>
                        <div class="progress progress-xs progress-striped active">
                            <div class="progress-bar progress-bar-purple" [style.width]="[produto?.duplicidade_dp]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="produto?.duplicidade > 0">
                        <span class="badge bg-purple">{{produto?.duplicidade_dp}}%</span>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
