<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<!--Style-->
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">

	<!--Angular JS-->
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/angular-route.js"></script>

	<!--Modulo-->
	<script src="js/app.js"></script>
	
	<!--Controllers-->
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>

	<!--Directives-->
	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiDateDirective.js"></script>
	<script src="js/directives/uiTelefoneDirective.js"></script>
	<script src="js/directives/uiNameDirective.js"></script>
	<script src="js/directives/uiCepDirective.js"></script>
	<script src="js/directives/uiCpfDirective.js"></script>
	<script src="js/directives/uiCnpjDirective.js"></script>

	<!--Services-->
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>

	<!--Value-->
	<script src="js/value/configValue.js"></script>

	<!--Config-->
	<script src="js/config/serialGeneratorConfig.js"></script>
	<!--<script src="js/config/interceptorConfig.js"></script>-->
	<!--<script src="js/config/routeConfig.js"></script>-->

	<!--Filters-->
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>

	<!--Util-->
	<script src="lib/serialGenerator/serialGenerator.js"></script>
	<script src="lib/ui/uiAccordion.js"></script>

	<!--Interceptors-->
	<!--<script src="js/interceptors/timestampInterceptor.js"></script>-->
	<script src="js/interceptors/errorInterceptor.js"></script>

	<!--Jquery-->
	<script src="lib/jquery/jquery-1.12.4.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>

	<!--Sweet Alert-->
	<script src="lib/SweetAlert/SweetAlert2/dist/sweetalert2.min.js"></script>
	<script src="lib/SweetAlert/ngSweetAlert/dist/ngSweetAlert2.min.js"></script>
	<script type="text/javascript">var ngSweetAlert2 = window.ngSweetAlert2;</script>
	<link rel="stylesheet" type="text/css" href="lib/SweetAlert/SweetAlert2/dist/sweetalert2.min.css">

</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<ui-accordions>
			<ui-accordion title="Informações Backend">
				O sistema backend feito em Node.js, foi feito bem simples apenas para armazenar informação enquanto utiliza a Lista Telefônica.
				Caso não tenha o Node.js podera instalar utilizando o executavel que se encontra na pasta na pasta raíz ("Utilidades/node-v7.7.3-x64.msi").
				Se não estiver encontrado pode clicar no botão abaixo para fazer o download!
				<br>
				<input type="button" value="Download Backend" onclick="window.open('Utilidades/node-v7.7.3-x64.msi')" style="width: 90%;" class="btn btn-danger btn-block" id="btn"></input>
			</ui-accordion>

			<ui-accordion title="Iniciando Backend">
				Para iniciar o Backend basta abrir o arquivo ("iniciarBackend.bat") que se encontra na pasta raíz. PS: Para poder abrir é necessário ter instalado (Node.js).
			</ui-accordion>
		</ui-accordion>

		<hr/>
		<h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{app}}</h3>
		<hr/>

		<div class="input-group" ng-hide="!contatos.length > 0">
		  <span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
		  <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Quem você esta buscando?">
		</div>

		<div>
			<div align="center" ng-if="message != null">
				<ui-alert title="Ops, aconteceu um problema!" message="message">
				</ui-alert>
				<input type="button" value="Iniciar Backend" onclick="window.open('iniciarBackend.bat')" style="width: 90%;" class="btn btn-danger btn-block"/>
				<hr/>
			</div>
		</div>
		<table ng-hide="!contatos.length > 0" class="table table-hover">
			<tr>
				<th class="thx"></th>
				<th class="thx">Serial</th>
				<th class="thx">
					<span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true" ng-if="!direcaoDaOrdenacao && criterioDeOrdenacao == 'nome'"></span>
					<span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true" ng-if="direcaoDaOrdenacao && criterioDeOrdenacao == 'nome'"></span>
				</th>
				<th class="thx"><a href="" ng-click="ordenarPor('nome')" id="link">Nome</a></th>
				<th class="thx">
					<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" ng-if="!direcaoDaOrdenacao && criterioDeOrdenacao == 'telefone'"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true" ng-if="direcaoDaOrdenacao && criterioDeOrdenacao == 'telefone'"></span>
				</th>
				<th class="thx"><a href="" ng-click="ordenarPor('telefone')" id="link">Telefone</a></th>
				<th class="thx">Operadora</th>
				<th>Data</th>
				<th></th>
				<th>Ver</th>
			</tr>
			<tr ng-repeat="contato in contatos | limitTo:limit | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{'selecionado negrito': contato.selecionado}">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td class="tdx">{{contato.serial}}</td>
				<td class="tdx"></td>
				<td class="tdx">{{contato.nome | name | ellipsis : 10}}</td>
				<td class="tdx"></td>
				<td class="tdx">{{contato.telefone}}</td>
				<td class="tdx">{{contato.operadora.nome | lowercase}}</td>
				<td class="tdx">{{contato.data | date:'dd/MM/yyyy'}}</td>
				<td class="tdx"><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
				<td class="tdx"><span class="glyphicon glyphicon-zoom-in btn btn-info" aria-hidden="true" ng-click="setDados(contato)" data-toggle="modal" data-target="#myModalver"></span></td>
			</tr>
		</table>
		<div class="input-group" style="width: 50%; padding-left: 20px;" ng-hide="!contatos.length > 0">
		    <div class="input-group-addon">Limite de Contatos</div>
		    <input type="number" class="form-control" ng-model="limit" placeholder="limite">
	    </div>
	    <br/>
		<div class="input-group" style="width: 50%; padding-left: 20px;" ng-if="message == null">
			<div class="input-group-addon" >Quantidade de Contatos</div>
			<input type="text" class="form-control" value="{{contatos.length | number:1}}" ng-readonly="true">
	    </div>
		<hr/>
		<div align="center">
			<button class="btn btn-primary btn-block" id="btn" data-toggle="modal" data-target="#myModal" ng-if="message == null" ng-click="carregarDados()">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" id="btn" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button>
		</div>
		<!-- Inicio Modal --> 
		<form name="contatoForm" id="modal">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Novo Contato</h4>
		      </div>
		      <div class="modal-body">       
		        <div id="page-wrapper">
				<div class="container-fluid">
					<div class="modalzao">
						<fieldset>
							<legend>Informações Básicas</legend>
							<form name="contatoForm">

								<!--Nome-->
								<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minLength="5" ui-name data-toggle="nome" data-placement="right" title="Digite o seu nome."/>

								<!--Telefone-->
								<!--<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\([1-9]{2}\)[0-9]{4,5}-[0-9]{4}$/"/>-->
								<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ui-telefone ng-minlength="14" ui-telefone data-toggle="telefone" data-placement="right" title="Digite o seu telefone."/>

								<!--Data-->
								<input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date ng-required="true" data-toggle="data" data-placement="right" title="Digite a data de nascimento." ng-blur="gerarIdade(contato.data)"/>

								<!--Idade-->
								<div class="input-group form-control" style="width: 50%;" ng-if="contato.idade != null">
									<div class="input-group-addon">Idade</div>
									<input type="text" class="form-control" value="{{contato.idade}}" ng-readonly="true">
							    </div>

								<!--Operadoras-->
								<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ('+ (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" ng-required="true">
									<option value="">Selecione uma operadora</option>
								</select>

								<!--Cor-->
								<input class="form-control" type="color" ng-model="contato.cor" placeholder="Cor" data-toggle="cor" data-placement="right" title="Escolha uma cor.">
							</form>
						</fieldset>
						<!--Messages-->
						<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
							Por favor, preencha o nome!
						</div>
						<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
							O campo nome deve ter no mínimo 5 caracteres!
						</div>
						<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
							Por favor, preencha o telefone!
						</div>
						<!--
						<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
							O campo telefone deve ter o formato "(xx) xxxxx-xxxx"!
						</div>
						-->
						<br>
						<fieldset>
							<legend>Endereço</legend>
							<!--CEP-->
							<input class="form-control" type="text" ng-model="contato.endereco.cep" name="cep" placeholder="CEP" ui-cep data-toggle="cep" data-placement="right" title="Digite o CEP e o sistema vai procurar os dados automaticamente. PS: É preciso estar conectado na internet para que funcione."/>

							<!--Logradouro-->
							<input class="form-control" type="text" ng-model="contato.endereco.logradouro" name="logradouro" placeholder="Rua / Av" ng-minLength="5" data-toggle="logradouro" data-placement="right" title="Digite o logradouro. Mínimo 5 caracteres."/>

							<!--Bairro-->
							<input class="form-control" type="text" ng-model="contato.endereco.bairro" name="bairro" placeholder="Bairro" ng-minLength="5" data-toggle="bairro" data-placement="right" title="Digite o bairro. Mínimo 5 caracteres."/>

							<!--Cidade-->
							<input class="form-control" type="text" ng-model="contato.endereco.cidade" name="cidade" placeholder="Cidade" ng-minLength="3" data-toggle="cidade" data-placement="right" title="Digite a cidade. Mínimo 3 caracteres."/>

							<!--Estados-->
							<select class="form-control" name="estado" ng-model = "contato.endereco.estado">
								<option value="">Selecione o estado...</option>
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AP">Amapá</option>
								<option value="AM">Amazonas</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceará</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espírito Santo</option>
								<option value="GO">Goiás</option>
								<option value="MA">Maranhão</option>
								<option value="MT">Mato Grosso</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MG">Minas Gerais</option>
								<option value="PA">Pará</option>
								<option value="PB">Paraíba</option>
								<option value="PR">Paraná</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piauí</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="RO">Rondônia</option>
								<option value="RR">Roraima</option>
								<option value="SC">Santa Catarina</option>
								<option value="SP">São Paulo</option>
								<option value="SE">Sergipe</option>
								<option value="TO">Tocantins</option>
							</select>

							<!--País-->
							<input class="form-control" type="text" ng-model="contato.endereco.pais" name="pais" placeholder="País" ng-minLength="3" data-toggle="pais" data-placement="right" title="Digite o país. Mínimo 3 caracteres."/>
						</fieldset>
						<br>
						<fieldset>
							<legend>Informações Pessoais</legend>

							<!--CPF-->
							<input type="radio" ng-model="pessoa" name="pessoa" value="fisica" ng-checked="true">Física
							<input type="radio" ng-model="pessoa" name="pessoa" value="juridica" >Jurídica
							<br>

							<!--CPF-->
							<input class="form-control" ng-show="pessoa != 'juridica'" type="text" ng-model="contato.cpf" name="cpf" placeholder="CPF" data-toggle="cpf" data-placement="right" title="Informe o CPF." ui-cpf/>

							<!--CNPJ-->
							<input class="form-control" type="text" ng-model="contato.cnpj" name="cnpj" placeholder="CNPJ" data-toggle="cnpj" data-placement="right" title="Informe o CNPJ." ng-show="pessoa != 'fisica'" ui-cnpj/>

						</fieldset>
						<hr>
					</div>
			  	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Cancelar</button>
		        <button type="button" class="btn btn-danger" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" data-dismiss="modal">Salvar</button>
		      </div>
		    </div>
		  </div>
		</div> 
		</form>
		<!-- Fim Modal -->
		</div>

		<!-- Inicio Modal Informações --> 
		<div class="modal fade" id="myModalver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{vercontato.nome}}</h4>
		      </div>
		      <div class="modal-body">       
		        <div id="page-wrapper">
				<div class="container-fluid">
					<div class="modalzao">
						<fieldset>
							<legend>Informações Básicas</legend>
							<form>
								<!--Nome-->
								<div class="form-inline" align="right">
									<label>Nome</label>
									<input class="form-control" type="text" ng-model="vercontato.nome" ng-readonly="true"/>
								</div>

								<!--Telefone-->
								<div class="form-inline" align="right">
									<label>Telefone</label>
									<input class="form-control" type="text" ng-model="vercontato.telefone" ng-readonly="true"/>
								</div>

								<!--Data-->
								<div class="form-inline" align="right">
									<label>Data</label>
									<input class="form-control" type="text" ng-model="vercontato.data" ng-readonly="true"/>
								</div>

								<!--Idade-->
								<div class="form-inline" align="right">
									<label>Idade</label>
									<input class="form-control" type="text" ng-model="vercontato.idade" ng-readonly="true"/>
								</div>

								<!--Operadoras-->
								<div class="form-inline" align="right">
									<label>Operadora</label>
									<input class="form-control" type="text" ng-model="vercontato.operadora.nome" ng-readonly="true"/>
								</div>

								<!--Cor-->
								<input class="form-control" type="color" ng-model="vercontato.cor" ng-readonly="true"/>

							</form>
						</fieldset>
						<br>
						<fieldset>
							<legend>Endereço</legend>

							<!--CEP-->
							<div class="form-inline" align="right">
								<label>CEP</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.cep" ng-readonly="true"/>
							</div>

							<!--Logradouro-->
							<div class="form-inline" align="right">
								<label>Logradouro</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.logradouro" ng-readonly="true"/>
							</div>

							<!--Bairro-->
							<div class="form-inline" align="right">
								<label>Bairro</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.bairro" ng-readonly="true"/>
							</div>

							<!--Cidade-->
							<div class="form-inline" align="right">
								<label>Cidade</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.cidade" ng-readonly="true"/>
							</div>

							<!--Estados-->
							<div class="form-inline" align="right">
								<label>Estado</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.estado" ng-readonly="true"/>
							</div>

							<!--País-->
							<div class="form-inline" align="right">
								<label>País</label>
								<input class="form-control" type="text" ng-model="vercontato.endereco.pais" ng-readonly="true"/>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Informações Pessoais</legend>

							<!--CPF-->
							<input type="radio" ng-model="pessoa" name="pessoa" value="fisica" ng-checked="true">Física
							<input type="radio" ng-model="pessoa" name="pessoa" value="juridica" >Jurídica
							<br>

							<!--CPF-->
							<input class="form-control" type="text" ng-model="vercontato.cpf" ng-readonly="true" ng-if="pessoa == 'fisica'"/>

							<!--CNPJ-->
							<input class="form-control" type="text" ng-model="vercontato.cnpj" ng-readonly="true" ng-if="pessoa == 'juridica'"/>

						</fieldset>
						<hr>
					</div>
			  	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
		      </div>
		    </div>
		  </div>
		</div> 
		</form>
		<!-- Fim Modal -->
	</div>
	<hr>
	<hr>
	<!-- <div ng-include="'view/footer.html'"></div> -->
	<div style="text-align: center;" class="modal-footer">
		Criado por Bruno Casimiro
	</div>
</body>
<script>
	$(document).ready(function(){
	    $('[data-toggle="nome"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="telefone"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="data"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="cor"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="cep"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="logradouro"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="bairro"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="cidade"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="estado"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="pais"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="cpf"]').tooltip(); 
	});
	$(document).ready(function(){
	    $('[data-toggle="cnpj"]').tooltip(); 
	});
</script>
</html>