<div class="col-md-12">
        <ul class="breadcrumb">
            <a (click)="irHome()">
                  Home
            </a>
                / Manter Parâmetro Origem
        </ul>
    </div>
    <ol class="breadcrumb">
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">Manter Parâmetro Origem</h2>
            </div>
    </header>

<section>
    <div  style="min-height: 420px;">
        <form [formGroup]="formulario" name="form">
            <fieldset>
                <div class="clearfix"></div>
                <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameTipoOcorrencia)">
                    <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
                    <br>
                    <ng-container *ngFor="let item of tiposOcorrencia">
                        <label class="radio-inline">
                            <input [id]="item.id"
                                   [formControlName]="nameTipoOcorrencia"
                                   [name]="nameTipoOcorrencia"
                                   type="radio"
                                   [value]="item.id"
                                   [checked]="item.id == parametroOrigemNatureza.nuTipoOcorrencia"
                                   (change)="recuperarTipoOrigemPorTipoOcorrencia(item.id);">
                            <label class="label-normal" for="{{ item.id }}">{{ item.nome }}</label>
                        </label>
                    </ng-container>
                    <app-required-field [show]="validaSeCampoValido(formulario, nameTipoOcorrencia)"></app-required-field>
                </div>

                <div class="clearfix"></div>
                <div class="row col-md-6 no-margin-bottom">
                    <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameTipoOrigem)">
                        <app-required-label [title]="'Origem'"></app-required-label>
                        <select [id]="nameTipoOrigem"
                                [formControlName]="nameTipoOrigem"
                                [name]="nameTipoOrigem"
                                class="form-control"
                                (change)="recuperarNaturezaPorTipoOrigemTipoOcorrencia();"
                                [attr.disabled]="disabledCampoOrigem?'':null">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let origem of origens"
                                        [ngValue]="origem.id"
                                        >
                                        {{origem.nome}}
                                </option>
                        </select>
                        <app-required-field [show]="validaSeCampoValido(formulario, nameTipoOrigem)"></app-required-field>
                    </div>
                </div>

                <div class="row col-xs-12" style="margin-left: -4%" [hidden]="showCamposDefinirParametroOrigemOcorrencia">
                    <div class="form-group">
                        <div class="container" > 
                            <div class="table-responsive">
                                <div class="row col-xs-12">
                                    <br>
                                    <table >
                                        <thead>
                                            <tr>
                                                <th colspan="4" style="text-align: center;">Definir Parâmetro Origem Ocorrência</th>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <th style="width: 20%" >Natureza</th>
                                                <th style="width: 22%" >Permitir que as unidades respondam?</th>   
                                                <th style="width: 28%" >Permitir a transferência para todas as unidades?</th> 
                                                <th style="width: 20%" >Unidade</th>  
                                                <th style="width: 20%" >Ações</th>  
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let natureza of naturezas; let indexRow = index;">
                                                <tr>
                                                    <td [ngClass]="aplicaClasseDeErro(formulario, nameNatureza)" >
                                                        <br>
                                                        <p>
                                                            <label>
                                                                <input [id]="getIdNatureza(indexRow)"
                                                                       [name]="getIdNatureza(indexRow)"
                                                                       type="checkbox"
                                                                       [checked] = 'natureza.checkNatureza' 
                                                                       (change)="verificarNaturezaChecada($event.target.checked, natureza, indexRow)">
                                                                <label class="label-normal" for="{{ getIdNatureza(indexRow) }}">{{ natureza.nome }}</label>
                                                            </label>
                                                        </p>
                                                       <!-- <app-required-field [show]="validaSeCampoValido(formulario, nameNatureza)"></app-required-field>-->
                                                    </td>
                                                    <td [ngClass]="aplicaClasseDeErro(formulario, namePermitirUnidadeRespondam)" >
                                                        <select [id]="getIdPermitirUnidadeRespondam(indexRow)"   
                                                                [name]="getIdPermitirUnidadeRespondam(indexRow)"
                                                                class="form-control"
                                                                [attr.disabled]="natureza.habilitarCampos?'':null"
                                                                style="width: 50%"
                                                                (change)="adicionarPermitirUnidadeRespondam(natureza, indexRow)">
                                                            <option [ngValue]="null">Selecione</option>
                                                            <option *ngFor="let sn of simNao"
                                                                    [ngValue]="sn.value"
                                                                    [selected]='isSelectPermitirUnidadeRespondam(sn, indexRow)'>
                                                                     {{sn.text}}
                                                            </option>
                                                        </select>
                                                         <!--<app-required-field [show]="validaSeCampoValido(formulario, namePermitirUnidadeRespondam)"></app-required-field>-->
                                                    </td>
                                                    <td [ngClass]="aplicaClasseDeErro(formulario, namePermitirTransferenciaTodasUnidades)">
                                                        <select [id]="getIdPermitirTransferenciaTodasUnidades(indexRow)"
                                                                [name]="getIdPermitirTransferenciaTodasUnidades(indexRow)"
                                                                class="form-control"
                                                                [attr.disabled]="natureza.habilitarCampos?'':null"
                                                                style="width: 65%"
                                                                (change)="verificarValorSelecionado(natureza, indexRow)">
                                                            <option [ngValue]="null">Selecione</option>
                                                            <option *ngFor="let item of permissaoTransferenciaTodasUnidades"
                                                                    [ngValue]="item.value"
                                                                    [selected]='isSelectPermitirTransferenciaTodasUnidades(item, indexRow)'>
                                                                    {{item.text}}
                                                            </option>
                                                        </select>
                                                       <!-- <app-required-field [show]="validaSeCampoValido(formulario, namePermitirTransferenciaTodasUnidades)"></app-required-field>-->
                                                    </td>
                                                    <td>
                                                        <div class="col-md-12">
                                                            <app-seleciona-unidade 
                                                                [idBase]="getIdUnidade(indexRow)"
                                                                [name]="getIdUnidade(indexRow)"
                                                                [formulario]="formulario"
                                                                [disabled]="natureza.habilitarBtnPesquisarUnidade"
                                                                [showButtons]="false"
                                                                [class]="'none'"
                                                                (emitIdModal)="unidadeUtil.receberId($event)">
                                                            </app-seleciona-unidade>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <button [id]="idRow(['btnUnidade', indexRow])"
                                                                    [name]="idRow(['btnUnidade', indexRow])"
                                                                    [disabled]="natureza.habilitarBtnPesquisarUnidade"
                                                                    class="btn btn-success"
                                                                    title="Selecionar Unidade"
                                                                    data-toggle="modal"
                                                                    [attr.data-target]="unidadeUtil.idHashTag(indexRow)">
                                                                <span class="fa fa-search fa-fw"></span>
                                                            </button>
                                                            <button [id]="idRow(['btnLimpar', indexRow])"
                                                                    [name]="idRow(['btnLimpar', indexRow])"
                                                                    [disabled]="natureza.habilitarBtnPesquisarUnidade"
                                                                    class="btn btn-danger" 
                                                                    (click)="unidadeUtil.limpar(indexRow)" 
                                                                    title="Limpar">
                                                                <span class="fa fa-trash fa-fw"></span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-xs-12">
                        <button class="btn btn-primary" (click)="salvar()">
                            <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar
                        </button>
                        <button class="btn btn-primary" (click)="limparCampos()">
                            <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
                        </button>
                    </div>

            </fieldset>
        </form>
    </div>
    
</section>

<named-outlet name="footer"></named-outlet>