<div class="box-header with-border">
  <h3 class="box-title">{{title}}</h3>
</div>
<div class="box-body">
  <form novalidate [formGroup]="formulario" [style.fontSize.px]="16">
    <div class="form">
      <ic-input-select [form]="formulario"
                       [name]="nameCampanha"
                       [required]="true"
                       placeholder="Campanha"
                       [clazz]="['col-md-10']"
                       [options]="getCampanhas()"
                       [text]="'campanha'"
                       [value]="'_id'"
                       (eventChange)="refreshTable($event)">
      </ic-input-select>
    </div>
  </form>

  <div class="clearfix"></div>

  <ic-table [self]="this"
            [displayedColumns]="displayedColumns"
            [headers]="headers"
            [errorMessage]="errorMessage"
            [observable]="consultarObservable"
            [mappingDataToTable]="mappingDataToTable"
            [refresh]="refreshList"
            [showButton]="true"
            [titleButton]="'Ciente'"
            [clazzButton]="['btn', 'btn-success']"
            [clazzIconButton]="['glyphicon', 'glyphicon-ok']"
            (buttonAction)="buttonClicked($event)">
  </ic-table>
</div>