<div class="box-body">
  <form novalidate [formGroup]="formulario" (ngSubmit)="salvar()" [style.fontSize.px]="16">
    <div class="form">
      <ic-input-text placeholder="Campanha"
                     [value]="getNameCampanha()"
                     [readOnly]="true"
                     [clazz]="['col-md-6']">
      </ic-input-text>

      <ic-input-select [form]="formulario"
                       [name]="nameClinica"
                       [compareWith]="compareTo"
                       [required]="false"
                       placeholder="Clinica"
                       [clazz]="['col-md-9']"
                       [options]="getClinicas()"
                       [text]="'empresa'"
                       (eventChange)="changeClinica($event)">
      </ic-input-select>

      <div class="col-md-3">
          <ic-button [text]="'Incluir'"
                     [clazz]="['btn', 'btn-primary']"
                     [clazzIcon]="['glyphicon', 'glyphicon-plus']"
                     [title]="'Incluir Clinica'"
                     (eventClick)="incluirClinica($event)">
          </ic-button>
        </div>
      <ic-table-no-pagination [displayedColumns]="displayedColumns"
                              [headers]="headers"
                              [list]="fornecedores"
                              [mappingDataToTable]="mappingDataToTable"
                              [showDelete]="true"
                              (delete)="deleteClinica($event)"
                              [titleDelete]="'Remover Clinica'">
      </ic-table-no-pagination>
    </div>

    <div class="clearfix"></div>
    <div class="text-right">
      <ic-button [text]="'Salvar'"
                 [clazz]="['btn', 'btn-primary', 'btn-space']"
                 [type]="'submit'">
      </ic-button>

      <ic-button [text]="'Voltar'"
                 [clazz]="['btn', 'btn-danger', 'btn-space']"
                 (eventClick)="voltar($event)">
      </ic-button>
    </div>
  </form>
</div>
