<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/ Histórico Natureza
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div>
    <h2 class="no-margin-bottom">Histórico Natureza</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div style="min-height: 420px;">
    <form [formGroup]="formulario" name="form">
      <fieldset>
        <div class="form-group">
          <div class="row col-md-4">
            <label class="control-label">
              Usuário
            </label>
            <input [id]="nameUsuario"
                   [formControlName]="nameUsuario"
                   [name]="nameUsuario"
                   class="form-control"
                   type="text"
                   maxlength="7"
                   [textMask]="{mask: matriculaMask, guide: false}">   
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row col-xs-12">
          <label class="control-label">
            Operação
          </label>
          <br>
          <ng-container *ngFor="let item of tiposOperacao">
            <label class="radio-inline">
              <input [id]="idField([nameOperacao, item.id])"
                     [name]="idField([nameOperacao, item.id])"
                     [checked]="isChecked(item)"
                     type="checkbox"
                     (change)="onChangeCheckbox(item, 
                                                $event.target.checked,
                                                naturezaHistoricoFiltro.tiposOperacao)">
              <label class="label-normal" 
                      for="{{ idField([nameOperacao, item.id]) }}">
                {{ item.noTipoOperacao }}
              </label>
            </label>
          </ng-container>
        </div>

        <div class="clearfix"></div>
        <div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataInicio" 
                            [form]="formulario" 
                            placeholder="Data inicial" 
                            label="Período" 
                            required="true">
            </app-input-date>
          </div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataFim" 
                            [form]="formulario" 
                            placeholder="Data Final" 
                            required="true">
            </app-input-date>
          </div>
        </div>

        <div class="clearfix"></div>
          <div class="row col-md-2 no-margin-bottom">
            <div class="form-group">
              <label class="control-label">
                Natureza
              </label>
              <select [id]="nameNatureza"
                      [formControlName]="nameNatureza"
                      [name]="nameNatureza"
                      class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let natureza of naturezas"
                          [ngValue]="natureza">
                      {{natureza.nome}}
                  </option>
              </select>
            </div>
          </div>
      </fieldset>
    </form>
    
    <app-siouv-table [dataList]="dataList"
                     (emitDetail)="detalhar($event)">
    </app-siouv-table>
    
		<div class="row col-xs-12">
      <button id="btnPesquisarNaturezaHistorico"
              type="submit"
              class="btn btn-warning"
              (click)="pesquisar()">
        <span class="fa fa-pencil fa-fw"></span>&nbsp;Pesquisar Histórico Natureza
      </button>
      <button id="btnLimparNaturezaHistorico"
              class="btn btn-danger"
              (click)="limpar()">
        <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
      </button>
      <button id="btnVoltarNaturezaHistorico"
              class="btn btn-primary"
              (click)="voltar()">
        <span class="fa fa-reply"></span>&nbsp;Voltar
      </button>
    </div>
	</div>
</section>
<app-natureza-detalhe [naturezaHistorico]="historicoSelecionado"
                      (emitModal)="setarIdModal($event)">
</app-natureza-detalhe>
<named-outlet name="footer"></named-outlet>