<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <input [id]="name"
           matInput 
           [placeholder]="placeholder" 
           [formControlName]="name" 
           minlength="{{ minlength }}" 
           maxlength="{{ maxlength }}"
           [mask]="horaMask"
           (blur)="validateFieldHora($event, name)">
    <mat-error>
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>