<div [formGroup]="form">
  <mat-radio-group [ngClass]="clazz" 
                   [formControlName]="name">
    <mat-label class="font-radio-color">
      {{ label }}
    </mat-label>
    <div class="clearfix"></div>
    <mat-radio-button class="font-radio font-radio-color"
                      *ngFor="let option of options" 
                      [value]="getValue(option)"
                      (change)="emitOnChange($event)">
      <span class="wrap-mat-radio-label">
          {{ getText(option) }}
      </span>
    </mat-radio-button>
  </mat-radio-group>
</div>