<router-outlet name="header"></router-outlet>

Exemplo Adicional
<p>
<form>
	<button type="button" (click)="cadastroExemplo()">Cadastro Exemplo</button>
</form>

<router-outlet name="footer"></router-outlet>