<div class="box box-info">
    <section class="content">
        <div class="col-md-9" style="margin-bottom: 40px">
            <!-- <p>Queue length: {{ uploader?.queue?.length }}</p> -->
            <div class="row">
                <div class="col-sm-3 col-md-4 col-xs-12">
                    <label style="margin-left:10px">Campanha</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-7 col-xs-12">
                    <select (change)="emitSelecionaCampanha($event)" class="form-control input-sm" id="campanhaSel" [ngModel]="listCampanhas"
                        value="campanha">
                        <option>-- Selecionar --</option>
                        <option name="campanhaSel" *ngFor="let listCampanha of listCampanhas" [value]="listCampanha._id">{{listCampanha?.cliente.empresa}} : {{listCampanha?.campanha}}</option>
                    </select>
                    <!-- <ic-input-select  [name]="campanha"
                        [compareWith]="compareTo"
                        placeholder="Campanha"
                        [clazz]="['col-md-8']"
                        [options]="getCampanhas()"
                        [text]="['cliente.empresa', 'campanha']"
                        [concat]=" - "
                        (eventChange)="emitSelecionaCampanha($event)">>
                    </ic-input-select> -->
                </div>
            </div>
            <table class="table">
                <thead> 
                    <tr>
                        <th width="50%">Name</th>
                        <th width="130px">Tipo</th>
                        <th>Tamanho</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td>
                            <strong>{{ item?.file?.name }}</strong>
                        </td>
                        <td>
                            <select class="form-control input-sm" id="tipoSel" value="tipo" (change)="emitSelecionaTipo($event)">
                                <option>-- Selecionar --</option>
                                <option name="tipoCarga" *ngFor="let tipo of tiposDeCarga" [value]="[tipo]">{{tipo}}</option>
                            </select>
                        </td>
                        <td *ngIf="uploader.isFile" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                            <span *ngIf="item.isCancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                            </span>
                            <span *ngIf="item.isError">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <div>
                <div>
                    Progresso:
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <label class="btn btn-primary btn-space">
                    <span class="glyphicon glyphicon-file"></span> Selecionar 
                    <input #inputField type="file" style="display: none;" ng2FileSelect [uploader]="uploader" [disabled]="uploader.getNotUploadedItems().length > 0">
                </label>
                <button type="button" class="btn btn-success btn-s btn-space" (click)="uploader.uploadAll()" [disabled]="uploader.isUploading">
                    <span class="glyphicon glyphicon-upload"></span> Enviar
                </button>
                <button type="button" class="btn btn-warning btn-s btn-space" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                </button>
                <button type="button" class="btn btn-danger btn-s btn-space" (click)="uploader.clearQueue()">
                    <span class="glyphicon glyphicon-trash"></span> Remover
                </button>                
                <ic-button [text]="'Template'"
                    [clazz]="['btn', 'btn-info', 'btn-upload-xlsx']"
                    [clazzIcon]="['glyphicon', 'glyphicon-open-file']"
                    (eventClick)="downloadFile($event)">
                </ic-button>


            </div>
        </div>
        <div class="col-md-9" style="margin-bottom: 40px" *ngIf="campanha">
            <a class="btn btn-primary btn-s"
                (click)="atualizarCargas()">
                Atualizar Importações
            </a>
        </div>
        <ic-table [self]="this"
            [displayedColumns]="displayedColumns"
            [headers]="headers"
            [errorMessage]="errorMessage"
            [observable]="consultarObservable"
            [mappingDataToTable]="mappingDataToTable"
            (rowClicked)="rowClicked($event)"
            *ngIf="campanha">
        </ic-table>
    </section>
    
</div>
