
<section class="content">
    <div class="row">
        <div class="col-sm-1 col-md-4 col-xs-3">
            <ic-campanha-menu (emitCampanhaDetalhe)="CampanhaDetalhe.setCampanha()" [campanhas]="campanhas"></ic-campanha-menu>
        </div>
        <div class="col-sm-1 col-md-8 col-xs-9">
            <ic-campanha-detalhes #CampanhaDetalhe></ic-campanha-detalhes>
        </div>
    </div>
</section>