<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="box-body">
  <div class="col-md-6">
    <mat-paginator [length]="resultsLength" 
                   [pageSize]="pageSize" 
                   [pageSizeOptions]="pageSizeOptions" 
                   (page)="changePaginator($event)">
    </mat-paginator>
  </div>
  <div class="col-md-6">
    <mat-form-field>
      <input matInput 
             (keyup)="applyFilter($event.target.value)" 
             [placeholder]="placeholderFilter">
    </mat-form-field>
  </div>
</div>

<div class="example-table-container">
  <mat-table matSort 
             [dataSource]="dataSource" 
             class="example-table" 
             [matSortActive]="matSortActive" 
             [matSortDirection]="matSortDirection"
             matSortDisableClear>
    <ng-container *ngFor="let col of columns">  
      <ng-container [matColumnDef]="getValue(col)">
        <mat-header-cell mat-sort-header *matHeaderCellDef>{{ getDescription(col) }}</mat-header-cell>
        
        <mat-cell *matCellDef="let row">
          <span *ngIf="!isActionDelete(col)">{{ row[getValue(col)] }}</span>
          <ic-button *ngIf="isActionDelete(col)"
                     [id]="'btn_delete'"
                     [title]="titleDelete"
                     [clazz]="['btn', 'btn-danger']"
                     [clazzIcon]="['glyphicon', 'glyphicon-trash']"
                     (eventClick)="deleteRow($event, row)">
          </ic-button>
          <ic-button *ngIf="isActionButton(col)"
                     [id]="'btn_action'"
                     [title]="titleButton"
                     [clazz]="clazzButton"
                     [clazzIcon]="clazzIconButton"
                     (eventClick)="actionRow($event, row)">
          </ic-button>
        </mat-cell>

      </ng-container>
    </ng-container> 

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClickedAction(row)"></mat-row>
  </mat-table>
  <mat-label *ngIf="!data?.length" class="col-md-12 font-radio-color">{{ msgNoResult() }}</mat-label>
</div>