<section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small> 
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/dash']"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row" *ngIf="getKpisCalculados().length <= 4">
    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let kpi of getKpisCalculados(); let i = index">
      <ic-infobox [kpi]="kpi" [indx]="i"></ic-infobox>
    </div>
  </div>
  <div class="row" *ngIf="getKpisCalculados().length > 4">
    <div class="col-md-3 col-sm-5 col-xs-12" *ngFor="let kpi of getKpisCalculados(); let i = index">
      <ic-infobox [kpi]="kpi" [indx]="i"></ic-infobox>
    </div>
  </div>

  <ic-grafico [campanhas]="campanhas"></ic-grafico>

</section>

