<div [formGroup]="form">
  <label *ngIf="!label">&nbsp;</label>
  <label *ngIf="!required && (label && label.trim().length > 0)">
    {{label}}
  </label>
  <app-required-label *ngIf="required && (label && label.trim().length > 0)" [title]="label"></app-required-label>

  <div class="checkbox">
    <label [id]="idField(['label', name, i])" 
           *ngFor="let item of getItems(); let i = index" 
           class="{{ inline === 'true' ? 'checkbox-inline' : 'checkbox' }}"
           style="margin-bottom: 10px !important;">
      <input [id]="idField([name, i])" 
             [name]="name"
             type="radio" 
             [value]="getValue(i)"
             [formControlName]="name">
      {{getDescription(i)}}
    </label>
  </div>
  <app-required-field [show]="isValid()" *ngIf="required"></app-required-field>
</div>