<div [ngClass]="clazz">
  <img [src]="getImage()"
       class="col-md-12 upload-photo no-padding-side"/>
  <div class="col-md-12 no-padding-side" *ngIf="!showRemove()">
    <ic-button [text]="buttonInsert"
               [id]="id"
               [clazz]="['btn', 'btn-success', 'btn-upload-photo']"
               [type]="'file'"
               (eventChange)="fileChangeEvent($event)">
    </ic-button>
  </div>
  <div class="col-md-12 no-padding-side" *ngIf="showRemove()">
    <ic-button [text]="buttonRemove"
               [id]="id"
               [clazz]="['btn', 'btn-danger', 'btn-upload-photo']"
               (eventClick)="fileRemoveEvent($event)">
    </ic-button>
  </div> 
</div>
<ic-modal-upload-image [title]="title"
                       [imageChangedEvent]="imageChangedEvent"
                       (upload)="uploadImage($event)"
                       (emitIdModal)="receiveId($event)"
                       (hidden)="clean($event)">
</ic-modal-upload-image>