<div class="box-body">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <!-- || isRateLimitReached"> -->
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <!--
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          {{msgerr}}
        </div>
      -->
    </div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="example-table-container">
        <mat-table matSort [dataSource]="dataSource" class="example-table" matSortActive="empresa" matSortDisableClear
            matSortDirection="asc">
            <!-- Number Column -->
            <ng-container matColumnDef="empresa">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Empresa</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.empresa}}</mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="cnpj">
                <mat-header-cell mat-sort-header *matHeaderCellDef>CNPJ</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.cnpj}}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="responsavel">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Responsável</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.responsavel}}</mat-cell>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell mat-sort-header *matHeaderCellDef>email</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
            </ng-container>
            <!-- Created Column -->
            <ng-container matColumnDef="fone">
                <mat-header-cell mat-sort-header *matHeaderCellDef>fone</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.fone}}</mat-cell>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
        </mat-table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
</div>
