<section class="content">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Clientes">
            <ic-clientes></ic-clientes>
        </mat-tab>
        <mat-tab label="Fornecedores">
            <ic-fornecedores></ic-fornecedores>
        </mat-tab>
        <mat-tab label="Distribuidoras">
            <ic-distribuidoras></ic-distribuidoras>
        </mat-tab>
    </mat-tab-group>
</section>