.snackbar {
    min-width: 600px;
    margin-left: -300px;
    background-color: #45C6D0;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 80px;
}