<!-- Page Header-->
<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/ Manter Natureza
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div>
    <h2 class="no-margin-bottom">Manter Natureza</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div style="min-height: 420px;">
    <app-siouv-table [dataList]="dataList"
                     (emitEdit)="alterar($event)"
                     (emitDelete)="excluir($event)">
    </app-siouv-table>

		<div class="row col-xs-12">
			<button id="btnIncluirNatureza"
							class="btn btn-success" 
							(click)="incluir()">
				<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Nova Natureza
			</button>
			<span *appPermissaoRecursos="['ModuloOcorrencia-NaturezaHistorico-Leitura',
                                    'ModuloOcorrencia-NaturezaHistorico-Escrita',
                                    'ModuloManutencao-TipoOperacao-Leitura',
                                    'ModuloOcorrencia-TipoOcorrencia-Leitura']">
				<button id="btnPesquisarHistoricoNatureza"
								class="btn btn-primary" 
								(click)="pesquisarHistorico()">
					<span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Histórico de Natureza
				</button>
			</span>
		</div>
	</div>
</section>

<named-outlet name="footer"></named-outlet>