<!-- Page Header-->
<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a routerLink="/manutencao">
			Manutenção 
		</a>
		/ Consultar SNDC
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consultar SNDC</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div class="container">
    <form [formGroup]="formulario">
      <fieldset>
        <div class="col-md-5">
          <div class="form-group">
            <label>Unidade</label>
            <input type="text" 
                   [id]="nameNoUnidadeSndc" 
                   [name]="nameNoUnidadeSndc" 
                   class="form-control" 
                   formControlName="noUnidadeSndc">
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
          <div class="form-group">
            <label>UF</label>
            <select [id]="namesgUf" class="form-control" [name]="namesgUf" formControlName="sgUf">
              <option value="null">Selecione</option>
              <option *ngFor="let u of ufs" [ngValue]="u.sgUf">{{u.sgUf}}</option>
            </select>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Situação</label>
            <select [id]="nameicAtivo" [name]="nameicAtivo" class="form-control" formControlName="icAtivo">
              <option value="null">Selecione</option>
              <option *ngFor="let s of situacoes" [ngValue]="s.value">{{s.text}}</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="consultar()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar SNDC
            </button>
            <button class="btn btn-primary" (click)="incluir()">
              <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Novo SNDC
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa fa-search fa-fw"></span>&nbsp;Limpar Formulario
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div *ngIf="listSndc.length > 0">
    <app-siouv-table [dataList]="dataList"
    (emitEdit)="alterar($event)"
    (emitDelete)="excluir($event)">
    </app-siouv-table>
  </div>
</section>


<named-outlet name="footer"></named-outlet>