@import '../../../../assets/sass/colors';

label {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
    min-height: 200px;
    border: 1px solid #ddd;
    padding: 10px;

    li {
        border: 1px solid #ccc;
        border-bottom: none;
        display: block;
        padding: 5px;
        background: #f5f5f5;
        font-size: 12px;

        &:hover {
            background: $color-back-submenu;
            color: $color-primary-4;
            cursor: pointer;
        }

        &:last-of-type{
            border-bottom: 1px solid #ccc;
        }

        i.seta {
            font-size: 10px;
        }
    }
}

.botoes-acao-grid{
    padding-top: 70px;

    a {
        margin-bottom: 10px;
    }
}