<div class="row" id="{{idList}}">
	<div class="col-md-4">
		<label>{{titulo}}</label>
		<ul id="listaItens">
			<li *ngFor="let item of itens" (click)="adicionarSelecionado(item)">
				<em class="glyphicon glyphicon-chevron-right seta"></em>
				{{item.nome}}
			</li>
		</ul>
	</div>

	<div class="col-md-1 text-center botoes-acao-grid">
		<a class="btn btn-default btn-sm" (click)="selecionarTodos()">
			<em class="glyphicon glyphicon-forward"></em>
		</a>
		<a class="btn btn-default btn-sm" (click)="retirarTodos()">
			<em class="glyphicon glyphicon-backward"></em>
		</a>
	</div>

	<div class="col-md-4">
		<label [ngClass]="{'required' : required}">{{tituloSelecionados}}</label>
		<ul id="listaSelecionados">
			<li *ngFor="let item of itensSelecionados" (click)="retirarSelecionado(item)">
				<em class="glyphicon glyphicon-chevron-left seta"></em>
				{{item.nome}}
			</li>
		</ul>
		<!-- Imprime mensagem de erro se validator válido -->
		<div *ngIf="validator" style="color: red">{{mensagemErro}}</div>
	</div>
</div>