<div [formGroup]="form">
  <ion-list radio-group
            [id]="getIdComponent('item')"
            [formControlName]="name"
            [ngClass]="clazz"
            [ngStyle]="style">
    <ion-list-header [id]="getIdComponent('label')">
      {{ label }}
    </ion-list-header>
    <ion-item *ngFor="let option of options">
      <ion-label (ionSelect)="emitOnChange($event)">
        {{ getText(option) }}
      </ion-label>
      <ion-radio [value]="getValue(option)" 
                (ionSelect)="emitOnChange($event)">
      </ion-radio>
    </ion-item>
  </ion-list>
</div>