<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a (click)="consultar()">
			Manutenção
		</a>
		/ Consultar Origem
	</ul>
</div>

<ol class="breadcrumb">
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Manter Origem</h2>
      </div>
    </header>
<!-- Page Header-->

<section>
	<!--Início Tabela que exibe os resultados da consulta-->
		<div class="container" style="min-height: 420px;">
			<app-siouv-table [dataList]="dataList"
					 (emitEdit)="alterar($event)"
					 (emitDelete)="excluir($event)">
			</app-siouv-table>
				<div class="row col-xs-12">
					<button class="btn btn-primary" (click)="incluirNovaOrigem()">
						<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Nova Origem
					</button>
				</div>
		</div>
  <!--Fim Tabela que exibe os resultados da consulta-->
</section>
