<section class="box-header content login-content">
    <div class="login-logo">
        <img src="../../../../assets/img/logo-imuno-color-vetor 1.png" class="logo-alterar" alt="">
        <img src="../../../../assets/img/Care.png" class="sublogo-alterar" alt="">
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
        <p class="login-box-msg"> Por favor, preencha todos os campos para continuar </p>

        <form [formGroup]="cpForm">
            <div class="col-xs-12 col-sm-3">
                <span class="help-block pull-right has-error-block" *ngIf="cpForm.hasError('passNotMatch')">
                    <i class="fa fa-remove"></i> Senhas não conferem</span>
            </div>
            <ic-input-container [showTip]="false">
                <input type="text" formControlName="email" class="form-control form-control-login" placeholder="Email">
                
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <input type="password" formControlName="senha" class="form-control form-control-login" placeholder="Senha atual">
                
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <input type="password" formControlName="novasenha" class="form-control form-control-login" placeholder="Nova senha">
                
            </ic-input-container>
            <ic-input-container [showTip]="false">
                <input type="password" formControlName="confsenha" class="form-control form-control-login" placeholder="Confirma senha">
               
            </ic-input-container>
            <div class="row">
                <div class="col-xs-4">
                    <a [routerLink]="['/login']">Voltar</a>
                </div>
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="submit" (click)="alterarSenha()" [disabled]="cpForm.invalid" class="btn btn-imunoCare btn-block btn-flat">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</section>
