<ion-tabs>
    <ion-tab [root]="vaccinationRoot" tabTitle="Vacinação" tabIcon="medkit"></ion-tab>
    <ion-tab [root]="itineraryRoot" tabTitle="Roteiro" tabIcon="pin"></ion-tab>
    <!-- <ion-tab [root]="manualRoot" tabTitle="Manual" tabIcon="book"></ion-tab> -->
    <ion-tab [root]="syncRoot" tabTitle="Sincronizar" tabIcon="sync"></ion-tab>
    <!-- <ion-tab [root]="syncRoot" tabTitle="Sincronizar" tabIcon="sync" tabBadge="!" tabBadgeStyle="logo-sec"></ion-tab> -->
</ion-tabs>
