page-immunization {
    .item-md {
        padding-right: 15px;

        p {
            font-size: 12px;
            margin: 2px 0px;
            color: #aaa;
        }

        img {
            height: 25px;
        }
    }
}
