<ion-header>
    <ion-navbar color="clean">
        <ion-title>Imunizações</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Selecione o lote aplicado</ion-list-header>
        <button ion-item *ngFor="let item of user?.imunizacoes" (click)="selectImmunization(item)">
            {{item.desc_produto}}
            <p>{{item.num_lote}}</p>
            <img item-end src="assets/imgs/injection.png" *ngIf="showInjection(item)"/>
        </button>
    </ion-list>
</ion-content>