<!-- Page Header -->


<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Home</a>
  </li>
  <li class="breadcrumb-item active">Consultar Perfil</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Consultar Perfil</h2>
  </div>
</header>
<!-- Page Header -->

<section>
  <div class="container-fluid" style="min-height: 420px;">
		<form [formGroup]="formulario" name="form" class="form-inline">
			<fieldset>
				<div class="form-group" style="display: block">
					<div class="row col-xs-12">
						<div class="form-group col-xs-11">
							<label class="control-label">Nome:</label>&nbsp;
							<input formControlName="nome" [(ngModel)]="nome" type="text" maxlength="255"
								id="nome" name="nome" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;
							<button class="btn btn-primary" (click)="consultar()">
								<span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar
							</button>
						</div>
						<div class="form-group col-xs-1">
							<button class="btn btn-success" (click)="incluir()">
								<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir
							</button>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

		<div class="table-responsive" style="padding-top: 20px">
			<table class="table table-striped table-sm table-hover">
				<thead>
					<tr>
						<th rowspan="2" class="text-center" style="vertical-align: middle">ID</th>
						<th rowspan="2" class="text-center" style="vertical-align: middle">Nome</th>
						<th rowspan="2" style="vertical-align: middle">Descrição</th>
						<th colspan="3" class="text-center">Última Atualização</th>
						<th rowspan="2" class="text-center" style="vertical-align: middle">Ação</th>
					</tr>
					<tr>
						<th class="text-center">Usuário Responsável</th>
						<th class="text-center">Terminal</th>
						<th class="text-center">Data / Hora</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let perfil of perfis | paginate: { itemsPerPage: itens, currentPage: pagina }">
						<td class="text-center">{{perfil.id}}</td>
						<td class="text-center">{{perfil.nome}}</td>
						<td>{{perfil.descricao}}</td>
						<td class="text-center">{{perfil.usuarioUltimaAtualizacao}}</td>
						<td class="text-center">{{perfil.terminalUltimaAtualizacao}}</td>
						<td class="text-center">{{perfil.dataHoraUltimaAtualizacao | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="text-center">
							<button class="btn btn-warning" (click)="alterar(perfil)">
								<span class="fa fa-pencil fa-fw"></span>
							</button>&nbsp;
							<button class="btn btn-danger" (click)="excluir(perfil)">
								<span class="fa fa-trash fa-fw"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-4">
				<select *ngIf="perfis" #selectElem class="selectElem" (change)="itens = $event.target.value">
					<option class="selectElem" [value]="5">5</option>
					<option class="selectElem" [value]="10">10</option>
					<option class="selectElem" [value]="50">50</option>
					<option class="selectElem" [value]="100">100</option>
				</select>
			</div>
			<div>
				<pagination-controls *ngIf="perfis" class="col-md-6.5 pull-right" (pageChange)="pagina = $event;"
					previousLabel="anterior" nextLabel="próximo"></pagination-controls>
			</div>
		</div>
	</div>
</section>

<named-outlet name="footer"></named-outlet>
