<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a (click)="consultar()">
			Manter Motivo
		</a>
		/ {{titulo}} Motivo
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Motivo</h2>
  </div>
</header>
<!-- Page Header-->


<section>
  <div class="container" style="min-height: 420px;">
		<form [formGroup]="formulario" name="form">
			<fieldset>
				<div class="form-group">
					<div class="row">
							<div class="col-md-10 col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameMotivo)">
							<app-required-label [title]="'Motivo'"></app-required-label>
								<input [id]="nameMotivo" 
									     [formControlName]="nameMotivo"
									     [name]="nameMotivo" 
									     class="form-control" type="text" maxlength="100"
											 [(ngModel)]="motivo.nome">
								<app-required-field [showLength]="true"
																		[show]="validaSeCampoValidoLength(formulario, nameMotivo, 3)">
								</app-required-field>
						</div>
							<div class="col-md-2 col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameSituacao)">
							<app-required-label [title]="'Situação'"></app-required-label>
								<select [id]="nameSituacao" 
												[formControlName]="nameSituacao" 
												[name]="nameSituacao" 
												class="form-control">
								<option [ngValue]="null" >Selecione</option>
								<option *ngFor="let s of situacoes" 
												[ngValue]="s.value" 
												[selected]="isSelectSituacao(s)">
									{{s.text}}
								</option>
							</select>
							
						</div>
					</div>
					<div class="row ">
						<div class="col-md-12 col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameDescricao)">
								<app-required-label [title]="'Descrição'"></app-required-label>
								<textarea [id]="nameDescricao"
													[formControlName]="nameDescricao"
													[name]="nameDescricao"
													[(ngModel)]="motivo.descricao"
													class="form-control" maxlength="255">
								</textarea>
								<app-required-field [showLength]="true"
																		[show]="validaSeCampoValidoLength(formulario, nameDescricao, 3)">
								</app-required-field>
						</div>				 
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="row col-md-8 col-xs-12">
							<table class="table table-hover table-sm table-borderless">
								<thead>
									<tr>
										<th>
											<app-required-label [title]="'Natureza'"></app-required-label>
										</th>
										<th class="text-center">
											<app-required-label [title]="'Situação'"></app-required-label>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let natureza of naturezas">
										<td *ngIf="natureza.ativa != 'N'">
											<input type="checkbox" 
														 name="" 
														 id=""  
														 [checked]="isCheckNatureza(natureza)"
														 (change)="atualizarNaturezasSelecionadas(natureza)">
											{{ natureza.nome }}
										</td>
										<td style="vertical-align: middle;" *ngIf="natureza.ativa != 'N'">
											<select class="form-control" 
															style="width: 200px; margin-left: 31%;" 
															(change)="setarAtivoInativoNaNaturezaSelecionada(natureza, $event.target.value)">
												<option *ngFor="let s of situacoes" 
																value="{{ s.value }}" 
																[selected]="isSelectSituacaoList(natureza, s)">
													{{s.text}}
												</option>
											</select>
										</td>
									</tr>
								</tbody>
							</table>
								<div *ngIf="naturezas == null" style="text-align: center">Nenhum registro encontrado</div>
							</div>
						<div class="col-md-2"></div>
					</div>

					<div class="row col-xs-12">
						<button id="btnGravarMotivo"
										class="btn btn-success"
										(click)="gravar()">
							<span class="fa fa-pencil fa-fw"></span>&nbsp;{{ btnGravar }}
						</button>
						<button id="btnLimparMotivo"
										class="btn btn-danger"
										(click)="limpar()">
							<span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
						</button>
						<button id="btnPesquisarMotivo"
										class="btn btn-primary"
										(click)="voltar()">
							<span class="fa fa-reply"></span>&nbsp;Voltar
						</button>
					</div>
				</div>
			</fieldset>
		</form>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
