<div class="jumbotron" ng-controller="listaTelefonicaCtrl">

		<ui-accordions>
			<ui-accordion title="Accordion 1">
				Três Anéis para os Reis-Elfos sob este céu, 
				Sete para os Senhores-Anões em seus rochosos corredores, 
				Nove para Homens Mortais fadados ao eterno sono, 
				Um para o Senhor do Escuro em seu escuro trono 
				Na Terra de Mordor onde as Sombras se deitam, 
				Um Anel para todos governar, Um Anel para encontrá-los, 
				Um Anel para a todos trazer e na escuridão aprisioná-los 
				Na Terra de Mordor onde as sombras de deitam.
			</ui-accordion>

			<ui-accordion title="Accordion 2">
				Um Anel para a todos governar, um Anel para encontrá-los
				Um Anel para todos trazer e na escuridão aprisioná-los
			</ui-accordion>
		</ui-accordion>

		<h3 ng-bind="app"></h3>
		<hr/>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando?">
		<div>
		<div align="center" ng-if="message != null">
			<ui-alert title="Ops, aconteceu um problema!" message="message">
			</ui-alert>
			<input type="button" value="Iniciar Backend" onclick="window.open('iniciarBackend.bat')" style="width: 90%;" class="btn btn-danger btn-block"/>
			<hr/>
		</div>
		</div>
		<table ng-hide="!contatos.length > 0" class="table table-hover">
			<tr>
				<th class="thx"></th>
				<th class="thx">Serial</th>
				<th class="thx"><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th class="thx"><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th class="thx">Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-repeat="contato in contatos | limitTo:limit | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao" ng-class="{'selecionado negrito': contato.selecionado}">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td class="tdx">{{contato.serial}}</td>
				<td class="tdx">{{contato.nome | name | ellipsis : 10}}</td>
				<td class="tdx">{{contato.telefone}}</td>
				<td class="tdx">{{contato.operadora.nome | lowercase}}</td>
				<td class="tdx">{{contato.data | date:'dd/MM/yyyy'}}</td>
				<td class="tdx"><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<div class="input-group" style="width: 50%; padding-left: 20px;">
		    <div class="input-group-addon">Limite de Contatos</div>
		    <input type="number" class="form-control" ng-model="limit" placeholder="limite">
	    </div>
	    <br/>
		<div class="input-group" style="width: 50%; padding-left: 20px;">
			<div class="input-group-addon">Quantidade de Contatos</div>
			<input type="text" class="form-control" value="{{contatos.length | number:1}}" ng-readonly="true">
	    </div>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minLength="5"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\([1-9]{2}\)[0-9]{4,5}-[0-9]{4}$/"/>
			<input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date ng-required="true"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ('+ (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy: 'nome'" ng-required="true">
				<option value="">Selecione uma operadora</option>
			</select>
			<input class="form-control" type="color" ng-model="contato.cor" placeholder="Cor" ng-required="true">
		</form>
		<div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
			Por favor, preencha o nome!
		</div>
		<div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
			O campo nome deve ter no mínimo 5 caracteres!
		</div>
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato "(xx) xxxxx-xxxx"!
		</div>

		<div align="center">
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button>
		</div>
	</div>