<!-- Page Header-->

<div class="col-md-12">
  <ul class="breadcrumb">
    <a routerLink="/home">
      Home
    </a>
    / Manter Motivo
  </ul>
</div>

<ol class="breadcrumb">
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Manter Motivo</h2>
    </div>
  </header>
</ol>
<!-- Page Header-->
<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form">
      <fieldset>
        <div class="form-group" style="display: block">
          <div class="row">
            <div class="col-md-9 col-xs-12">
              <label for="nameMotivo" class="form-label">Motivo</label>
              <input [id]="nameMotivo" 
                      [name]="nameMotivo"
                      [formControlName]="nameMotivo"
                      class="form-control" type="text"
                      maxlength="100">
            </div>
            <div class="col-md-3 col-xs-12">
              <label for="nameSituacao" class="form-label">Situação</label>
              <select [id]="nameSituacao"
                      [name]="nameSituacao"
                      [formControlName]="nameSituacao"
                      class="form-control" style="width: 200px;">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let s of situacoes" [ngValue]="s.value">
                  {{s.text}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row col-md-12 col-xs-12">
        <label for="" class="form-label">Natureza</label> <br>
        <ng-container *ngFor="let natureza of naturezas; let i = index">
            <div class="col-md-3" *ngIf="natureza.ativa != 'N'">
              <div class="checkbox">
                <label for="{{ idField([nameNatureza, natureza.id]) }}">
                    <input [id]="idField([nameNatureza, natureza.id])"
                           [name]="idField([nameNatureza, natureza.id])"                    
                           type="checkbox"
                           (change)="atualizarNaturezasSelecionadas(natureza)">{{ natureza.nome }}
                </label>                
              </div>
            </div>
          </ng-container>
      <div *ngIf="naturezas == null" style="text-align: center">
        Nenhum registro encontrado
      </div>
    </div>
    
    <div class="row col-xs-12">
      <button id="btnPesquisarMotivo"
              class="btn btn-primary" 
              (click)="consultar()">
        <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Motivos Cadastrados
      </button>
      <button id="btnIncluirMotivo" 
              type="submit" 
              class="btn btn-success" 
              (click)="incluir()">
        <span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Novo Motivo
      </button>
      <span *appPermissaoRecursos="['MANUTENCAO-MOTIVOHISTORICO-LEITURA',
                                      'ModuloManutencao-TipoOperacao-Leitura',
                                      'ModuloOcorrencia-Motivo-Leitura',
                                      'ModuloOcorrencia-Natureza-Leitura']">
        <button id="btnPesquisarHistoricoMotivo"
                class="btn btn-primary"
                (click)="pesquisarHistorico()">
          <span class="fa fa-search fa-fw"></span>&nbsp;Histórico de Motivo
        </button>
      </span>
      <button id="btnLimparMotivo"
              class="btn btn-danger"
              (click)="limpar()">
        <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
      </button>
    </div>

    <!--Tabela que exibe os resultados da consulta-->
    <div class="row col-xs-12" *ngIf="motivos != null">
      <app-siouv-table [dataList]="dataList" 
                        (emitEdit)="alterar($event)"
                        (emitDelete)="excluir($event)"
                        (emitDetail)="detalhar($event)">
      </app-siouv-table>
    </div>
  </div>
</section>
<app-motivo-detalhe [motivoSelecionado]="motivoSelecionado"
                    (emitModal)="setarIdModal($event)">
</app-motivo-detalhe>

<named-outlet name="footer"></named-outlet>