<!-- Static Modal -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<em class="fa fa-spinner fa-spin"></em>
					<h4>Carregando...
						<button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×
						</button>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Inicio Menu -->
<div class="barra-sistema">
	<div class="topo1"></div>

	<div class="menu"></div>

	<div class="logo-caixa">
		<img src="./assets/images/caixa.svg" alt="Caixa" title="Caixa" width="150px" />
	</div>
	<nav class="menu-usuario">
		<p class="nome-usuario">{{ sessaoService.getUsuario()?.nome }}</p>
		<span class="data">11 de outubro de 2017 - 10:00</span>

		<nav class="menu-icone">
			<ul>
				<li>
					<div class="tooltip-mensagem">
						<a routerLink="/home">
							<!-- >img src="./assets/images/view-thumb_p.png" alt="Menu" /-->
							<i class="fa fa-th-large"></i>
							<span class="tooltiptext">Home</span>
						</a>
					</div>
				</li>

				<li>
					<div class="tooltip-mensagem hover menu-favorito">
						<a onclick="return false;" (click)="mostraEscondeBarraFavoritos();">
							<!-- >img src="./assets/images/view-list-large_p_white.png" alt="favoritos" /-->
							<i class="fa fa-th-list"></i>
							<span class="tooltiptext">Favoritos</span>
						</a>
					</div>
				</li>

				<li>
					<div class="tooltip-mensagem">
						<a onclick="return false;" data-toggle="modal" data-target=".modal-logout">
							<!-- >img src="./assets/images/exit_p_white.png" alt="sair" /-->
							<i class="fa fa-sign-out"></i>
							<span class="tooltiptext">Sair</span>
						</a>
					</div>
				</li>

				<li class="info">
					<!-- >img src="./assets/images/information_p_white.png" alt="Informações" /-->
					<i class="fa fa-info-circle"></i>
					<div class="tooltip-info">
						<!-- >span></span-->
						<div class="tooltip-nome">
							<h5>Nome:</h5>
							<p>{{ sessaoService.getUsuario()?.nome }}</p>
						</div>

						<div class="tooltip-matricula">
							<h5>Matrícula:</h5>
							<p>{{ sessaoService.getUsuario()?.matricula }}</p>
						</div>

						<div class="tooltip-perfil">
							<h5>Perfil:</h5>
							<p>{{ sessaoService.getUsuario()?.perfis }}</p>
						</div>

						<div class="tooltip-versao">
							<h5>Versão:</h5>
							<p>1.0.0</p>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</nav>
</div>

<!-- Barra Favoritos -->
<div class="barra-favoritos">
	<div class="favorito-conteudo">
		<div class="itens-favoritos">
			<div class="row">
				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/funcionalidades">
							<img src="./assets/images/briefcase_m.png" alt="" />
							<p class="titulo-funcao">Funcionalidades</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/perfilacesso">
							<img src="./assets/images/user_m.png" alt="" />
							<p class="titulo-funcao">Perfil de Acesso</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/fundoinvestimento/listar?faces-redirect=true">
							<img src="./assets/images/graph-line_m.png" alt="" />
							<p class="titulo-funcao">Fundos de Investimentos</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>

				<div class="col">
					<div class="itens-favoritos-2">
						<a href="/views/listarestritiva/listar?faces-redirect=true">
							<img src="./assets/images/document_list_m.png" alt="" />
							<p class="titulo-funcao">Lista Restritiva</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Idle -->
<div class="modal fade modal-idle" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Término de Utilização</h4>
			</div>
			<div class="modal-body">
				<p>{{ mensagemContinuidadeUso }}</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" (click)="logout()" data-dismiss="modal">Não</button>
				<button id="btnIdleSim" class="btn btn-success" data-dismiss="modal">Sim</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Logout -->
<div class="modal fade modal-logout" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Logout</h4>
			</div>
			<div class="modal-body">
				<p>Tem certeza que deseja sair?</p>
			</div>
			<div class="modal-footer">
				<button id="btnLogoutNao" class="btn btn-default" data-dismiss="modal">Não</button>
				<button class="btn btn-success" (click)="logout()" data-dismiss="modal">Sim</button>
			</div>
		</div>
	</div>
</div>