<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a routerLink="/parametro">
			Parâmetros
		</a>
		/ Incluir Texto de Abertura
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Incluir Texto de Abertura</h2>
  </div>
</header>
<!-- Page Header-->

<section>
    <div class="container" style="min-height: 420px;">
      <form [formGroup]="formulario" name="form">
        <fieldset>
          <div class="form-group">
            <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameTipoOcorrencia)">
              <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
              <br>
              <ng-container *ngFor="let item of tiposOcorrencia">
                <label class="radio-inline">
                  <input [id]="item.id"
                         [formControlName]="nameTipoOcorrencia"
                         [name]="nameTipoOcorrencia"
                         type="radio"
                         [value]="item.id"
                         [checked]="item.id == textoAbertura.nuTipoOcorrencia"
                         (change)="changeTipoOcorrencia(item.id)" >
                  <label class="label-normal" for="{{ item.id }}">{{ item.nome }}</label>
                </label>
              </ng-container>
              <app-required-field [show]="validaSeCampoValido(formulario, nameTipoOcorrencia)"></app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameTitulo)">
              <app-required-label [title]="'Título'"></app-required-label>
              <input [id]="nameTitulo"
                     [formControlName]="nameTitulo"
                     [name]="nameTitulo"
                     class="form-control"
                     type="text"
                     minlength="1"
                     maxlength="200">
              <app-required-field [show]="validaSeCampoValidoLength(formulario, nameTitulo, 1)"></app-required-field>
            </div>

            <div class="clearfix"></div>
            <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameDescricao)">
              <app-required-label [title]="'Descrição'"></app-required-label>
              <textarea [id]="nameDescricao"
                        [formControlName]="nameDescricao"
                        [name]="nameDescricao"
                        class="form-control"
                        minlength="1"
                        maxlength="10000"
                        rows="4">
              </textarea>
              <app-required-field [show]="validaSeCampoValidoLength(formulario, nameDescricao, 1)"></app-required-field>
            </div>

            <div class="row col-xs-12">
              <button id="btnSalvarTextoAbertura"
                      type="submit" 
                      class="btn btn-warning" 
                      (click)="salvar()">
                <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar Inclusão
              </button>
              <button id="btnLimparTextoAbertura"
                      class="btn btn-danger" 
                      (click)="limpar()">
                <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</section>

<named-outlet name="footer"></named-outlet>
