<div class="form-group" [formGroup]="formulario">
  <div class="row {{class}} no-margin-bottom">
    <div class="form-group">
      
      <div class="col-md-8 no-padding">
        <label *ngIf="!showLabel()" 
               class="control-label">
          &nbsp;
        </label>
        <label *ngIf="!requiredLabel()">
          {{label}}
        </label>
        <app-required-label *ngIf="requiredLabel()" 
                            [title]="label">
        </app-required-label>
        <input [id]="nameDescricao"
               [formControlName]="nameDescricao"
               [name]="nameDescricao"
               class="form-control"
               type="text"
               [readonly]="true">
      </div>
      <div class="col-md-4 no-padding-left">
        <label class="control-label">&nbsp;</label>
        <input [id]="nameCodigo"
               [formControlName]="nameCodigo"
               [name]="nameCodigo"
               (input)="verificarCodigo($event.target.value)"
               (blur)="verificarCodigoBlur($event.target.value)"
               maxlength="4"
               class="form-control"
               type="text"
               [textMask]="{mask: codigoUnidadeMask, guide: false}">
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 no-padding-left">
        <app-required-field [show]="required 
                                 && validaSeCampoValido(formulario, nameCodigo)">
        </app-required-field>
      </div>
    </div>
  </div>

  <div *ngIf="showButtons" 
       [id]="idField(['divBtnPesquisar', idBase])" 
       class="row col-md-4 no-margin-bottom padding-left-icon">
    <div class="form-group">
      <label>&nbsp;</label>
      <div>
        <button [id]="nameBtnModal"
                [name]="nameBtnModal"
                [disabled]="disabled || disableModal()"
                class="btn btn-success"
                title="Selecionar Unidade"
                data-toggle="modal"
                [attr.data-target]="idHashtag(idModalUnidade)">
            <span class="fa fa-search fa-fw"></span>
        </button>
        <button [id]="nameBtnLimpar"
                [name]="nameBtnLimpar"
                [disabled]="disabled"
                class="btn btn-danger" 
                (click)="limpar()" 
                title="Limpar">
            <span class="fa fa-trash fa-fw"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<button [id]="nameBtnHiddenModal" 
        [hidden]="true" 
        data-toggle="modal" 
        [attr.data-target]="idHashtag(idModalUnidade)">
</button>
<button [id]="nameBtnHiddenLimpar" 
        [hidden]="true" 
        (click)="limpar()">
</button>
<div *ngIf="isModalExterna()">
  <app-unidade-modal [idBase]="idBase"
                     (emitIdModal)="receberIdModal($event)"
                     (selecionarUnidade)="receberUnidade($event)">
  </app-unidade-modal>
</div>