<label [ngClass]="clazz"
       [ngStyle]="style" 
       [title]="title">
  <span *ngIf="showIcon()">
    <span [ngClass]="clazzIcon"></span>
    <span *ngIf="showText()">&nbsp;{{ text }}</span>
  </span>
  <span *ngIf="!showIcon()">
    {{ text }}
  </span>
  <input [id]="id"
         [type]="type"
         [disabled]="disabled"
         [multiple]="multiple"
         [accept]="accept"
         style="display: none;"
         (change)="emitOnChange($event)"
         (click)="emitOnClick($event)">
</label>