<div [id]="getIdModal([])" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" name="form">
            <ic-input-text [form]="form"
                           [name]="nameQuantidade"
                           [required]="true"
                           placeholder="Quantidade"
                           [clazz]="['col-md-4']"
                           [type]="numberType">
            </ic-input-text>

            <ic-input-text [form]="form"
                           [name]="nameLote"
                           [required]="true"
                           placeholder="Lote"
                           [clazz]="['col-md-8']"
                           [maxlength]="20">
            </ic-input-text>
        </form>
      </div>
      <div class="modal-footer modal-footer-display">
        <ic-button [text]="'Salvar'"
                   [clazz]="['btn', 'btn-primary', 'btn-space']"
                   (eventClick)="save($event)">
        </ic-button>

        <ic-button [text]="'Cancelar'"
                   [clazz]="['btn', 'btn-danger', 'btn-space']"
                   (eventClick)="hide($event)">
        </ic-button>
      </div>
    </div>
  </div>
</div>