<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <button type="button" class="btn btn-danger btn-s btn-space" (click)="downloadFile()">
      <span class="glyphicon glyphicon-open-file"></span> Download
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class=text-right>
    <label class="btn btn-primary btn-space" *ngIf="confirmLabel">
      <span>{{ confirmLabel }}</span>
      <button mat-button 
              [mat-dialog-close]="true" 
              cdkFocusInitial 
              style="display: none;">
      </button>
    </label>
    <label class="btn btn-danger btn-space" *ngIf="cancelLabel">
      <span>{{ cancelLabel }}</span>
      <button mat-button 
              mat-dialog-close 
              style="display: none;">
      </button>
    </label>
  </div>
</mat-dialog-actions>