<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <textarea [id]="name"
           matInput 
           [placeholder]="placeholder" 
           maxlength="{{ maxlength }}"
           [formControlName]="name">
    </textarea>
  </mat-form-field>
</div>