

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item active">{{titulo}} Assunto</li>
</ol>
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">{{titulo}} Assunto</h2>
  </div>
</header>


<section>
  <div class="container" style="min-height: 420px;">
    <form [formGroup]="formulario" name="form" class="form">
      <fieldset>
        <div class="col-md-5">
          <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, 'nome')">
            <app-required-label [title]="'Assunto'"></app-required-label>
            <input id="nome"
                   formControlName="nome"
                   name="nome"
                   class="form-control"
                   type="text"
                   maxlength="100"
                   [(ngModel)]="assunto.noAssunto">
            <app-required-field [show]="validaSeCampoValidoLength(formulario, 'nome', 3)" showLength=true></app-required-field>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-2">
          <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, 'situacao')">
            <app-required-label [title]="'Situação'"></app-required-label>
            <select id="situacao"
                    formControlName="situacao"
                    class="form-control"
                    [(ngModel)]="assunto.ativo">
              <option [ngValue]="null">
                Selecione
              </option>
              <option *ngFor="let s of situacoes"
                      [ngValue]="s.value"
                >{{s.text}}
              </option>
            </select>
            <app-required-field [show]="validaSeCampoValido(formulario, 'situacao')"></app-required-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-primary" (click)="salvar()">
              <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar Inclusão
            </button>
            <button class="btn btn-primary" (click)="limpar()">
              <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
            </button>
            <button class="btn btn-primary" (click)="voltar()">
              <span class="fa fa-reply fa-fw"></span>&nbsp;Voltar
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<named-outlet name="footer"></named-outlet>
