
<a [routerLink]="['elegiveis']" (click)="emitSelecionaCampanha()"  role="button" class="active">
  <div>
    <span class="progress-text">{{campanha?.cliente?.empresa}}</span>
    <span class="progress-number"><b>{{campanha?.total_aplicacoes}}</b>/{{campanha?.total_qtde}}</span>
  
    <div class="progress sm">
      <div [class]="'progress-bar progress-bar-'+[infobox?.corBox]" 
           [style.width]="[percentualAtingido(campanha?.total_aplicacoes, campanha?.total_qtde)]+'%'"></div>
    </div>
  </div>
</a>
