<!-- Page Header-->


<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/
		<a (click)="consultar()">
			Manutenção
		</a>
		/ Consultar Item
	</ul>
</div>

<ol class="breadcrumb">
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Manter Item</h2>
      </div>
    </header>
</ol>
<!-- Page Header-->

<section>
    <!--Início Filtros de consulta-->
    <div class="container" style="min-height: 420px;">
        <form [formGroup]="formulario" name="form">
            <fieldset>
                <div class="form-group">
                    <div class="row col-xs-6" [ngClass]="aplicaClasseDeErro(formulario, nameItem)">
                        <label class="control-label">Item</label>
                        <input  [id]="nameItem"
                                [formControlName]="nameItem"
                                [name]="nameItem"
                                class="form-control"
                                type="text"
                                maxlength="100">
                        <app-required-field [show]="validaSeCampoValido(formulario, nameItem)"></app-required-field>
                    </div>

                    <div class="clearfix"></div>
                    <app-seleciona-unidade [idBase]="'item'"
                                 [label]="'Unidade Responsável'"
                                 [name]="'unidade'"
                                 [required]="true"
                                 [formulario]="formulario"
                                 [disabled]="false"
                                 [showButtons]="true"
                                 [class]="'col-md-4'">
                    </app-seleciona-unidade>                    
                    <div class="clearfix"></div>
                    <div class="row col-xs-12" [ngClass]="aplicaClasseDeErro(formulario, nameSituacao)">
                        <label class="control-label">Situação</label>
                        <br>
                        <ng-container *ngFor="let situacao of situacoes">
                            <label class="radio-inline">
                                <input  [id]="situacao.id"
                                        [formControlName]="nameSituacao"
                                        [name]="nameSituacao"
                                        type="radio"
                                        [value]="situacao.value"
                                        [checked]="situacao.value == item.situacao"
                                >
                                <label class="label-normal" for="{{ situacao.value }}">{{ situacao.text }}</label>
                            </label>
                        </ng-container>
                        <app-required-field [show]="validaSeCampoValido(formulario, nameSituacao)"></app-required-field>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-xs-6" [ngClass]="aplicaClasseDeErro(formulario, nameAssunto)">
                        <label class="control-label">Assunto</label>
                        <br>
                        <div class="box-inline">
                            <select [id]="nameAssunto"
                                    [formControlName]="nameAssunto"
                                    [name]="nameAssunto"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let item of assuntos"
                                        [ngValue]="item">
                                    {{item.noAssunto}}
                                </option>
                            </select>
                        </div>
                        <app-required-field [show]="validaSeCampoValido(formulario, nameAssunto)"></app-required-field>
                    </div>
                </div>

                <div class="row col-xs-12">
                    <button class="btn btn-primary" (click)="pesquisar()">
                            <span class="fa fa-search fa-fw"></span>&nbsp;Pesquisar Itens Cadastrados
                    </button>

                    <button class="btn btn-primary" (click)="incluirNovoItem()">
							<span class="fa fa-plus fa-fw"></span>&nbsp;Incluir Novo Item
                    </button>

                    <button class="btn btn-primary" (click)="limpar()">
						<span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
                    </button>

                    <button class="btn btn-primary" >
                            <span class="fa fa-search fa-fw"></span>&nbsp;Histórico do Item
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <!--Fim Filtros de consulta-->

    <!--Início Tabela que exibe os resultados da consulta-->
    <div class="container" style="min-height: 420px;">
        <app-siouv-table [dataList]="dataList" 
                         (emitEdit)="alterar($event)"
                         (emitDelete)="excluir($event)">

        </app-siouv-table>
    </div>
    <!--Fim Tabela que exibe os resultados da consulta-->
</section>
<named-outlet name="footer"></named-outlet>
