<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12" *ngIf="elegiveis?.length === 0">
            <p class="lead text-center">
                Nenhum elegível cadastrado nesta campanha.
            </p>
        </div>
        <!-- MAP & BOX PANE -->
        <div class="box box-info" *ngIf="elegiveis?.length">
            <div class="box-header with-border">
                <h3 class="box-title" *ngIf="campanha !== undefined">{{campanha?.cliente}} - {{campanha?.campanha}}: Lista de Elegíveis</h3>
                <h3 class="box-title" *ngIf="campanha === undefined">Lista de Elegíveis</h3>
            </div>
            <div class="box-body">
                <div id="tbelegiveis_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <form [formGroup]="searchForm">
                            <div class="col-sm-1 col-md-2 col-xs-4">
                                <ic-input-container [showTip]="false">
                                    <input type="text" formControlName="searchControl" [value]="cpfBusca" class="form-control" placeholder="Informe CPF">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </ic-input-container>
                            </div>
                            <div class="col-sm-1 col-md-2 col-xs-4">
                                <button type="submit" [disabled]="searchForm.invalid" (click)="selecionarElegiveis()" class="btn btn-primary btn-block btn-flat">Buscar Elegíveis</button>
                            </div>
                            <!--
                            <div class="col-sm-1 col-md-2 col-xs-4">
                                <ic-option-container  [options]="selectOptions" formControlName="selOption"></ic-option-container>
                            </div>
                            -->
                        </form>
                    </div>

                    <div class="row" *ngIf="elegiveis?.length">
                        <div class="col-sm-12 col-xs-12">
                            <table id="tbelegiveis" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="tbelegiveis_info">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending">CNPJ</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 140px;" aria-sort="ascending">CPF</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 60px;">Matric.</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 480px;">Nome</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Sexo</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 100px;">Dt.Nasc</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Dep.</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 140px;">CPF Resp.</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: 300px;">Vacina</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Lote</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Aplicacao</th>
                                        <th tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" style="width: auto;">Enfermeiro(a)</th>
                                    </tr>
                                </thead>

                                <tbody *ngFor="let elegivel of elegiveis; let i = index">

                                    <tr role="row" class="even" [style.background-color]="[retornaZebra(i)]">
                                        <td class="sorting_1">{{elegivel?.cnpj}}</td>
                                        <td class="sorting_2">{{elegivel?.cpf}}</td>
                                        <td>{{elegivel?.matricula}}</td>
                                        <td>{{elegivel?.nome}}</td>
                                        <td>{{elegivel?.sexo}}</td>
                                        <td>{{elegivel?.dtnasc | date: 'dd/MM/yyyy' }}</td>

                                        <td *ngIf="elegivel?.dependente; then YesDepCell else NoDepCell"></td>
                                        <ng-template #YesDepCell>
                                            <td>SIM</td>
                                        </ng-template>
                                        <ng-template #NoDepCell>
                                            <td>NÃO</td>
                                        </ng-template>



                                        <td *ngIf="elegivel?.dependente && elegivel?.cpf !== elegivel?.cpfresp; then YesCPFCell else NoCPFCell"></td>
                                        <!-- <td *ngIf="!elegivel?.dependente || elegivel?.cpf === elegivel?.cpfresp"></td> -->

                                        <ng-template #YesCPFCell>
                                            <td>{{elegivel?.cpfresp}}</td>
                                        </ng-template>
                                        <ng-template #NoCPFCell>
                                            <td></td>
                                        </ng-template>

                                        <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1">{{elegivel?.desc_produto}}</td>
                                        <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1">{{elegivel?.num_lote}}</td>
                                        <!-- <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1" *ngIf="elegivel?.aplicacao">{{elegivel?.data | date: 'dd/MM/yyyy' }}</td> -->

                                        <td *ngIf="elegivel?.data; then YesAplicacaoCell else NoAplicacaoCell"></td>
                                        <ng-template #YesAplicacaoCell>
                                            <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1">{{elegivel?.data | date: 'dd/MM/yyyy' }}</td>
                                            <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1">{{elegivel?.enfermeiro}}</td>
                                        </ng-template>
                                        <ng-template #NoAplicacaoCell>
                                            <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1"></td>
                                            <td tabindex="0" aria-controls="tbelegiveis" rowspan="1" colspan="1"></td>
                                        </ng-template>

                                    </tr>
                                </tbody>
                                <!--
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">#</th>
                                        <th rowspan="1" colspan="1">Browser</th>
                                        <th rowspan="1" colspan="1">Platform(s)</th>
                                        <th rowspan="1" colspan="1">Engine version</th>
                                        <th rowspan="1" colspan="1">CSS grade</th>
                                    </tr>
                                </tfoot>
                            -->
                            </table>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="tbelegiveis_info" role="status" aria-live="polite">Exibindo de 1 até 100 de {{campanha.total_elegiveis}}</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="tbelegiveis_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="tbelegiveis_previous">
                                        <a href="#" aria-controls="tbelegiveis" data-dt-idx="0" tabindex="0">Previous</a>
                                    </li>
                                    <li class="paginate_button active">
                                        <a href="#" aria-controls="tbelegiveis" data-dt-idx="1" tabindex="0">1</a>
                                    </li>
                                    <li class="paginate_button ">
                                        <a href="#" aria-controls="tbelegiveis" data-dt-idx="2" tabindex="0">2</a>
                                    </li>
                                    <li class="paginate_button next" id="tbelegiveis_next">
                                        <a href="#" aria-controls="tbelegiveis" data-dt-idx="3" tabindex="0">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                -->
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- ELEGIVEIS -->
