<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p align="justify" 
     class="text-dialog">
    {{ text }}
  </p>
  <ic-input-text [form]="form"
                 [name]="name"
                 [required]="required"
                 [placeholder]="placeholder"
                 [type]="type"
                 [clazz]="['col-md-12']">
  </ic-input-text>
</div>
<mat-dialog-actions align="end">
  <div class=text-right>
    <label class="btn btn-primary btn-space" *ngIf="confirmLabel">
      <span>{{ confirmLabel }}</span>
      <button mat-button 
              [mat-dialog-close]="getValue()"
              cdkFocusInitial 
              style="display: none;">
      </button>
    </label>
    <label class="btn btn-danger btn-space" *ngIf="cancelLabel">
      <span>{{ cancelLabel }}</span>
      <button mat-button
              (click)="onNoClick()"
              style="display: none;">
      </button>
    </label>
  </div>
</mat-dialog-actions>
