<ion-header>
  <ion-navbar color="clean">
    <ion-title>Elegível</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="info-header">
    <ic-input-select [id]="nameCampanha"
                     [form]="form"
                     [name]="nameCampanha"
                     [required]="true"
                     placeholder="Campanha"
                     [value]="'_id'"
                     [text]="'campanha'"
                     [options]="getCampaigns()"
                     (eventChange)="changeCampaign($event)">
    </ic-input-select>
  </div>    
  <ion-list [id]="idDivForm">
    <ic-input-text [id]="nameMatricula"
                   [form]="form"
                   [name]="nameMatricula"
                   [required]="true"
                   placeholder="Matrícula">
    </ic-input-text>

    <ic-input-cpf [id]="nameCpf"
                  [form]="form"
                  [name]="nameCpf"
                  [required]="true"
                  placeholder="CPF"
                  [value]="cpf"
                  [disabled]="true">
    </ic-input-cpf>

    <ic-input-text [id]="nameNome"
                   [form]="form"
                   [name]="nameNome"
                   [required]="true"
                   placeholder="Nome">
    </ic-input-text>

    <div style="margin-top: 15px">
      <ic-input-radio [id]="nameDependente"
                      [form]="form"
                      [name]="nameDependente"
                      [required]="true"
                      label="Dependente"
                      [options]="simNaoList()"
                      [value]="'bool'"
                      [text]="'text'"
                      [checked]="getNao()"
                      [style]="{ 'margin': '-1px 0 0px' }"
                      (eventChange)="changeDependente($event)">
      </ic-input-radio>

      <div [id]="idDivCpfresp">
        <ic-input-cpf [id]="nameCpfresp"
                      [form]="form"
                      [name]="nameCpfresp"
                      [required]="isDependente()"
                      placeholder="CPF Responsável">
        </ic-input-cpf>
      </div>
    </div>
    
    <ic-input-date [id]="nameDtnasc"
                   [form]="form"
                   [name]="nameDtnasc"
                   [required]="true"
                   placeholder="Data Nascimento"
                   [maxDate]="currentDate">
    </ic-input-date>

    <ic-input-select [id]="nameSexo"
                     [form]="form"
                     [name]="nameSexo"
                     [required]="true"
                     placeholder="Sexo"
                     [value]="'value'"
                     [text]="'text'"
                     [options]="sexoList()">
    </ic-input-select>

    <ic-input-email [id]="nameEmail"
                    [form]="form"
                    [name]="nameEmail"
                    [required]="true"
                    placeholder="E-mail">
    </ic-input-email>

    <ic-input-select [id]="nameCnpj"
                     [form]="form"
                     [name]="nameCnpj"
                     [required]="true"
                     placeholder="CNPJ"
                     [options]="getFiliais()"
                     [text]="['cnpj', 'filial']"
                     [concat]="' - '"
                     [value]="'cnpj'">
    </ic-input-select>

    <div class="center">
      <ic-button [text]="'Salvar'"
                 (eventClick)="save($event)">
      </ic-button>
    </div>
    <div class="info-header">
      Cadastro de Elegível
    </div>
  </ion-list>
</ion-content>