<div class="col-md-6" *ngIf="cnpjTotais && cnpjTotais.length > 0">
    <div class="box-header">
        <h3 *ngIf="!campanha" class="box-title">Dados das Vacinações</h3>
        <h3 *ngIf="campanha" class="box-title">Dados das Vacinações por CNPJ- {{campanha?.cliente?.empresa}}: {{campanha?.campanha}}</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="height:280px; overflow-y: scroll;">
        <!--
        <table class="table">
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 10px">Indicador</th>
                <th style="width: 60%">Progressão</th>
                <th style="width: 40px">Percentual</th>
            </tr>
        </table>
    -->
        <div class="box-body no-padding">
            <table class="table"  *ngIf="cnpjTotais.length > 0">
                <tr>
                    <th style="width: 10px">#</th>
                    <th style="width: 15px">CNPJ</th>
                    <th style="width: 10px">Total Aplic.</th>
                    <th style="width: 35%">Status de Vacinação por CNPJ</th>
                    <th style="width: 30px">Percentual</th>
                </tr>
                <tr  *ngFor="let cnpjT of cnpjTotais; let i = index; ">
                    <td>#.</td>
                    <td *ngIf="cnpjT.cnpj_aplicacoes > 0">{{formatarCNPJ(cnpjT.cnpj)}}</td>
                    <td *ngIf="cnpjT.cnpj_aplicacoes > 0">{{cnpjT.cnpj_aplicacoes}}</td>
                    <td>
                        <div class="progress progress-xs">
                            <div [class]="'progress-bar progress-bar-'+[getInfoBox(i)]" [style.width]="[percentualAtingido(cnpjT.cnpj_aplicacoes, campanha.total_aplicacoes)]+'%'"></div>
                        </div>
                    </td>
                    <td *ngIf="cnpjT.cnpj_aplicacoes > 0">
                        <span [class]="'badge bg-'+[getInfoBox(i)]">{{percentualAtingido(cnpjT.cnpj_aplicacoes, campanha.total_aplicacoes)}}%</span>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
