body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ECF0F2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    display: none;
}

.navbar-inverse {
    border:none !important;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #D2E1E4;
    -webkit-transition: width .2s ease
    -in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}

.sidebar-nav li.dropdown-header:before {
    background-color:#f6f6f7;
}

.sidebar-nav li li:before {
    background-color:#eee;
}
.caret {
    position: absolute;
    right: 8px;
    top: 15px;
}

.dropdown-header {
    padding: 2px 20px 2px 15px !important;
    color:#296FA7;
}
.dropdown-menu li {
    padding: 0px 5px 0px 15px;
}
.menu_separador {
    border-top: 1px solid #CAC5C5;
}
.menu_tit::before,
.menu_item::before {
    font-family: "FontAwesome";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}
.menu_tit::before {
    content: "\f101"; /* ICONE seta dupla */ 
}
.menu_item::before {
    content: "\f105"; /* ICONE seta simples */ 
}
/*
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}*/
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px 5px 6px 15px;
    font-size: 12px;
    white-space: normal;
}
.sidebar-nav li li a {
    padding: 3px 5px 3px 15px;
}

.sidebar-nav i {
    color:#296FA7;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #296FA7;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav li li a:hover,
.sidebar-nav li li a:active,
.sidebar-nav li li a:focus,
.sidebar-nav li.open li a:hover,
.sidebar-nav li.open li a:active,
.sidebar-nav li.open li a:focus{
    color: #ED7902;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 80px;
    background: #277CB5;
	background-image: linear-gradient(to right, #005ca9,#0E6BA9);
    border-top:2px solid #ED7902;
}
.menu_logo {
    padding: 10px 0px 0px 30px;
}
.barra_tit {
    background-color: #296FA7;
}
.nome_sis {
	color: #fff;
	font-size: 12px;
    text-transform: uppercase;
    padding: 12px 0px 0px 20px;
}
.sidebar-brand img {
    /*padding: 16px 5px;*/
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #F6F6F7;
    box-shadow: none;
}

/*-------------------------------*/
/*       MenuSidebar-Cross         */
/*-------------------------------*/

.menusidebar {
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 0px;
  background: #296FA7;
  border: none;
  border-radius:0px 6px 6px 0px;
}
.menusidebar:hover,
.menusidebar:focus,
.menusidebar:active {
  outline: none;
}
.menusidebar.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.menusidebar.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.menusidebar.is-closed .hamb-top,
.menusidebar.is-closed .hamb-middle,
.menusidebar.is-closed .hamb-bottom,
.menusidebar.is-open .hamb-top,
.menusidebar.is-open .hamb-middle,
.menusidebar.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.menusidebar.is-closed .hamb-top,
.menusidebar.is-closed .hamb-middle,
.menusidebar.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.menusidebar.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.menusidebar.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.menusidebar.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.menusidebar.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.menusidebar.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.menusidebar.is-open .hamb-top,
.menusidebar.is-open .hamb-middle,
.menusidebar.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.menusidebar.is-open .hamb-top,
.menusidebar.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.menusidebar.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.menusidebar.is-open .hamb-middle { display: none; }
.menusidebar.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.menusidebar.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.menusidebar.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.btn_menu {
    font-size: 18px;
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
}
.btn_menu i {
    color:#fff;
    padding: 7px 0px 0px 6px;
}
.btn_menu i:hover {
    color:#ED7902
}
.botao_fechar {
    cursor: pointer;
    -webkit-transition: all .35s ease-in-out;
    color:#000;
    font-size: 14px;
    color:#fff !important;
}
#bt_fechar {
    float: right;
    margin-top: 10px;
    margin-right:-15px;
}
.botao_fechar:hover {
    color:#ED7902 !important;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
.logo_img {
    text-align: center;
    padding: 5% 0%;
}
.image_canto {
    position: fixed;
    bottom: 0;
    right: 0;
}
@media (max-width: 800px) {
    .logo_img img {
        width: 500px;
    }
  }
.image_canto img {
    width: 120px;
}