<named-outlet name="header"></named-outlet>

<div id="wrapper" [(class)]="wrapperClass">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <div class="menu_logo">
                    <img src="./assets/images/caixa.svg" alt="Caixa" width="150px" />
                </div>
            </li>

            <li class="barra_tit">
                <div data-toggle="offcanvas" [(class)]="currentClass" (click)="toggleMenu();" id="bt_fechar" title="Fechar menu">
                   <i class="fa fa-close botao_fechar"></i>
                </div>
                <div class="nome_sis">atendimento.caixa</div>
            </li>

            <li><a href="#" (click)="toggleMenu()"><i class="fa fa-home"></i> Página Inicial</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs"></i> Administração
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li *appPermissaoRecursos="['ModuloManutencao-TextoAbertura-Leitura',
                        'ModuloManutencao-TextoAbertura-Escrita']">
                        <a (click)="toggleMenu();" routerLink="/texto-abertura/novo" class="menu_item">
                            Texto de Abertura</a></li>

                    <li *appPermissaoRecursos="[
                        'ModuloManutencao-TipoOrigem-Escrita',
                        'ModuloManutencao-TipoOrigem-Leitura']"
                        class="menu_separador">
                        <a (click)="toggleMenu();" routerLink="/origem/" class="menu_item">
                            Gerenciar Origem</a></li>
                    <li *appPermissaoRecursos="['MANUTENCAO-PARAMETROORIGEMNATUREZA-LEITURA',
                            'MANUTENCAO-PARAMETROORIGEMNATUREZA-ESCRITA']">
                            <a (click)="toggleMenu();" routerLink="/parametro-origem-natureza/" class="menu_item">
                                Gerenciar Parâmetro Origem</a></li>
                    <li *appPermissaoRecursos="['ModuloOcorrencia-Natureza-Leitura',
                        'ModuloOcorrencia-Natureza-Escrita']">
                        <a (click)="toggleMenu();" routerLink="/natureza/" class="menu_item">
                            Gerenciar Natureza</a></li>
                    <li *appPermissaoRecursos="['ModuloOcorrencia-Assunto-Leitura',
                    'ModuloOcorrencia-Assunto-Escrita']">
                        <a (click)="toggleMenu();" routerLink="/assunto/" class="menu_item">
                            Gerenciar Assunto</a></li>
                    <li *appPermissaoRecursos="['ModuloComum-Unidade-Leitura',
                        'ModuloComum-Uf-Leitura',
                        'ModuloManutencao-Item-Escrita',
                        'ModuloManutencao-Item-Leitura']">
                        <a (click)="toggleMenu();" routerLink="/manter-item/" class="menu_item">
                            Gerenciar Item</a></li>
                    <li *appPermissaoRecursos="['ModuloOcorrencia-Motivo-Leitura',
                        'ModuloOcorrencia-Motivo-Escrita', 
                        'ModuloOcorrencia-Natureza-Leitura']">
                        <a (click)="toggleMenu();" routerLink="/motivo/" class="menu_item">
                            Gerenciar Motivo</a></li>
                    <li *appPermissaoRecursos="['ModuloOcorrencia-Ocorrencia-Leitura',
                                                'ModuloOcorrencia-Ocorrencia-Escrita']">
                    <a (click)="toggleMenu();" routerLink="/redirecionamento-ocorrencia/" class="menu_item">
                            Gerenciar Redirecionamento Ocorrência</a></li>
                    <li *appPermissaoRecursos="[
                        'ModuloManutencao-TipoOrigem-Escrita',
                        'ModuloManutencao-TipoOrigem-Leitura']">
                        <a (click)="toggleMenu();" routerLink="/unidade-sem-ocorrencia/" class="menu_item">
                            Gerenciar Unidade sem Ocorrencia</a></li>

                    <li *appPermissaoRecursos="['MANUTENCAO-UNIDADESNDC',
                        'MANUTENCAO-UNIDADESNDC-ESCRITA', 
                        'MANUTENCAO-UNIDADESNDC-LEITURA']">
                        <a (click)="toggleMenu();" routerLink="/sndc/" class="menu_item">
                            Gerenciar Unidade SNDC</a></li>

                    <li *appPermissaoRecursos="['OCORRENCIA-CLASSIFICACAO',
                        'OCORRENCIA-CLASSIFICACAO-ESCRITA', 
                        'OCORRENCIA-CLASSIFICACAO-LEITURA']">
                        <a (click)="toggleMenu();" routerLink="/classificacao-ocorrencia/" class="menu_item">
                            Manter Classificação Ocorrência</a></li>
                    <li class="menu_separador">
                        <a (click)="toggleMenu();" routerLink="/seguranca/perfil/" class="menu_item">
                            Pesquisa de Perfil</a></li>
                    <li>
                        <a (click)="toggleMenu();" routerLink="/seguranca/perfil-recurso/" class="menu_item">
                            Cadastro de Recurso & Perfil</a></li>

                    <li *appPermissaoRecursos="['ModuloManutencao-CorreioEletronico-Leitura',
                        'ModuloManutencao-CorreioEletronico-Escrita',
                        'ModuloManutencao-TipoCorreioEltco-Leitura',
                        'ModuloManutencao-TipoCorreioEltco-Escrita']"
                        class="menu_separador">
                        <a (click)="toggleMenu();" routerLink="/correio-eletronico/" class="menu_item">
                            Configurar Correio Eletrônico</a></li>

                    <li *appPermissaoRecursos="['ModuloManutencao-GrauSatisfacao-Leitura',
                        'ModuloManutencao-GrauSatisfacao-Escrita']">
                        <a (click)="toggleMenu();" routerLink="/grau-satisfacao/" class="menu_item">
                            Gerenciar Grau Satisfação</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-file-text"></i> Pré-Ocorrências
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="menu_item">Tratar</a></li>
                    <li><a href="#" class="menu_item">Tratar BACEN</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-file-text-o"></i> Ocorrências
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header"><span class="menu_tit">Consultar</span></li>
                    <li><a href="#" class="menu_item">Interna</a></li>
                    <li><a (click)="toggleMenu();" routerLink="/ocorrencia/" class="menu_item">Consulta Parametrizada</a></li>

                    <li class="dropdown-header"><span class="menu_tit">Incluir</span></li>
                    <li><a (click)="toggleMenu();" class="menu_item">Interna</a></li>
                    <li><a (click)="toggleMenu();" class="menu_item">SAC</a></li>
                    <li><a (click)="toggleMenu();" class="menu_item">Ouvidoria</a></li>

                    <li class="dropdown-header"><span class="menu_tit">Tratar</span></li>
                    <li><a (click)="toggleMenu();" class="menu_item">Interna</a></li>
                    <li><a (click)="toggleMenu();" class="menu_item">SAC</a></li>
                    <li><a (click)="toggleMenu();" class="menu_item">Ouvidoria</a></li>
                </ul>
            </li>

            <!-- EXEMPLO -->
            <li class="dropdown" style="display: none;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-files-o"></i> Relatórios <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="menu_item"> Pesquisa de Satisfação</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bank"></i> Serviços BACEN
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="menu_item">Transmitir Pesquisa de Satisfação</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="btn_menu">
        <div [(class)]="currentClass" data-toggle="offcanvas" (click)="toggleMenu();" title="Abrir menu" id="bt_menu_abrir">
            <i class="fa fa-navicon"></i>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-loading-modal></app-loading-modal>
<app-alert-message></app-alert-message>
<app-confirm-message></app-confirm-message>