<div [formGroup]="form">
  <mat-form-field [ngClass]="clazz">
    <input matInput 
           [placeholder]="placeholder" 
           [formControlName]="name" 
           [errorStateMatcher]="matcher"
           minlength="{{ minlength }}" 
           maxlength="{{ maxlength }}"
           [mask]="cnpjMask"
           (blur)="validateField(form, name)">
    <mat-error *ngIf="validateFieldCnpj()">
      {{ msgValidCnpj() }}
    </mat-error>
    <mat-error *ngIf="validateRequired()">
      {{ msgRequiredField() }}
    </mat-error>
  </mat-form-field>
</div>