page-user-popover {
    .list-md {
        margin: 0px;

        .item-md {
            font-size: 13px;
            color: #000;
            height: 38px;
            min-height: 38px;
        }
    }
}
