
$background: #fff;
$backazul: #1CA4DE;
$backvermelho: #c92c2c;
$backcinza: #cccccc;
$background-menu: #dddfcf;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=32J0u0ks-hVjPq4ofm0zvd5Ld7Y */
$color-primary-0: #296FA7;	// Main Primary color */
$color-primary-1: #296FA7;
$color-primary-2: #296FA7;
$color-primary-3: #296FA7;
$color-primary-4: #296FA7;
$color-back-menu: #70B855;
$color-back-submenu: #e6f4e1;


$color-secondary-1-0: #8F410F;	// Main Secondary color (1) */
$color-secondary-1-1: #D0824F;
$color-secondary-1-2: #AF5F2B;
$color-secondary-1-3: #682900;
$color-secondary-1-4: #3F1900;

$color-secondary-2-0: #6C0C4F;	// Main Secondary color (2) */
$color-secondary-2-1: #9D3C80;
$color-secondary-2-2: #852066;
$color-secondary-2-3: #4F0037;
$color-secondary-2-4: #300021;

$color-alerta: #CC0000;

