// main.scss
/* inject:imports */
@import 'colors';
@import 'template';
/* endinject */

// Login

.body-login {
  background-image: url(../images/pulo.jpg);
  background-color: transparent !important;
  font-family: helvetica !important;
  margin: 8px !important;
}

// Continuação

//html,
body {
  font-family: "Open Sans", Helvetica, sans-serif !important;
  background-color: $background !important;
}

.loading {
  font-size: 20px;
  color: $color-primary-3;
  position: relative;
  top: 7px;
}

.padding-top {
  padding-top: 10px;
}

.campo-busca-personalizado {
  padding-left: 20px;
}

a {
  cursor: pointer;
}

/* -------------------- Formulário -------------------- */
.row {
  margin-bottom: 10px;
}

.error-form {
  font-size: 12px;
  color: red;
}

.success-form {
  font-size: 12px;
  color: $color-primary-3;
}

/* -------------  Titulos ------------------------------ */
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    line-height: 1.1;
    color: $color-primary-4 !important;
}
h1, h2, h3 {
  border-bottom: 2px solid $color-primary-3;
  padding-bottom: 10px;
  margin-top: 20px;
}
h1, .h1 {
    font-size: 28px !important;
}

h2, .h2 {
    font-size: 22px !important;
}

h3, .h3 {
    font-size: 18px !important;
}

h4, .h4 {
    font-size: 16px !important;
}

h5, .h5 {
    font-size: 14px !important;
}

h6, .h6 {
    font-size: 12px !important;
}

.nome-sistema{
    margin-left: 20px;
    h1 {
      border: none;
      font-size: 20px !important;
    }
}

.botao-topo {
  margin-top: 11px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  font-size: 16px;
}

.botoes-topo {
    display: inline-block;
    color: #fff;
    button {
        background: none;
        height: 45px;
        font-size: 12px;
        &:hover {
            color: #f5f5f5;
            box-shadow: 0 3px 10px rgba(0,0,0,.03), 0 3px 10px rgba(0,0,0,.08);
            background: #137123;
        }
    }
    margin-right: 10px;
    font-size: 12px;
}

/* -------------  Button ------------------------------ */
.botoes-form {
  text-align: right;
  display: block;
  width: 100%;
}

.botoes-lista {
  float: right;
  display: inline-block;
  text-align: right;
  margin: 10px;
}

.btn-link  {
  padding: 0;
}

.btn-link i {
  font-size: 16px;
}

.btn-link span {
  vertical-align: 1px;
}

/* -------------------- Validation -------------------- */
.required::after {
  font-size: 12px;
  content: ' *';
  color: red;
}

/* -------------------- Texto -------------------- */
.text-justify {
  text-align: justify;
}

.conteudo {
    margin-top: 133px;
    min-height: 400px;
    background-color: #fff;
}

/* Labels Sistema */
.dados-entidade {
  margin-bottom: 0px;

  &:hover {
    cursor: pointer;
  }
  span {
    display: inline-block;
      margin-right: 15px;
  }

  .btn-detalhe-entidade {
    font-size: 16px;
    float: right;
    cursor: pointer;
  }
}

.botoes-titulo {
  display: inline-block;
  float:right;
  margin-top: -10px;
}

.bg-default{
  background: #ddd;
}

.tabela-alunos-frequencia {
  input[type=text] {
    width: 40px;
  }
}

.menu-principal {
    position: fixed;
    top: 80px;
    z-index: 10;
    background: $color-back-menu;
    width: 100%;

    .dropdown {
        display: inline-block;
        margin-left: -5px;
        height: 40px;
        background: $color-back-menu;
        .btn {
          border-radius: none !important;
        }
        button {
            min-width: 140px;
            height: 40px;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            background: $color-back-menu;
            border-top: none;
            border-bottom: 1px solid $color-primary-2;
            border-right: 1px solid $color-primary-2;
            border-left: 1px solid $color-primary-2;
            border-radius: none;
            &:hover{
                border-bottom: 2px solid $color-primary-3;
                -webkit-box-shadow: inset 17px 22px 49px 20px rgba(63,149,36,0.49);
                -moz-box-shadow: inset 17px 22px 49px 20px rgba(63,149,36,0.49);
                box-shadow: inset 17px 22px 49px 20px rgba(63,149,36,0.49);
            }
        }

        // Submenu
        ul.dropdown-menu {
          background: $color-back-submenu;
          a {
            color: $color-primary-3;

            &:hover {
              background-color: $color-primary-1;
              color: #fff;
            }
          }
        }
    }

    .open>.dropdown-toggle.btn-default {
      &:focus, &.hover, &.active {
          color: white;
          background-color: $color-primary-2;
          border-color: $color-primary-0;
      }
    }
}

.alerta-sem-frequencia {
  text-decoration: underline;
  color: $color-alerta;
  font-weight: bold;
}

// Tabelas
.table {
    font-size: 12px;
    color: #222;
}

.table-bordered {
  tbody {
    tr {
      td, th {
        border: 1px solid #ddd;
      }
    }
  }

  tfoot {
    tr {
      td, th {
        border: 1px solid #ddd;
      }
    }
  }

  thead {
    tr {
      th {
        text-align: center;
      }
      td, th {
        border: 1px solid #ddd;
      }
    }
  }
}

//Retirando espaços da coluna que tem outra tabela dentro
td.tabela-interna{
  padding: 0px !important;

  .table {
    background: none;
  }
}

.table-form {
  tr {
    td, th {
      text-align: center;
      border: none !important;
      padding: 0px 10px;

      input.frequencia {
        width: 30px;
        height: 26px;
        font-size: 14px;
      }
    }
  }

  span.icon-form-freq {
    background: #fff;
    display: inline-block;
    width: 20px;
    height: 24px;
    padding: 4px 0px 20px;
    border: 1px solid #a9a9a9;
    border-left: none;
  }
  span.icon-form-motivo {
    background: #fff;
    display: inline-block;
    height: 18px;
    padding: 6px 4px 18px 4px;
    border: 1px solid #a9a9a9;
    border-left: none;
  }
}

/* Informações das modals */
.label-info-detalhe {
  font-weight: bold;
  display: inline-block;
}

.msg-sem-registros{
  padding: 15px;
  margin-top: 10px;
}

/* Tabs */
.nav-tabs {
  li {
    a {
      border-top: 4px solid $color-primary-2;
      &:hover {
        background: #ececec;
        border-radius: 0;
      }
    }
    &.active {
      a, a:focus, a:hover {
        color: #fff;
        background-color: #19882c;
        border-top: 4px solid #126620;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

.tab-content {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  min-height: 100px;
  margin-bottom: 30px;
}

.sub-tabs{
  margin-top: 10px;
  font-size: 12px;
  border-top: none;
}

.text-loading-cpf {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: $color-primary-3;
}

.caixa-busca {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: table;
  width: 100%;
}

.botoes-acao-lista {
  float: right;
  text-align: right;
}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  /*custom*/
  height: 9000px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.7;
  //background-color: rgba(255,0,0,0.5);
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FFF;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace-running {
  pointer-events: none;
}

.pace-running #loading-modal {
  display: block;
  opacity: 1;
  z-index: 999999;

}

#loading-modal.modal-static,
#loading-modal.modal-static .modal-content,
#loading-modal.modal-static .modal-dialog
{
  width: 200px;
  height: 110px;

}

#loading-modal.modal-static {
  position: fixed;
  top: 50%!important;
  left: 50%!important;
  margin-top: -100px;
  margin-left: -100px;
  overflow: visible!important;
}

#loading-modal.modal-static .modal-content i {
  font-size: 3em;
}

#loading-modal.modal-static .modal-content,
#loading-modal.modal-static .modal-dialog {
  padding: 0!important;
  margin: 0!important;
}

.topo-info {
  position: absolute;
  top: 60px;
  right: 10px;
  color: #ffffff;
  font-size: small;
}

.col-centered{
  float: none!important;
  margin: 0 auto;
}

.breadcrumb {
  background-color: #fff !important;
}