<!-- 
<div class="form-group">
  <div class="row card">
    <button (click)="atualizar()" class="btn btn-primary btn-block btn-flat">Atualizar</button>
    <section class="content" *ngIf="cargas?.length">
      <div class="row" *ngFor="let item of cargas; let i = index" style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
          <div class="col-sm-7">{{item.filename}}</div>
          <div class="col-sm-7">{{item.status}}</div>
      </div>
    </section>
  </div>
</div> -->