<!-- general form elements disabled -->
<div class="box box-info">
  <div class="box-header with-border">
      <h3 class="box-title">Dados de Usuário</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
      <form [formGroup]="usuarioForm">
          <!-- text input -->
          <div class="form-group">
              <div role="row">
                  <div class="col-sm-1 col-md-4 col-xs-4">
                      <label>Usuario</label>
                      <ic-input-container [showTip]="false">
                          <input type="text" formControlName="usuario" placeholder="Usuário" readonly="true" class="form-control" [value]="usuario?.usuario">
                          <span class="form-control-feedback"></span>
                      </ic-input-container>
                  </div>
                  <div class="col-sm-1 col-md-8 col-xs-8">
                      <label>Nome</label>
                      <ic-input-container [showTip]="false">
                          <input type="text" formControlName="nome" placeholder="Nome" readonly="true" class="form-control" [value]="usuario?.nome">
                          <span class="form-control-feedback"></span>
                      </ic-input-container>
                  </div>
              </div>
              <div role="row">
                  <div class="col-sm-1 col-md-12 col-xs-12">
                      <label>Email</label>
                      <ic-input-container [showTip]="false">
                          <input type="email" formControlName="email" placeholder="Email" readonly="true" class="form-control" [value]="usuario?.email">
                          <span class="form-control-feedback"></span>
                      </ic-input-container>
                  </div>
              </div>
              <div role="row" *ngIf="campanhas?.length > 0">
                  <div class="box-body no-padding">
                      <table class="table table-bordered table-striped dataTable" role="grid">
                          <tr>
                              <th style="width: 50px">Campanha</th>
                              <th style="width: 50%">Cliente</th>
                          </tr>
                          <tr  *ngFor="let campanha of campanhas">
                              <td style="width: 50px">{{campanha.campanha}}</td>
                              <td style="width: 50px">{{campanha.cliente}}</td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </form>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
