<!-- Page Header-->

<div class="col-md-12">
	<ul class="breadcrumb">
		<a routerLink="/home">
			Home
		</a>
		/ Histórico da Classificação da Ocorrência
	</ul>
</div>

<ol class="breadcrumb">
<header class="page-header">
  <div>
    <h2 class="no-margin-bottom">Histórico da Classificação da Ocorrência</h2>
  </div>
</header>
<!-- Page Header-->

<section>
  <div style="min-height: 420px;">
    <form [formGroup]="formulario" name="form">
      <fieldset>
        <div class="form-group">
          <div class="row col-md-4">
            <label class="control-label">
              Usuário
            </label>
            <input [id]="nameUsuario"
                   [formControlName]="nameUsuario"
                   [name]="nameUsuario"
                   class="form-control"
                   type="text"
                   maxlength="7"
                   [textMask]="{mask: matriculaMask, guide: false}">   
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12">
          <app-many-checkbox [list]="tiposOperacao" 
                             label="Operação" 
                             [name]="nameOperacao" 
                             inline="true"
                             [form]="formulario" 
                             itemDescription="noTipoOperacao">
          </app-many-checkbox>
        </div>

        <div class="clearfix"></div>
        <div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataInicio" 
                            [form]="formulario" 
                            placeholder="Data inicial" 
                            label="Período" 
                            required="true">
            </app-input-date>
          </div>
          <div class="col-md-2" style="padding-left: 0px;">
            <app-input-date [control]="nameDataFim" 
                            [form]="formulario" 
                            placeholder="Data Final" 
                            required="true">
            </app-input-date>
          </div>
        </div>

        <div class="clearfix"></div>
          <div class="row col-md-2 no-margin-bottom">
            <div class="form-group">
              <label class="control-label">
                Tipo de Ocorrência
              </label>
              <select [id]="nameTipoDeOcorrencia"
                      [formControlName]="nameTipoDeOcorrencia"
                      [name]="nameTipoDeOcorrencia"
                      class="form-control">
                  <option [ngValue]="null">Selecione</option>
                  <option *ngFor="let ocorrencia of tiposOcorrencia"
                          [ngValue]="ocorrencia">
                      {{ocorrencia.nome}}
                  </option>
              </select>
            </div>
          </div>

        <div class="clearfix"></div>
        <div class="col-md-12">
          <app-many-checkbox [list]="assuntos" 
                             label="Consulta Por" 
                             [name]="nameAssunto" 
                             inline="true"
                             [form]="formulario" 
                             itemDescription="text">
          </app-many-checkbox>
        </div>

          <div class="form-group">
            <div class="row col-md-4">
              <label class="control-label">
                Palavra Chave
              </label>
              <input [id]="namePalavra"
                     [formControlName]="namePalavra"
                     [name]="namePalavra"
                     class="form-control"
                     type="text"
                     maxlength="7">
            </div>
          </div>
        </fieldset>
      </form>
      
      <app-siouv-table [dataList]="dataList"
                     (emitDetail)="detalhar($event)">
      </app-siouv-table>

      <div class="row col-xs-12">
        <button id="btnPesquisarClassificacaoHistorico"
                type="submit"
                class="btn btn-warning"
                (click)="pesquisar()">
          <span class="fa fa-pencil fa-fw"></span>&nbsp;Pesquisar Histórico Classifiçacão
        </button>
        <button id="btnLimparClassificacaoHistorico"
                class="btn btn-danger"
                (click)="limpar()">
          <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
        </button>
        <button id="btnVoltarClassificacaoHistorico"
                class="btn btn-primary"
                (click)="voltar()">
          <span class="fa fa-reply"></span>&nbsp;Voltar
        </button>
      </div>
  </div>
</section>