<div class="col-md-12">
    <ul class="breadcrumb">
        <a (click)="irHome()">
              Home
        </a>
            /
         <a (click)="irManterOrigem()">
                Manter Origem
        </a>
            / {{titulo}} Origem
    </ul>
</div>
<ol class="breadcrumb">
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">{{titulo}} Origem</h2>
        </div>
</header>

<section>
    <div class="container" style="min-height: 420px;">
        <form [formGroup]="formulario" name="form">
            <fieldset>
                <div class="form-group">
                    <div class="row col-md-4" [ngClass]="aplicaClasseDeErro(formulario, nameOrigem)">
                        <app-required-label [title]="'Origem'"></app-required-label>
                            <input [id]="nameOrigem"
                                   [formControlName]="nameOrigem"
                                   [name]="nameOrigem"
                                   class="form-control"
                                   type="text"
                                   maxlength="15">
                                <app-required-field [show]="validaSeCampoValido(formulario, nameOrigem)"></app-required-field>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-xs-12">
                      <app-required-label [title]="'Tipo de Ocorrência'"></app-required-label>
                      <br>
                      <ng-container *ngFor="let item of tiposOcorrencia">
                        <label class="radio-inline">
                          <input [id]="item.id"
                                 [name]="item.id"
                                 [checked]="isCheckTiposOcorrencia(item)"
                                 type="checkbox"
                                 (change)="changeTouched(selectTipoOcorrenciaOrigem(item),
                                           $event.target.checked,
                                           origem.tiposOcorrenciaOrigem)"
                                >
                          <label class="label-normal" for="{{ item.id }}">{{ item.nome }}</label>
                        </label>
                      </ng-container>
                      <app-required-field [show]="validaSeCheckboxValidoList(tiposOcorrenciaTouched, 
                                                                            origem.tiposOcorrenciaOrigem)"
                                          [width]="40">
                      </app-required-field>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-xs-2" [ngClass]="aplicaClasseDeErro(formulario, nameSituacao)">
                      <app-required-label [title]="'Situação'"></app-required-label>
                      <br>
                      <div class="box-inline">
                            <select [id]="nameSituacao"
                                    [formControlName]="nameSituacao"
                                    [name]="nameSituacao"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let s of situacoes"
                                        [ngValue]="s.value">
                                    {{s.text}}
                                </option>
                            </select>
                        </div>
                      <app-required-field [show]="validaSeCampoValido(formulario, nameSituacao)"></app-required-field>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-2 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarProcedencia)">
                            <app-required-label [title]="'Solicitar Procedência'"></app-required-label>
                            <select [id]="nameSolicitarProcedencia"
                                    [formControlName]="nameSolicitarProcedencia"
                                    [name]="nameSolicitarProcedencia"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarProcedencia)"></app-required-field>
                        </div>
                    </div>
 
                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarNumeroRegistro)">
                            <app-required-label [title]="'Solicitar número de RDR'"></app-required-label>
                            <select [id]="nameSolicitarNumeroRegistro"
                                    [formControlName]="nameSolicitarNumeroRegistro"
                                    [name]="nameSolicitarNumeroRegistro"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarNumeroRegistro)"></app-required-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarNumeroProcon)">
                            <app-required-label [title]="'Solicitar Número PROCON'"></app-required-label>
                            <select [id]="nameSolicitarNumeroProcon"
                                    [formControlName]="nameSolicitarNumeroProcon"
                                    [name]="nameSolicitarNumeroProcon"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarNumeroProcon)"></app-required-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameAcordoAudiencia)">
                            <app-required-label [title]="'Acordo em Audiência'"></app-required-label>
                            <select [id]="nameAcordoAudiencia"
                                    [formControlName]="nameAcordoAudiencia"
                                    [name]="nameAcordoAudiencia"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameAcordoAudiencia)"></app-required-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarAvaliacaoConciliacao)">
                            <app-required-label [title]="'Solicitar Avaliação da Conciliação'"></app-required-label>
                            <select [id]="nameSolicitarAvaliacaoConciliacao"
                                    [formControlName]="nameSolicitarAvaliacaoConciliacao"
                                    [name]="nameSolicitarAvaliacaoConciliacao"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarAvaliacaoConciliacao)"></app-required-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarValorIndenizacao)">
                            <app-required-label [title]="'Solicitar Valor da Indenização'"></app-required-label>
                            <select [id]="nameSolicitarValorIndenizacao"
                                    [formControlName]="nameSolicitarValorIndenizacao"
                                    [name]="nameSolicitarValorIndenizacao"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarValorIndenizacao)"></app-required-field>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row col-md-4 no-margin-bottom">
                        <div class="form-group" [ngClass]="aplicaClasseDeErro(formulario, nameSolicitarUniRespConciliacao)">
                            <app-required-label [title]="'Solicitar Unidade Responsável pela Conciliação'"></app-required-label>
                            <select [id]="nameSolicitarUniRespConciliacao"
                                    [formControlName]="nameSolicitarUniRespConciliacao"
                                    [name]="nameSolicitarUniRespConciliacao"
                                    class="form-control">
                                <option [ngValue]="null">Selecione</option>
                                <option *ngFor="let sn of simNao"
                                        [ngValue]="sn.value">
                                    {{sn.text}}
                                </option>
                            </select>
                            <app-required-field [show]="validaSeCampoValido(formulario, nameSolicitarUniRespConciliacao)"></app-required-field>
                        </div>
                    </div>

                    <div class="row col-xs-12" >
                        <div class="form-group">
                            <div class="container" > 
                                <div class="table-responsive">
                                    <div class="row col-xs-12">
                                        <br>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="vertical-align: middle"><app-required-label [title]="'Prazos de Atendimento'"></app-required-label></th>
                                                </tr>
                                                <tr>
                                                    <th style="vertical-align: middle; width: 34%;"><app-required-label [title]="'Natureza'"></app-required-label></th> 
                                                    <th style="vertical-align: middle">Ocorrência Interna</th>   
                                                    <th style="vertical-align: middle">Ocorrência Ouvidoria</th> 
                                                    <th style="vertical-align: middle">Ocorrência SAC</th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let prazos of prazosOrigemNatureza; let indexRow = index;">
                                                    <tr>
                                                        <td>
                                                            <input  id="{{ 'row_' + indexRow }}"
                                                                    name="{{ 'row_' + indexRow }}"
                                                                    type="checkbox"
                                                                    maxlength="3"
                                                                    [checked]="isCheckedTeste(indexRow)"
                                                                    class="inputTablePrazosAtendimento"
                                                                    (change)="changeTouched(prazos, 
                                                                                                $event.target.checked, 
                                                                                                prazosOrigemNaturezaSelecionados)"
                                                            >
                                                            <label class="label-normal" for="{{ 'row_' + indexRow }}">{{ getNomeNatureza(prazos) }}</label>
                                                        </td>
                                                        <ng-container *ngFor="let prazo of prazos; let indexCol = index">
                                                            <td>
                                                                <input id="{{ 'row_' + indexRow + '_col_' + indexCol }}" 
                                                                       name="{{ 'row_' + indexRow + '_col_' + indexCol }}" 
                                                                       class="form-control"
                                                                       type="text" 
                                                                       class="inputTablePrazosAtendimento"
                                                                       maxlength="3"
                                                                       [value]="getValue(indexRow, indexCol)"
                                                                       (blur)="key( 'row_' + indexRow + '_col_' + indexCol, prazo, indexRow, indexCol)">
                                                            </td>
                                                        </ng-container>
                                                    </tr>
                                                </ng-container>    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-xs-12">
                        <button class="btn btn-warning" (click)="salvar()">
                            <span class="fa fa-pencil fa-fw"></span>&nbsp;Confirmar {{tituloBotao}}
                        </button>
                        <button class="btn btn-danger" (click)="limpar()">
                            <span class="fa fa-trash fa-fw"></span>&nbsp;Limpar Formulário
                        </button>
                        <button class="btn btn-primary" (click)="voltar()">
                            <span class="fa fa-reply"></span>&nbsp;Voltar
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
